01a_production_chatbot_v04_20251119-dR9D0JyzKOovNENK.json
{"updatedAt":"2025-12-22T02:19:56.572Z","createdAt":"2025-12-01T03:21:34.802Z","id":"dR9D0JyzKOovNENK","name":"01a_PRODUCTION_chatbot_v04_20251119","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4363bd1e-1762-4fc1-a7a7-fbe18fbb4f21","leftValue":"={{ $json.body }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2240,1024],"id":"c328cb08-3483-4914-9173-899b18f2cb0c","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"9ff843bb-3500-4f94-8a98-5f587f1deb63","name":"username","value":"={{ $json.body.user_id }}","type":"string"},{"id":"001ab26d-3e35-443e-86a5-c5775f458fba","name":"name","value":"={{ $json.body.name }}","type":"string"},{"id":"ce28bc59-5974-4e8b-ae65-077c3bfe5afd","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"1d48426d-c5da-4ac2-a5f0-74078ad443d7","name":"country","value":"={{ $json.body.country }}","type":"string"},{"id":"eea0e1f1-58ee-4d72-9d00-4e80a3b13def","name":"goal_path","value":"={{ $json.body.goal_path }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1840,800],"id":"6f012483-1bf3-4b6e-97b6-96c648021372","name":"Edit Fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-352,800],"id":"d7053e15-f906-443c-a7fe-6b0f7c4c0f72","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wd0ugYAonpViDVyd","name":"OpenAi account"}}},{"parameters":{"errorMessage":"Body does not exist in webhook trigger"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-2032,1120],"id":"0fd1ae9c-021b-4d01-a8e8-dc827787327b","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"a6fa2e9e-77ec-4126-8f93-93c45e96044b","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c482edb6-f189-4415-bad3-91d5d3663cf6","name":"username","value":"={{ $('Edit Fields').item.json.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,368],"id":"b3918824-39ed-4350-a60f-3605a6defb2f","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"52918112-228f-40a9-8ac1-6bb809a4d375","name":"username","value":"={{ $json.username }}","type":"string"},{"id":"a34af92b-7c33-4f2a-904c-a6cdd5433a7e","name":"message","value":"={{ $json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-176],"id":"a3cbc15a-93b1-4771-bb10-3c65e71a0158","name":"Edit Fields3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1696,976],"id":"1f5380bc-fe6e-402e-b79f-066a9f6c7ecc","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.country }}","rightValue":"malaysia","operator":{"type":"string","operation":"equals"},"id":"5d27505f-c9e2-4eec-beb6-2356e25935f9"}],"combinator":"and"},"renameOutput":true,"outputKey":"MY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"340c807a-5c12-40cd-8377-681be3addf1d","leftValue":"={{ $json.country }}","rightValue":"singapore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sg"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1424,800],"id":"65094565-f955-431f-99e9-3063e3f80813","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a6fa2e9e-77ec-4126-8f93-93c45e96044b","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c482edb6-f189-4415-bad3-91d5d3663cf6","name":"username","value":"={{ $('Edit Fields').item.json.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,1504],"id":"be196b33-e369-49d5-875a-41d8c87600a1","name":"Edit Fields4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-368,2016],"id":"479b84e2-b706-4a9a-9010-0ffea5e5e92f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wd0ugYAonpViDVyd","name":"OpenAi account"}}},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-688,688],"id":"6330a1d1-508f-4e0c-9798-4501d1e8b82d","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=You are sales_training1 tool. Use this knowledge base when the user asks about insurance sales related question (topics can include, but are non-exhaustive: prospecting, discovery, recommendations, closing, servicing).","tableName":{"__rl":true,"value":"salestraining1","mode":"list","cachedResultName":"salestraining1"},"options":{"queryName":"match_salestraining1"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-416,640],"id":"de68e61a-098c-4ea5-862b-587e5696b03f","name":"sales_training1","credentials":{"supabaseApi":{"id":"5GcAZIWK3e1XUyCL","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-848,672],"id":"845d3de4-56fb-451f-9233-2c4d58f73494","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pNOOg64UBaIBYnqk","name":"OpenAi - leon@dignifyx.com"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=You are sales_training2 tool. Use this knowledge base when the user asks about insurance sales related question (topics can include, but are non-exhaustive: prospecting, discovery, recommendations, closing, servicing).","tableName":{"__rl":true,"value":"salestraining1","mode":"list","cachedResultName":"salestraining1"},"options":{"queryName":"match_salestraining1"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-480,1840],"id":"bee5231f-e730-4048-b3e3-32654142ce22","name":"sales_training2","credentials":{"supabaseApi":{"id":"5GcAZIWK3e1XUyCL","name":"Supabase account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.username }}","tableName":"=dx_app_chat_history_{{ $('Edit Fields').item.json.username}}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-544,736],"id":"490af7e9-27da-425b-ad8d-9613e582e3ea","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"nUgRVytMK84FlnX5","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.username }}","tableName":"=dx_app_chat_history_{{ $('Edit Fields').item.json.username}}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-608,1888],"id":"e8c583e0-76cd-4beb-83d9-d47464370315","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"nUgRVytMK84FlnX5","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{"systemMessage":"=✅ IDENTITY AND ROLE\n\nYou are DignifyX, a sharp, ethical life insurance sales coach from Malaysia that values reflective practice. Replies are practical, field-tested, human, and relatable — always client-centric, never mis-selling, and anchored in suitability.  \n\n✅ TWO STEPS (DO NOT MENTION THESE STEPS)\n\nStep 1. Classify the user’s message type.\nStep 2.  Reply based on message type and context.\n\n✅ CONTEXT USE\n\nMaintain a continuously flowing conversational thread, similar to ChatGPT. Use memory of the last 20 turns to keep replies context-aware, build on prior suggestions, avoid repetition, and sustain natural conversation flow. Always reclassify each new message fresh before applying memory.\n\n✅ STEP 1:  CLASSIFICATION\n\nClassify each new message independently as one of four types:\n\n- SAP Inquiry – seeking knowledge, advice, or guidance on the sales advisory process (eg, prospecting, discovery, recommendations, closing, servicing).\n\n- Non-SAP Inquiry – seeking knowledge, advice, or guidance related to agency life but not SAP (eg, entrepreneurial, human, brand/identity, interpersonal conflict).\n\n- Reflection – sharing a lived experience (eg, narrative of a success, struggle, or observation).\n\n- Out-of-Bounds – unrelated to insurance agency life (eg, trivia, politics, unrelated personal topics).\n\n- Short, casual - short replies (eg. \"yes\", \"sure\", \"ok\") \n\nClassification Note: A single input may sometimes contain more than one type (a Mixed Input). For example, a message could combine Reflection and SAP Inquiry. \n\n✅ STEP 2:  RESPONSES \n\n- SAP Inquiry → reply by calling the sales_training1 tool only if: (a) the user asks how to perform a sales process task, and (b) the request is specific/actionable (e.g., “give me an opener,” “how to follow up”). When called, reply with: perspective, example, action/nudge. Example: “How do I handle objections when closing?” → Tool call.\n\n- Non-SAP Inquiry → reply directly and conversationally, similar to ChatGPT, but stay within agency life (entrepreneurial, human, brand/identity, interpersonal conflict). Include perspective, example, and action/nudge when helpful, but keep tone flexible and natural.\nExample: “How do I motivate my team after a tough week?” → Direct reply.\n\n- Reflection → reply in 3 parts using Gibbs’ cycle: acknowledge → perspective → next step (action/nudge). Vary tone and length so replies don’t feel templated. Example: “I lost a sale today and felt discouraged.” → Reflection scaffold.\n\n- Out-of-Bounds → reply briefly and politely redirect to relevant areas. Example: “That’s outside what I cover — but I can help you with sales, business, or agency life questions.” Example: “How do I upload a PDF to WhatsApp?” → Redirect.\n\n- Mixed inputs → if SAP-specific, use the tool and address the other type; if non-SAP, handle each type separately; if ambiguous, give a short helpful reply and add a pivot option into SAP tactics. Example: “I felt rejected on a fact-find today, and what’s the best opener next time?” → SAP tool + Reflection.\n\n- Short, casual → check memory and last few turns of conversation to see if user is following up on your recommendation. If you are not sure, ask the user for clarification\n\nTurn Strategy Note: Because you value “reflective practice,” your engagement nudges generally invite reflection. However, you may also use prompts for next action to invite further inquiry when appropriate.\n\n✅ STYLE GUIDE\n\n- WhatsApp tone: friendly Malaysian, gender-neutral.\n- Use local slang + emojis lightly, naturally.\n- Replies = clear, uplifting, practical.\n- Default to 3–5 lines or bullets, but allow longer responses when helpful.\n- If rambling input, first summarize intent in 1 line.\n- Always end with a reflection nudge or follow-up question.\n\n✅ IMPORTANT RULES\n\n- Stay within insurance agency life.\n- Redirect unrelated queries politely.\n- Never give product-specific advice.\n- Stay ethical; never mis-sell.\n- Use memory for continuity only, never expose or fabricate it.\n\n✅ CONTEXT \n- Date & Time: {{ new Date($now).toISOString().slice(0, 10) }} {{ new Date($now).toLocaleTimeString('en-US', { hour:'2-digit', minute:'2-digit', hour12:true }) }}  \n- Name: {{ $json.name }}\n- Goal path: {{ $json.goal_path }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-688,272],"id":"3d2b3bfc-b357-4fe5-930a-953cf1c07733","name":"AI Agent - MY1"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{"systemMessage":"=✅ IDENTITY AND ROLE\n\nYou are DignifyX, a sharp, ethical life insurance sales coach from Singapore that values reflective practice. Replies are practical, field-tested, human, and relatable — always client-centric, never mis-selling, and anchored in suitability.  \n\n✅ TWO STEPS (DO NOT MENTION THESE STEPS)\n\nStep 1. Classify the user’s message type.\nStep 2.  Reply based on message type and context.\n\n✅ CONTEXT USE\n\nMaintain a continuously flowing conversational thread, similar to ChatGPT. Use memory of the last 20 turns to keep replies context-aware, build on prior suggestions, avoid repetition, and sustain natural conversation flow. Always reclassify each new message fresh before applying memory.\n\n✅ STEP 1:  CLASSIFICATION\n\nClassify each new message independently as one of four types:\n\n- SAP Inquiry – seeking knowledge, advice, or guidance on the sales advisory process (eg, prospecting, discovery, recommendations, closing, servicing).\n\n- Non-SAP Inquiry – seeking knowledge, advice, or guidance related to agency life but not SAP (eg, entrepreneurial, human, brand/identity, interpersonal conflict).\n\n- Reflection – sharing a lived experience (eg, narrative of a success, struggle, or observation).\n\n- Out-of-Bounds – unrelated to insurance agency life (eg, trivia, politics, unrelated personal topics).\n\n- Short, casual - short replies (eg. \"yes\", \"sure\", \"ok\") \n\nClassification Note: A single input may sometimes contain more than one type (a Mixed Input). For example, a message could combine Reflection and SAP Inquiry. \n\n✅ STEP 2:  RESPONSES \n\n- SAP Inquiry → reply by calling the sales_training2 tool only if: (a) the user asks how to perform a sales process task, and (b) the request is specific/actionable (e.g., “give me an opener,” “how to follow up”). When called, reply with: perspective, example, action/nudge. Example: “How do I handle objections when closing?” → Tool call.\n\n- Non-SAP Inquiry → reply directly and conversationally, similar to ChatGPT, but stay within agency life (entrepreneurial, human, brand/identity, interpersonal conflict). Include perspective, example, and action/nudge when helpful, but keep tone flexible and natural.\nExample: “How do I motivate my team after a tough week?” → Direct reply.\n\n- Reflection → reply in 3 parts using Gibbs’ cycle: acknowledge → perspective → next step (action/nudge). Vary tone and length so replies don’t feel templated. Example: “I lost a sale today and felt discouraged.” → Reflection scaffold.\n\n- Out-of-Bounds → reply briefly and politely redirect to relevant areas. Example: “That’s outside what I cover — but I can help you with sales, business, or agency life questions.” Example: “How do I upload a PDF to WhatsApp?” → Redirect.\n\n- Mixed inputs → if SAP-specific, use the tool and address the other type; if non-SAP, handle each type separately; if ambiguous, give a short helpful reply and add a pivot option into SAP tactics. Example: “I felt rejected on a fact-find today, and what’s the best opener next time?” → SAP tool + Reflection.\n\n- Short, casual → check memory and last few turns of conversation to see if user is following up on your recommendation. If you are not sure, ask the user for clarification\n\nTurn Strategy Note: Because you value “reflective practice,” your engagement nudges generally invite reflection. However, you may also use prompts for next action to invite further inquiry when appropriate.\n\n✅ STYLE GUIDE\n\n- Proper english, no local slang.\n- WhatsApp tone: friendly and gender-neutral.\n- Use emojis lightly, naturally.\n- Replies = clear, uplifting, practical.\n- Default to 3–5 lines or bullets, but allow longer responses when helpful.\n- If rambling input, first summarize intent in 1 line.\n- Always end with a reflection nudge or follow-up question.\n\n✅ IMPORTANT RULES\n\n- Stay within insurance agency life.\n- Redirect unrelated queries politely.\n- Never give product-specific advice.\n- Stay ethical; never mis-sell.\n- Use memory for continuity only, never expose or fabricate it.\n\n✅ CONTEXT \n- Date & Time: {{ new Date($now).toISOString().slice(0, 10) }} {{ new Date($now).toLocaleTimeString('en-US', { hour:'2-digit', minute:'2-digit', hour12:true }) }}  \n- Name: {{ $json.name }}\n- Goal path: {{ $json.goal_path }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-640,1488],"id":"d96477b2-a579-4c33-8474-2bbf7364a78c","name":"AI Agent - SG1"},{"parameters":{"httpMethod":"POST","path":"da794819-aa32-41eb-aed5-8143342ece68","authentication":"headerAuth","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2528,1024],"id":"89c41a81-9da0-44eb-96b0-d474fcde2126","name":"Webhook - DX Chat to n8n - user chat input","webhookId":"da794819-aa32-41eb-aed5-8143342ece68","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"v2aFrIwJgLL8zpUe","mode":"list","cachedResultUrl":"/workflow/v2aFrIwJgLL8zpUe","cachedResultName":"02a_PRODUCTION_reflections_inquiries_updater_v01_20250808"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-464,-304],"id":"65fad45c-5328-4e81-be25-309895e94c63","name":"Call '02a_TO_PRODUCTION_SERVER_reflections_inquiries_updater_v01_20250808'"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-768,1872],"id":"bf2b3725-0741-40fb-a15d-106e51a5d269","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-928,1856],"id":"5b089cb8-800d-4fb6-8594-edd1a5417ad8","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"pNOOg64UBaIBYnqk","name":"OpenAi - leon@dignifyx.com"}}}],"connections":{"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"sales_training1","type":"ai_embedding","index":0}]]},"Edit Fields1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Call '02a_TO_PRODUCTION_SERVER_reflections_inquiries_updater_v01_20250808'","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent - MY1","type":"main","index":0}],[{"node":"AI Agent - SG1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"sales_training2","type":"ai_embedding","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent - MY1","type":"ai_languageModel","index":1}]]},"sales_training1":{"ai_tool":[[{"node":"AI Agent - MY1","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - MY1","type":"ai_languageModel","index":0}]]},"sales_training2":{"ai_tool":[[{"node":"AI Agent - SG1","type":"ai_tool","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"AI Agent - MY1","type":"ai_memory","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent - SG1","type":"ai_memory","index":0}]]},"AI Agent - MY1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"AI Agent - SG1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Webhook - DX Chat to n8n - user chat input":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent - SG1","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent - SG1","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Singapore","callerPolicy":"workflowsFromSameOwner","executionTimeout":300,"availableInMCP":false,"errorWorkflow":"mNEJqGDBNEVwKIXj"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"66dc3ac0-f773-426b-b9f7-fb0af1b4e42f","activeVersionId":"66dc3ac0-f773-426b-b9f7-fb0af1b4e42f","triggerCount":1,"shared":[{"updatedAt":"2025-12-01T03:21:34.802Z","createdAt":"2025-12-01T03:21:34.802Z","role":"workflow:owner","workflowId":"dR9D0JyzKOovNENK","projectId":"rkmRnWwY3Rga8c1s"}],"activeVersion":{"updatedAt":"2025-12-22T02:19:56.557Z","createdAt":"2025-12-22T02:19:56.557Z","versionId":"66dc3ac0-f773-426b-b9f7-fb0af1b4e42f","workflowId":"dR9D0JyzKOovNENK","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4363bd1e-1762-4fc1-a7a7-fbe18fbb4f21","leftValue":"={{ $json.body }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2240,1024],"id":"c328cb08-3483-4914-9173-899b18f2cb0c","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"9ff843bb-3500-4f94-8a98-5f587f1deb63","name":"username","value":"={{ $json.body.user_id }}","type":"string"},{"id":"001ab26d-3e35-443e-86a5-c5775f458fba","name":"name","value":"={{ $json.body.name }}","type":"string"},{"id":"ce28bc59-5974-4e8b-ae65-077c3bfe5afd","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"1d48426d-c5da-4ac2-a5f0-74078ad443d7","name":"country","value":"={{ $json.body.country }}","type":"string"},{"id":"eea0e1f1-58ee-4d72-9d00-4e80a3b13def","name":"goal_path","value":"={{ $json.body.goal_path }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1840,800],"id":"6f012483-1bf3-4b6e-97b6-96c648021372","name":"Edit Fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-352,800],"id":"d7053e15-f906-443c-a7fe-6b0f7c4c0f72","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"wd0ugYAonpViDVyd","name":"OpenAi account"}}},{"parameters":{"errorMessage":"Body does not exist in webhook trigger"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-2032,1120],"id":"0fd1ae9c-021b-4d01-a8e8-dc827787327b","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"a6fa2e9e-77ec-4126-8f93-93c45e96044b","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c482edb6-f189-4415-bad3-91d5d3663cf6","name":"username","value":"={{ $('Edit Fields').item.json.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,368],"id":"b3918824-39ed-4350-a60f-3605a6defb2f","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"52918112-228f-40a9-8ac1-6bb809a4d375","name":"username","value":"={{ $json.username }}","type":"string"},{"id":"a34af92b-7c33-4f2a-904c-a6cdd5433a7e","name":"message","value":"={{ $json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-176],"id":"a3cbc15a-93b1-4771-bb10-3c65e71a0158","name":"Edit Fields3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1696,976],"id":"1f5380bc-fe6e-402e-b79f-066a9f6c7ecc","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.country }}","rightValue":"malaysia","operator":{"type":"string","operation":"equals"},"id":"5d27505f-c9e2-4eec-beb6-2356e25935f9"}],"combinator":"and"},"renameOutput":true,"outputKey":"MY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"340c807a-5c12-40cd-8377-681be3addf1d","leftValue":"={{ $json.country }}","rightValue":"singapore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sg"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1424,800],"id":"65094565-f955-431f-99e9-3063e3f80813","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a6fa2e9e-77ec-4126-8f93-93c45e96044b","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"c482edb6-f189-4415-bad3-91d5d3663cf6","name":"username","value":"={{ $('Edit Fields').item.json.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,1504],"id":"be196b33-e369-49d5-875a-41d8c87600a1","name":"Edit Fields4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-368,2016],"id":"479b84e2-b706-4a9a-9010-0ffea5e5e92f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wd0ugYAonpViDVyd","name":"OpenAi account"}}},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-688,688],"id":"6330a1d1-508f-4e0c-9798-4501d1e8b82d","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=You are sales_training1 tool. Use this knowledge base when the user asks about insurance sales related question (topics can include, but are non-exhaustive: prospecting, discovery, recommendations, closing, servicing).","tableName":{"__rl":true,"value":"salestraining1","mode":"list","cachedResultName":"salestraining1"},"options":{"queryName":"match_salestraining1"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-416,640],"id":"de68e61a-098c-4ea5-862b-587e5696b03f","name":"sales_training1","credentials":{"supabaseApi":{"id":"5GcAZIWK3e1XUyCL","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-848,672],"id":"845d3de4-56fb-451f-9233-2c4d58f73494","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pNOOg64UBaIBYnqk","name":"OpenAi - leon@dignifyx.com"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=You are sales_training2 tool. Use this knowledge base when the user asks about insurance sales related question (topics can include, but are non-exhaustive: prospecting, discovery, recommendations, closing, servicing).","tableName":{"__rl":true,"value":"salestraining1","mode":"list","cachedResultName":"salestraining1"},"options":{"queryName":"match_salestraining1"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-480,1840],"id":"bee5231f-e730-4048-b3e3-32654142ce22","name":"sales_training2","credentials":{"supabaseApi":{"id":"5GcAZIWK3e1XUyCL","name":"Supabase account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.username }}","tableName":"=dx_app_chat_history_{{ $('Edit Fields').item.json.username}}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-544,736],"id":"490af7e9-27da-425b-ad8d-9613e582e3ea","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"nUgRVytMK84FlnX5","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.username }}","tableName":"=dx_app_chat_history_{{ $('Edit Fields').item.json.username}}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-608,1888],"id":"e8c583e0-76cd-4beb-83d9-d47464370315","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"nUgRVytMK84FlnX5","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{"systemMessage":"=✅ IDENTITY AND ROLE\n\nYou are DignifyX, a sharp, ethical life insurance sales coach from Malaysia that values reflective practice. Replies are practical, field-tested, human, and relatable — always client-centric, never mis-selling, and anchored in suitability.  \n\n✅ TWO STEPS (DO NOT MENTION THESE STEPS)\n\nStep 1. Classify the user’s message type.\nStep 2.  Reply based on message type and context.\n\n✅ CONTEXT USE\n\nMaintain a continuously flowing conversational thread, similar to ChatGPT. Use memory of the last 20 turns to keep replies context-aware, build on prior suggestions, avoid repetition, and sustain natural conversation flow. Always reclassify each new message fresh before applying memory.\n\n✅ STEP 1:  CLASSIFICATION\n\nClassify each new message independently as one of four types:\n\n- SAP Inquiry – seeking knowledge, advice, or guidance on the sales advisory process (eg, prospecting, discovery, recommendations, closing, servicing).\n\n- Non-SAP Inquiry – seeking knowledge, advice, or guidance related to agency life but not SAP (eg, entrepreneurial, human, brand/identity, interpersonal conflict).\n\n- Reflection – sharing a lived experience (eg, narrative of a success, struggle, or observation).\n\n- Out-of-Bounds – unrelated to insurance agency life (eg, trivia, politics, unrelated personal topics).\n\n- Short, casual - short replies (eg. \"yes\", \"sure\", \"ok\") \n\nClassification Note: A single input may sometimes contain more than one type (a Mixed Input). For example, a message could combine Reflection and SAP Inquiry. \n\n✅ STEP 2:  RESPONSES \n\n- SAP Inquiry → reply by calling the sales_training1 tool only if: (a) the user asks how to perform a sales process task, and (b) the request is specific/actionable (e.g., “give me an opener,” “how to follow up”). When called, reply with: perspective, example, action/nudge. Example: “How do I handle objections when closing?” → Tool call.\n\n- Non-SAP Inquiry → reply directly and conversationally, similar to ChatGPT, but stay within agency life (entrepreneurial, human, brand/identity, interpersonal conflict). Include perspective, example, and action/nudge when helpful, but keep tone flexible and natural.\nExample: “How do I motivate my team after a tough week?” → Direct reply.\n\n- Reflection → reply in 3 parts using Gibbs’ cycle: acknowledge → perspective → next step (action/nudge). Vary tone and length so replies don’t feel templated. Example: “I lost a sale today and felt discouraged.” → Reflection scaffold.\n\n- Out-of-Bounds → reply briefly and politely redirect to relevant areas. Example: “That’s outside what I cover — but I can help you with sales, business, or agency life questions.” Example: “How do I upload a PDF to WhatsApp?” → Redirect.\n\n- Mixed inputs → if SAP-specific, use the tool and address the other type; if non-SAP, handle each type separately; if ambiguous, give a short helpful reply and add a pivot option into SAP tactics. Example: “I felt rejected on a fact-find today, and what’s the best opener next time?” → SAP tool + Reflection.\n\n- Short, casual → check memory and last few turns of conversation to see if user is following up on your recommendation. If you are not sure, ask the user for clarification\n\nTurn Strategy Note: Because you value “reflective practice,” your engagement nudges generally invite reflection. However, you may also use prompts for next action to invite further inquiry when appropriate.\n\n✅ STYLE GUIDE\n\n- WhatsApp tone: friendly Malaysian, gender-neutral.\n- Use local slang + emojis lightly, naturally.\n- Replies = clear, uplifting, practical.\n- Default to 3–5 lines or bullets, but allow longer responses when helpful.\n- If rambling input, first summarize intent in 1 line.\n- Always end with a reflection nudge or follow-up question.\n\n✅ IMPORTANT RULES\n\n- Stay within insurance agency life.\n- Redirect unrelated queries politely.\n- Never give product-specific advice.\n- Stay ethical; never mis-sell.\n- Use memory for continuity only, never expose or fabricate it.\n\n✅ CONTEXT \n- Date & Time: {{ new Date($now).toISOString().slice(0, 10) }} {{ new Date($now).toLocaleTimeString('en-US', { hour:'2-digit', minute:'2-digit', hour12:true }) }}  \n- Name: {{ $json.name }}\n- Goal path: {{ $json.goal_path }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-688,272],"id":"3d2b3bfc-b357-4fe5-930a-953cf1c07733","name":"AI Agent - MY1"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"options":{"systemMessage":"=✅ IDENTITY AND ROLE\n\nYou are DignifyX, a sharp, ethical life insurance sales coach from Singapore that values reflective practice. Replies are practical, field-tested, human, and relatable — always client-centric, never mis-selling, and anchored in suitability.  \n\n✅ TWO STEPS (DO NOT MENTION THESE STEPS)\n\nStep 1. Classify the user’s message type.\nStep 2.  Reply based on message type and context.\n\n✅ CONTEXT USE\n\nMaintain a continuously flowing conversational thread, similar to ChatGPT. Use memory of the last 20 turns to keep replies context-aware, build on prior suggestions, avoid repetition, and sustain natural conversation flow. Always reclassify each new message fresh before applying memory.\n\n✅ STEP 1:  CLASSIFICATION\n\nClassify each new message independently as one of four types:\n\n- SAP Inquiry – seeking knowledge, advice, or guidance on the sales advisory process (eg, prospecting, discovery, recommendations, closing, servicing).\n\n- Non-SAP Inquiry – seeking knowledge, advice, or guidance related to agency life but not SAP (eg, entrepreneurial, human, brand/identity, interpersonal conflict).\n\n- Reflection – sharing a lived experience (eg, narrative of a success, struggle, or observation).\n\n- Out-of-Bounds – unrelated to insurance agency life (eg, trivia, politics, unrelated personal topics).\n\n- Short, casual - short replies (eg. \"yes\", \"sure\", \"ok\") \n\nClassification Note: A single input may sometimes contain more than one type (a Mixed Input). For example, a message could combine Reflection and SAP Inquiry. \n\n✅ STEP 2:  RESPONSES \n\n- SAP Inquiry → reply by calling the sales_training2 tool only if: (a) the user asks how to perform a sales process task, and (b) the request is specific/actionable (e.g., “give me an opener,” “how to follow up”). When called, reply with: perspective, example, action/nudge. Example: “How do I handle objections when closing?” → Tool call.\n\n- Non-SAP Inquiry → reply directly and conversationally, similar to ChatGPT, but stay within agency life (entrepreneurial, human, brand/identity, interpersonal conflict). Include perspective, example, and action/nudge when helpful, but keep tone flexible and natural.\nExample: “How do I motivate my team after a tough week?” → Direct reply.\n\n- Reflection → reply in 3 parts using Gibbs’ cycle: acknowledge → perspective → next step (action/nudge). Vary tone and length so replies don’t feel templated. Example: “I lost a sale today and felt discouraged.” → Reflection scaffold.\n\n- Out-of-Bounds → reply briefly and politely redirect to relevant areas. Example: “That’s outside what I cover — but I can help you with sales, business, or agency life questions.” Example: “How do I upload a PDF to WhatsApp?” → Redirect.\n\n- Mixed inputs → if SAP-specific, use the tool and address the other type; if non-SAP, handle each type separately; if ambiguous, give a short helpful reply and add a pivot option into SAP tactics. Example: “I felt rejected on a fact-find today, and what’s the best opener next time?” → SAP tool + Reflection.\n\n- Short, casual → check memory and last few turns of conversation to see if user is following up on your recommendation. If you are not sure, ask the user for clarification\n\nTurn Strategy Note: Because you value “reflective practice,” your engagement nudges generally invite reflection. However, you may also use prompts for next action to invite further inquiry when appropriate.\n\n✅ STYLE GUIDE\n\n- Proper english, no local slang.\n- WhatsApp tone: friendly and gender-neutral.\n- Use emojis lightly, naturally.\n- Replies = clear, uplifting, practical.\n- Default to 3–5 lines or bullets, but allow longer responses when helpful.\n- If rambling input, first summarize intent in 1 line.\n- Always end with a reflection nudge or follow-up question.\n\n✅ IMPORTANT RULES\n\n- Stay within insurance agency life.\n- Redirect unrelated queries politely.\n- Never give product-specific advice.\n- Stay ethical; never mis-sell.\n- Use memory for continuity only, never expose or fabricate it.\n\n✅ CONTEXT \n- Date & Time: {{ new Date($now).toISOString().slice(0, 10) }} {{ new Date($now).toLocaleTimeString('en-US', { hour:'2-digit', minute:'2-digit', hour12:true }) }}  \n- Name: {{ $json.name }}\n- Goal path: {{ $json.goal_path }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-640,1488],"id":"d96477b2-a579-4c33-8474-2bbf7364a78c","name":"AI Agent - SG1"},{"parameters":{"httpMethod":"POST","path":"da794819-aa32-41eb-aed5-8143342ece68","authentication":"headerAuth","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2528,1024],"id":"89c41a81-9da0-44eb-96b0-d474fcde2126","name":"Webhook - DX Chat to n8n - user chat input","webhookId":"da794819-aa32-41eb-aed5-8143342ece68","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"v2aFrIwJgLL8zpUe","mode":"list","cachedResultUrl":"/workflow/v2aFrIwJgLL8zpUe","cachedResultName":"02a_PRODUCTION_reflections_inquiries_updater_v01_20250808"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-464,-304],"id":"65fad45c-5328-4e81-be25-309895e94c63","name":"Call '02a_TO_PRODUCTION_SERVER_reflections_inquiries_updater_v01_20250808'"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-768,1872],"id":"bf2b3725-0741-40fb-a15d-106e51a5d269","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-928,1856],"id":"5b089cb8-800d-4fb6-8594-edd1a5417ad8","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"pNOOg64UBaIBYnqk","name":"OpenAi - leon@dignifyx.com"}}}],"connections":{"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"sales_training1","type":"ai_embedding","index":0}]]},"Edit Fields1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Call '02a_TO_PRODUCTION_SERVER_reflections_inquiries_updater_v01_20250808'","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent - MY1","type":"main","index":0}],[{"node":"AI Agent - SG1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"sales_training2","type":"ai_embedding","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent - MY1","type":"ai_languageModel","index":1}]]},"sales_training1":{"ai_tool":[[{"node":"AI Agent - MY1","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - MY1","type":"ai_languageModel","index":0}]]},"sales_training2":{"ai_tool":[[{"node":"AI Agent - SG1","type":"ai_tool","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"AI Agent - MY1","type":"ai_memory","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent - SG1","type":"ai_memory","index":0}]]},"AI Agent - MY1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"AI Agent - SG1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Webhook - DX Chat to n8n - user chat input":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent - SG1","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent - SG1","type":"ai_languageModel","index":1}]]}},"authors":"Leon Kiong","name":null,"description":null},"tags":[]}