02a_production_reflections_inquiries_updater_v01_20250808-v2aFrIwJgLL8zpUe.json
{"updatedAt":"2025-12-03T14:44:38.894Z","createdAt":"2025-12-01T03:43:06.662Z","id":"v2aFrIwJgLL8zpUe","name":"02a_PRODUCTION_reflections_inquiries_updater_v01_20250808","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1664,64],"id":"a18896ec-25e9-403f-95fa-b1282b795b7e","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=You are a classification engine that analyzes user messages submitted to a sales training chatbot.\n\nYour task is to:\n1. Detect if the message is a:\n   - \"reflection\": user is sharing what they did or experienced or an insight\n   - \"inquiry\": user is asking for help or learning something\n   - \"casual\": short replies like “ok”, “thanks”, “no”, “yes”, etc.\n\n2. Based on the type, return only this structure:\n\n- If type is \"reflection\", return:\n{\n  \"type\": \"reflection\",\n  \"tags\": [array of lowercase SAP substep tags],\n  \"bloom\": [array of Bloom’s Taxonomy tags],\n  \"idg\": [array of Inner Development Goals tags],\n  \"gibbs\": [array of Gibbs Reflection Cycle tags]\n}\n\n- If type is \"inquiry\", return:\n{\n  \"type\": \"inquiry\",\n  \"tags\": [array of lowercase SAP substep tags]\n}\n\n- If type is \"casual\", return:\n{\n  \"type\": \"casual\"\n}\n\nUse only these exact keyword sets:\n\n- tags (SAP): [\"leads\", \"outreach\", \"rapport\", \"context\", \"fact-find\", \"goals\", \"priorities\", \"problem\", \"design\", \"refine\", \"proposal\", \"rehearse\", \"present\", \"objections\", \"onboarding\", \"transition\", \"service\", \"review\", \"education\", \"referrals\"]\n- bloom: [\"remember\", \"understand\", \"apply\", \"analyze\", \"evaluate\", \"create\"]\n- idg: [\"inner compass\", \"integrity and authenticity\", \"openness learning mindset\", \"self-awareness\", \"presence\", \"critical thinking\", \"complexity awareness\", \"perspective skills\", \"sense-making\", \"long-term orientation and visioning\", \"appreciation\", \"connectedness\", \"humility\", \"empathy and compassion\", \"communication skills\", \"co-creation skills\", \"inclusive mindset and intercultural competence\", \"trust\", \"mobilisation skills\", \"courage\", \"creativity\", \"optimism\", \"perserverance\"]\n- gibbs: [\"description\", \"feelings\", \"evaluation\", \"analysis\", \"conclusion\", \"action plan\"]\n\nInclude multiple tags if the message contains multiple ideas or themes.\n\nExample input:\n\"How do I handle price objections better when the client says it's too expensive?\"\n\nExample output:\n{\n  \"type\": \"inquiry\",\n  \"tags\": [\"solution\"]\n}\n\nAnother example input:\n\"Today I met a couple who disagreed on their savings goals. I had to slow down the pitch and ask deeper questions before proceeding with the plan.\"\n\nExample output:\n{\n  \"type\": \"reflection\",\n  \"tags\": [\"fact-find\", \"presentation\", \"solution\"],\n  \"bloom\": [\"analyze\", \"evaluate\"],\n  \"idg\": [\"empathy and compassion\", \"communication skills\"],\n  \"gibbs\": [\"description\", \"analysis\", \"conclusion\"]\n}\n\nDo not explain. Only return the final JSON.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1360,64],"id":"cfc0ff9d-4869-4e36-ade4-0cbf90a5314f","name":"AI Agent2","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Try getting output from AI Agent2 first\nlet raw = $('AI Agent2').first()?.json?.output;\n\n// If not available, fallback to AI Agent\nif (!raw) {\n  raw = $('AI Agent').first()?.json?.output;\n}\n\n// Strip triple backticks and `json` label\nconst cleaned = raw.replace(/```json|```/g, '').trim();\n\n// Parse to object\nconst parsed = JSON.parse(cleaned);\n\n// Get other fields from trigger workflow\nconst triggerData = $('When Executed by Another Workflow').first().json;\nconst message = triggerData.message;\nconst username = triggerData.username;\n\n// Safe flatten with null checks\nreturn [\n  {\n    json: {\n      type: parsed.type,\n      tags: parsed.tags?.join(', ') || '',\n      bloom: parsed.bloom?.join(', ') || '',\n      idg: parsed.idg?.join(', ') || '',\n      gibbs: parsed.gibbs?.join(', ') || '',\n      message: message,\n      username: username\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"229c9b4b-1dd0-4e44-9272-f9bdcf4b69ab","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=You are a classification engine that analyzes user messages submitted to a sales training chatbot.\n\nYour task is to:\n1. Detect if the message is a:\n   - \"reflection\": user is sharing what they did or experienced or an insight\n   - \"inquiry\": user is asking for help or learning something\n   - \"casual\": short replies like “ok”, “thanks”, “no”, “yes”, etc.\n\n2. Based on the type, return only this structure:\n\n- If type is \"reflection\", return:\n{\n  \"type\": \"reflection\",\n  \"tags\": [array of lowercase SAP substep tags],\n  \"bloom\": [array of Bloom’s Taxonomy tags],\n  \"idg\": [array of Inner Development Goals tags],\n  \"gibbs\": [array of Gibbs Reflection Cycle tags]\n}\n\n- If type is \"inquiry\", return:\n{\n  \"type\": \"inquiry\",\n  \"tags\": [array of lowercase SAP substep tags]\n}\n\n- If type is \"casual\", return:\n{\n  \"type\": \"casual\"\n}\n\nUse only these exact keyword sets:\n\n- tags (SAP): [\"leads\", \"outreach\", \"rapport\", \"context\", \"fact-find\", \"goals\", \"priorities\", \"problem\", \"design\", \"refine\", \"proposal\", \"rehearse\", \"present\", \"objections\", \"onboarding\", \"transition\", \"service\", \"review\", \"education\", \"referrals\"]\n- bloom: [\"remember\", \"understand\", \"apply\", \"analyze\", \"evaluate\", \"create\"]\n- idg: [\"inner compass\", \"integrity and authenticity\", \"openness learning mindset\", \"self-awareness\", \"presence\", \"critical thinking\", \"complexity awareness\", \"perspective skills\", \"sense-making\", \"long-term orientation and visioning\", \"appreciation\", \"connectedness\", \"humility\", \"empathy and compassion\", \"communication skills\", \"co-creation skills\", \"inclusive mindset and intercultural competence\", \"trust\", \"mobilisation skills\", \"courage\", \"creativity\", \"optimism\", \"perserverance\"]\n- gibbs: [\"description\", \"feelings\", \"evaluation\", \"analysis\", \"conclusion\", \"action plan\"]\n\nInclude multiple tags if the message contains multiple ideas or themes.\n\nExample input:\n\"How do I handle price objections better when the client says it's too expensive?\"\n\nExample output:\n{\n  \"type\": \"inquiry\",\n  \"tags\": [\"solution\"]\n}\n\nAnother example input:\n\"Today I met a couple who disagreed on their savings goals. I had to slow down the pitch and ask deeper questions before proceeding with the plan.\"\n\nExample output:\n{\n  \"type\": \"reflection\",\n  \"tags\": [\"fact-find\", \"presentation\", \"solution\"],\n  \"bloom\": [\"analyze\", \"evaluate\"],\n  \"idg\": [\"empathy and compassion\", \"communication skills\"],\n  \"gibbs\": [\"description\", \"analysis\", \"conclusion\"]\n}\n\nDo not explain. Only return the final JSON.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-928,304],"id":"69f3a4d9-c05c-472d-8ee1-a42a1e968eee","name":"AI Agent","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-448,32],"id":"4f25550e-c516-4c02-94ec-0e425f14e990","name":"No Operation, do nothing"},{"parameters":{"errorMessage":"Error at ai agent in split flow reflections inquiry updater"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-528,528],"id":"ae3c7a92-d15c-4e8b-83ef-89d0d1a1af14","name":"Stop and Error"},{"parameters":{"method":"POST","url":"https://api.dignifyx.com/api/chat/n8n-chat-analyis","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token bW2w6gmPuXTvhKvB4p0PIi"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"user_id","value":"={{ $json.username }}"},{"name":"message","value":"={{ $json.message }}"},{"name":"=type","value":"={{ $json.type }}"},{"name":"tags","value":"={{ $json.tags }}"},{"name":"bloom","value":"={{ $json.bloom }}"},{"name":"idg","value":"={{ $json.idg }}"},{"name":"gibbs","value":"={{ $json.gibbs }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,0],"id":"dc2584d8-f3ac-4534-945d-9c1c6ef04e8c","name":"HTTP Request - n8n to DX - user reflection inquiry logging","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"errorMessage":"Error at posting reflection-inquiry back to DX app"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[704,208],"id":"cd6e9374-41e0-4f91-a3e1-967030c8e86b","name":"Stop and Error1"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1424,448],"id":"dca98cab-14cd-4564-b2a1-f409dd9e7148","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1072,624],"id":"40761ce0-4a04-4892-b58a-1daeaf76db21","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request - n8n to DX - user reflection inquiry logging","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request - n8n to DX - user reflection inquiry logging":{"main":[[],[{"node":"Stop and Error1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ca2775f-23a1-438d-84e7-242a5d325eda","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T03:43:06.662Z","createdAt":"2025-12-01T03:43:06.662Z","role":"workflow:owner","workflowId":"v2aFrIwJgLL8zpUe","projectId":"rkmRnWwY3Rga8c1s"}],"activeVersion":null,"tags":[]}