03_production_weekly_xfactor_calc_v03_20251130-P8uFkOpxnyX38NMn.json
{"updatedAt":"2025-12-01T13:33:10.143Z","createdAt":"2025-12-01T02:48:00.248Z","id":"P8uFkOpxnyX38NMn","name":"03_PRODUCTION_weekly_XFactor_calc_v03_20251130","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// === Unwrap webhook payload ===\n// Webhook structure: [{ json: { headers, params, query, body: [ { ...payload... } ] } }]\nconst root = $input.first()?.json ?? {};\nconst payload = Array.isArray(root.body) && root.body.length > 0\n  ? root.body[0]\n  : (root.reflections_inquiry ? root : {}); // fallback if already flattened (no .body)\n\n// Rows container\nconst rows = Array.isArray(payload.reflections_inquiry) ? payload.reflections_inquiry : [];\n\n// === Initialize counts ===\nlet totalReflections = 0;\nlet totalInquiries = 0;\nlet uniqueSAPTags = new Set();\nlet idgTags = new Set();\n\n// === Weekly vars ===\nlet caseSizeS = 0;\nlet caseSizeM = 0;\nlet caseSizeL = 0;\nlet caseSizeXL = 0;\nlet appointmentsHeld = 0;\nlet outreachActivity = \"None\";\n\n// === Constants ===\nconst ALL_SAP_TAGS = [\n  \"leads\", \"outreach\", \"rapport\", \"context\", \"fact-find\", \"goals\",\n  \"priorities\", \"problem\", \"design\", \"refine\", \"proposal\", \"rehearse\",\n  \"present\", \"objections\", \"onboarding\", \"transition\", \"service\",\n  \"review\", \"education\", \"referrals\"\n];\n\n// Common aliases seen in user data → canonical SAP\nconst SAP_ALIASES = {\n  \"presentation\": \"present\",\n  \"approach\": \"rapport\",\n  \"solution\": \"design\"\n};\n\nconst ALL_IDG_TAGS = [\n  \"inner compass\", \"integrity and authenticity\", \"openness learning mindset\", \"self-awareness\", \"presence\",\n  \"critical thinking\", \"complexity awareness\", \"perspective skills\", \"sense-making\",\n  \"long-term orientation and visioning\", \"appreciation\", \"connectedness\", \"humility\",\n  \"empathy and compassion\", \"communication skills\", \"co-creation skills\",\n  \"inclusive mindset and intercultural competence\", \"trust\", \"mobilisation skills\",\n  \"courage\", \"creativity\", \"optimism\", \"perserverance\"\n];\n\nconst ALL_BLOOM_TAGS = [\"remember\", \"understand\", \"apply\", \"analyze\", \"evaluate\", \"create\"];\nconst ALL_GIBBS_TAGS = [\"description\", \"feelings\", \"evaluation\", \"analysis\", \"conclusion\", \"action plan\"];\n\nconst bloomLowerTags = [\"remember\", \"understand\"];\nconst bloomMiddleTags = [\"apply\", \"analyze\", \"analyse\"]; // accept both spellings\nconst bloomHigherTags = [\"evaluate\", \"create\"];\n\nconst gibbsLowerTags = [\"description\", \"feelings\"];\nconst gibbsMiddleTags = [\"evaluation\", \"analysis\"];\nconst gibbsHigherTags = [\"conclusion\", \"action plan\"];\n\n// === Initialize trackers ===\nlet reflectionRowCount = 0;\nlet bloomTagSet = new Set();\nlet gibbsTagSet = new Set();\nlet reflectionQuality = \"none\";\n\n// === Points trackers ===\nconst BLOOM_POINTS = { lower: 1, middle: 2, higher: 3 };\nconst GIBBS_POINTS = { lower: 1, middle: 2, higher: 3 };\nlet bloomPointsTotal = 0;\nlet gibbsPointsTotal = 0;\n\n// === Helpers ===\nconst toArray = (v) =>\n  (v ?? \"\")\n    .toString()\n    .split(\",\")\n    .map(t => t.trim().toLowerCase())\n    .filter(Boolean);\n\nconst normalizeSap = (tag) => SAP_ALIASES[tag?.toLowerCase()?.trim()] || tag?.toLowerCase()?.trim();\n\n// === Loop over rows ===\nfor (const row of rows) {\n  // Reflections & Inquiries\n  if ((row.Reflection || \"\").trim()) totalReflections++;\n  if ((row.Inquiry || \"\").trim()) totalInquiries++;\n\n  // SAP tags (with alias normalization)\n  if (row.tags && row.tags.toLowerCase() !== \"none\") {\n    toArray(row.tags).forEach(raw => {\n      const t = normalizeSap(raw);\n      if (t && ALL_SAP_TAGS.includes(t)) uniqueSAPTags.add(t);\n    });\n  }\n\n  // IDG tags\n  if (row.IDG && row.IDG.toLowerCase() !== \"none\") {\n    toArray(row.IDG).forEach(tag => {\n      if (tag && ALL_IDG_TAGS.includes(tag)) idgTags.add(tag);\n    });\n  }\n\n  // Reflection Quality (keep highest seen)\n  const quality = (row.Reflection_Quality || \"\").toLowerCase();\n  if (quality.includes(\"insightful\")) reflectionQuality = \"insightful\";\n  else if (quality.includes(\"reflective\") && reflectionQuality !== \"insightful\") reflectionQuality = \"reflective\";\n  else if (quality.includes(\"descriptive\") && ![\"insightful\", \"reflective\"].includes(reflectionQuality)) reflectionQuality = \"descriptive\";\n  else if (quality.includes(\"mechanical\") && reflectionQuality === \"none\") reflectionQuality = \"mechanical\";\n\n  // Daily reflections only (for Bloom/Gibbs quality scoring)\n  if (((row.type || \"\").toLowerCase() === \"daily\") && (row.Reflection || \"\").trim()) {\n    reflectionRowCount++;\n\n    // Bloom\n    const bloomSet = new Set(toArray(row.Bloom));\n    if (bloomHigherTags.some(t => bloomSet.has(t))) bloomPointsTotal += BLOOM_POINTS.higher;\n    else if (bloomMiddleTags.some(t => bloomSet.has(t))) bloomPointsTotal += BLOOM_POINTS.middle;\n    else if (bloomLowerTags.some(t => bloomSet.has(t))) bloomPointsTotal += BLOOM_POINTS.lower;\n    bloomSet.forEach(t => { if (ALL_BLOOM_TAGS.includes(t)) bloomTagSet.add(t); });\n\n    // Gibbs\n    const gibbsSet = new Set(toArray(row.Gibbs));\n    if (gibbsHigherTags.some(t => gibbsSet.has(t))) gibbsPointsTotal += GIBBS_POINTS.higher;\n    else if (gibbsMiddleTags.some(t => gibbsSet.has(t))) gibbsPointsTotal += GIBBS_POINTS.middle;\n    else if (gibbsLowerTags.some(t => gibbsSet.has(t))) gibbsPointsTotal += GIBBS_POINTS.lower;\n    gibbsSet.forEach(t => { if (ALL_GIBBS_TAGS.includes(t)) gibbsTagSet.add(t); });\n  }\n\n  // Weekly reflections only\n  if ((row.type || \"\").toLowerCase() === \"weekly\") {\n    weeklyRowFound = true;\n\n    caseSizeS += Number(row.case_size_s) || 0;\n    caseSizeM += Number(row.case_size_m) || 0;\n    caseSizeL += Number(row.case_size_l) || 0;\n    caseSizeXL += Number(row.case_size_xl) || 0;\n    appointmentsHeld += Number(row.appointments_held) || 0;\n\n    if (row.Outreach_Activity && row.Outreach_Activity.trim()) {\n      outreachActivity = row.Outreach_Activity.trim(); // keep last non-empty\n    }\n  }\n}\n\n// === Final scoring ===\nconst scoredSapTags = Array.from(uniqueSAPTags).sort();\nconst missedSapTags = ALL_SAP_TAGS.filter(tag => !uniqueSAPTags.has(tag)).sort();\nconst scoredSapCount = scoredSapTags.length;\nconst missedSapCount = missedSapTags.length;\n\nconst scoredIdgTags = Array.from(idgTags).sort();\nconst missedIdgTags = ALL_IDG_TAGS.filter(tag => !idgTags.has(tag)).sort();\nconst scoredIdgCount = scoredIdgTags.length;\nconst missedIdgCount = missedIdgTags.length;\n\nconst scoredBloomTags = Array.from(bloomTagSet).sort();\nconst missedBloomTags = ALL_BLOOM_TAGS.filter(tag => !bloomTagSet.has(tag)).sort();\nconst scoredBloomCount = scoredBloomTags.length;\nconst missedBloomCount = missedBloomTags.length;\n\nconst scoredGibbsTags = Array.from(gibbsTagSet).sort();\nconst missedGibbsTags = ALL_GIBBS_TAGS.filter(tag => !gibbsTagSet.has(tag)).sort();\nconst scoredGibbsCount = scoredGibbsTags.length;\nconst missedGibbsCount = missedGibbsTags.length;\n\nconst bloomQualityIndex = reflectionRowCount\n  ? Number((bloomPointsTotal / (reflectionRowCount * BLOOM_POINTS.higher)).toFixed(2))\n  : 0.00;\n\nconst gibbsQualityIndex = reflectionRowCount\n  ? Number((gibbsPointsTotal / (reflectionRowCount * GIBBS_POINTS.higher)).toFixed(2))\n  : 0.00;\n\n// === Output summary ===\nreturn [\n  {\n    json: {\n      user_id: payload.user_id ?? \"unknown\",\n      goalpath: payload.goal_path ?? \"unknown\",\n      week_user: payload.week_user,\n      month_current: payload.month_current,\n\n      // Stats for calc\n      totalReflections,\n      totalInquiries,\n      reflectionQuality,\n\n      // Funnel Outcomes Sales Drivers Stats for calc\ncase_size_s: parseInt(caseSizeS, 10),\ncase_size_m: parseInt(caseSizeM, 10),\ncase_size_l: parseInt(caseSizeL, 10),\ncase_size_xl: parseInt(caseSizeXL, 10),\nappointments_held: parseInt(appointmentsHeld, 10),\nOutreach_Activity: outreachActivity,\n\n      // SAP, IDG, Bloom, Gibbs\n      scoredSapTags,\n      missedSapTags,\n      scoredSapCount,\n      missedSapCount,\n      percentUniqueSAPTags: ((scoredSapCount / ALL_SAP_TAGS.length) * 100).toFixed(2),\n\n      scoredIdgTags,\n      missedIdgTags,\n      scoredIdgCount,\n      missedIdgCount,\n      percentUniqueIDG: ((scoredIdgCount / ALL_IDG_TAGS.length) * 100).toFixed(2),\n\n      scoredBloomTags,\n      missedBloomTags,\n      scoredBloomCount,\n      missedBloomCount,\n      percentUniqueBloom: ((scoredBloomCount / ALL_BLOOM_TAGS.length) * 100).toFixed(2),\n\n      scoredGibbsTags,\n      missedGibbsTags,\n      scoredGibbsCount,\n      missedGibbsCount,\n      percentUniqueGibbs: ((scoredGibbsCount / ALL_GIBBS_TAGS.length) * 100).toFixed(2),\n\n      // Final indexes\n      bloomQualityIndex,\n      gibbsQualityIndex\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,464],"id":"eeaa8b3a-8f6e-457f-817b-3b59dfc02aa0","name":"Code1","notesInFlow":true,"onError":"continueRegularOutput","notes":"Data for calc"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.goalpath }}","rightValue":"=Explorer","operator":{"type":"string","operation":"equals"},"id":"2943ee83-8ced-442b-a8a3-e3b1c09c00e0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Explorer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2d78823-9adc-4f22-be21-9ba7016da29b","leftValue":"={{ $json.goalpath }}","rightValue":"Builder","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Builder"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bca4263-5f77-42da-bae6-009de770b92f","leftValue":"={{ $json.goalpath }}","rightValue":"Performer","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Performer"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-400,464],"id":"b9df93e1-edf2-40b3-b012-2b75fc16b740","name":"Switch","notesInFlow":false},{"parameters":{"jsCode":"// === INPUTS from Code1 ===\nconst totalReflections = $('Code1').first().json.totalReflections;\nconst totalInquiries = $('Code1').first().json.totalInquiries;\nconst month_current = Number($('Code1').first().json.month_current);\nconst week_user = Number($('Code1').first().json.week_user);\nconst reflectionQuality = String($('Code1').first().json.reflectionQuality || '').toLowerCase();\n\nconst s = parseInt($('Code1').first().json.case_size_s) || 0;\nconst m = parseInt($('Code1').first().json.case_size_m) || 0;\nconst l = parseInt($('Code1').first().json.case_size_l) || 0;\nconst xl = parseInt($('Code1').first().json.case_size_xl) || 0;\nconst appointments_held = parseInt($('Code1').first().json.appointments_held) || 0;\nconst Outreach_Activity = $('Code1').first().json.Outreach_Activity || \"None\";\n\nconst percentUniqueSAPTags = parseFloat($('Code1').first().json.percentUniqueSAPTags || 0);\nconst percentUniqueIDG = parseFloat($('Code1').first().json.percentUniqueIDG || 0);\nconst bloomQualityIndex = parseFloat($('Code1').first().json.bloomQualityIndex || 0);\nconst gibbsQualityIndex = parseFloat($('Code1').first().json.gibbsQualityIndex || 0);\n\nconst CE_current_month = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].CE_current_month;\n\n// === 1. Reflection Frequency Score ===\nlet Reflection_Frequency_Score = 0;\nif (totalReflections >= 5) Reflection_Frequency_Score = 5;\nelse if (totalReflections === 4) Reflection_Frequency_Score = 4;\nelse if (totalReflections === 3) Reflection_Frequency_Score = 3;\nelse if (totalReflections === 2) Reflection_Frequency_Score = 2;\nelse if (totalReflections === 1) Reflection_Frequency_Score = 1;\n\n// === 2. Inquiry Frequency Score ===\nlet Inquiry_Frequency_Score = 0;\nif (totalInquiries >= 12 && totalInquiries <= 14) Inquiry_Frequency_Score = 5;\nelse if (totalInquiries >= 9) Inquiry_Frequency_Score = 4;\nelse if (totalInquiries >= 6) Inquiry_Frequency_Score = 3;\nelse if (totalInquiries >= 3) Inquiry_Frequency_Score = 2;\nelse if (totalInquiries >= 1) Inquiry_Frequency_Score = 1;\n\n// === 3. SAP Tag Score ===\nlet SAP_Tag_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueSAPTags >= 15) SAP_Tag_Score = 2;\n  else if (percentUniqueSAPTags >= 10) SAP_Tag_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueSAPTags >= 20,\n    bloomQualityIndex >= 0.20\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 10,\n    bloomQualityIndex >= 0.20\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueSAPTags >= 20,\n    bloomQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 15,\n    bloomQualityIndex >= 0.25\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n}\n\n// === 4. IDG Score ===\nlet IDG_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueIDG >= 10) IDG_Score = 2;\n  else if (percentUniqueIDG >= 5) IDG_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueIDG >= 15,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 5,\n    gibbsQualityIndex >= 0.20\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueIDG >= 15,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 10,\n    gibbsQualityIndex >= 0.20\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n}\n\n// === 5. Funnel Outcomes Score ===\n// CE_week formula\nlet CE_week = (s * 0.20) + (m * 0.50) + (l * 1.00) + (xl * 1.70);\n\n// Sum past 3 weeks (array is guaranteed to exist from Code12, default padded with 0)\nconst past3Sum = CE_current_month.reduce((acc, val) => acc + (parseFloat(val) || 0), 0);\nlet CE_4_weeks = CE_week + past3Sum;\n\n// CE_milestone based on week_user\nlet CE_milestone = 1;\nif (week_user >= 9 && week_user <= 12) {\n  CE_milestone = 3;\n} else if (week_user >= 13) {\n  CE_milestone = 4;\n}\n\n// CE_score formula\nlet rawCEscore = CE_4_weeks / CE_milestone;\nlet CE_score = rawCEscore >= 1 ? 1.00 : Number(rawCEscore.toFixed(2));\n\n// ✅ Round CE_week and CE_4_weeks too\nCE_week = Number(CE_week.toFixed(2));\nCE_4_weeks = Number(CE_4_weeks.toFixed(2));\n\n// === Appt Score Calculation ===\n// Determine Appt_milestone based on week_user\nlet Appt_milestone = 1;\nif (week_user >= 9 && week_user <= 12) {\n  Appt_milestone = 2;\n} else if (week_user >= 13) {\n  Appt_milestone = 3;\n}\n\n// Calculate appt_score\nlet rawApptScore = appointments_held / Appt_milestone;\nlet appt_score = rawApptScore >= 1 ? 1.00 : Number(rawApptScore.toFixed(2));\n\n// === Outreach Score Calculation ===\nlet outreach_score = 0.0;\nif (Outreach_Activity === \"Less than Normal\") {\n  outreach_score = 0.3;\n} else if (Outreach_Activity === \"Normal\") {\n  outreach_score = 0.7;\n} else if (Outreach_Activity === \"More than Normal\") {\n  outreach_score = 1.0;\n}\n\n// ✅ Round to 2 decimal places\noutreach_score = Number(outreach_score.toFixed(2));\n\n// Sales Effectiveness Quotient (SEQ)\nlet SEQ = (0.50 * CE_score) + (0.35 * appt_score) + (0.15 * outreach_score);\n\n// Round SEQ to 2 decimal places\nSEQ = Number(SEQ.toFixed(2));\n\n// Assign Funnel_Outcomes_Score based on SEQ bands\nlet Funnel_Outcomes_Score = 0;\nif (SEQ >= 0.75) {\n  Funnel_Outcomes_Score = 3;\n} else if (SEQ >= 0.50) {\n  Funnel_Outcomes_Score = 2;\n} else if (SEQ >= 0.25) {\n  Funnel_Outcomes_Score = 1;\n} else {\n  Funnel_Outcomes_Score = 0;\n}\n\n// === 6. Reflection Quality Score ===\nlet Reflection_Quality_Score = 0;\nif (reflectionQuality === \"insightful\") Reflection_Quality_Score = 3;\nelse if (reflectionQuality === \"reflective\") Reflection_Quality_Score = 2;\nelse if (reflectionQuality === \"descriptive\") Reflection_Quality_Score = 1;\n\n// === 7. Effort and Effectiveness Scores ===\nconst Effort_Score = Reflection_Frequency_Score + Inquiry_Frequency_Score;\nconst Effectiveness_Score = SAP_Tag_Score + IDG_Score + Funnel_Outcomes_Score + Reflection_Quality_Score;\n\n// === 8. Combined Performance Index ===\nlet esWeight = 0.5;\nlet efsWeight = 0.5;\n\nif (week_user >= 1 && week_user <= 4) {\n  esWeight = 0.6;\n  efsWeight = 0.4;\n} else if (week_user >= 5 && week_user <= 8) {\n  esWeight = 0.5;\n  efsWeight = 0.5;\n} else if (week_user >= 9 && week_user <= 12) {\n  esWeight = 0.4;\n  efsWeight = 0.6;\n} else if (week_user >= 13) {\n  esWeight = 0.3;\n  efsWeight = 0.7;\n}\n\nconst rawCPI = Effort_Score * esWeight + Effectiveness_Score * efsWeight;\nconst combined_performance_index = Math.round(rawCPI);\nconst normalized_cpi = parseFloat((rawCPI / 10).toFixed(2));\n\n// === FINAL RETURN ===\nreturn [\n  {\n    json: {\n      Reflection_Frequency_Score,\n      Inquiry_Frequency_Score,\n      SAP_Tag_Score,\n      IDG_Score,\n      Funnel_Outcomes_Score,\n      Reflection_Quality_Score,\n      Effort_Score,\n      Effectiveness_Score,\n      combined_performance_index,\n      normalized_cpi,\n      CE_week,\n      CE_4_weeks,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"ef3b494a-0069-452c-837c-c86a38245e48","name":"Code2","notesInFlow":true,"onError":"continueRegularOutput","notes":"Score calc till CPI"},{"parameters":{"jsCode":"// === Inputs ===\nconst normalized_cpi = $('Code2').first().json.normalized_cpi;\nconst prior_week_cpi = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].prior_week_cpi;\nconst past_cpis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_cpis;\nconst past_ctis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_ctis;\nlet total_reflection = $('Switch').first().json.totalReflections;\nlet total_inquiries = $('Switch').first().json.totalInquiries;\nlet percent_SAP = $('Switch').first().json.percentUniqueSAPTags;\nlet percent_IDG = $('Switch').first().json.percentUniqueIDG;\nlet CE_week = $input.first().json.CE_week;\nlet CE_4_weeks = $input.first().json.CE_4_weeks;\n\n// === 1. CPI Delta (normalized to 0–1)\nlet cpi_delta = normalized_cpi - prior_week_cpi;\n\nlet CPI_Delta;\nif (normalized_cpi === 0 && prior_week_cpi === 0) {\n  CPI_Delta = 0; // No effort in both weeks\n} else if (normalized_cpi >= 0.8 && prior_week_cpi >= 0.8) {\n  CPI_Delta = 1; // Reward sustained high performance regardless of minor variations\n} else {\n  CPI_Delta = Math.max(Math.min((cpi_delta + 1) / 2, 1), 0); // Normal [-1, 1] → [0, 1]\n}\n\n// === 2. CPI Consistency (Best N of last M)\nconst benchmark = 0.5;  // Explorer benchmark\nconst M = 5; // Check last 5 weeks\nconst N = 3; // Need 3 to pass\n\nconst recentWeeks = past_cpis.slice(-M);\nconst consistentWeeks = recentWeeks.filter(cpi => cpi >= benchmark).length;\nconst denominator = Math.min(N, recentWeeks.length);  // Prevent divide-by-zero for new users\n\nconst CPI_Consistency = denominator > 0\n  ? Math.min(1, consistentWeeks / denominator)\n  : 0;\n\n// === 3. CTI: Composite Trajectory Index (0–1)\nconst CTI = parseFloat((\n  0.7 * normalized_cpi +\n  0.15 * CPI_Delta +\n  0.15 * CPI_Consistency\n).toFixed(2));\n\n// === 3.5. Cumulative Score from all CTIs (0–10 scale)\nconst all_ctis = Array.isArray(past_ctis) ? [...past_ctis, CTI] : [CTI];\nconst avg_cti = all_ctis.reduce((sum, val) => sum + val, 0) / all_ctis.length;\n\n// === 4. X-Factor Score based on CTI bands\nlet X_Factor_Score = \"1\";\n\nif (CTI >= 0.99) {\n  X_Factor_Score = \"10\";\n} else if (CTI >= 0.95) {\n  X_Factor_Score = \"9\";\n} else if (CTI >= 0.90) {\n  X_Factor_Score = \"8\";\n} else if (CTI >= 0.83) {\n  X_Factor_Score = \"7\";\n} else if (CTI >= 0.75) {\n  X_Factor_Score = \"6\";\n} else if (CTI >= 0.65) {\n  X_Factor_Score = \"5\";\n} else if (CTI >= 0.50) {\n  X_Factor_Score = \"4\";\n} else if (CTI >= 0.35) {\n  X_Factor_Score = \"3\";\n} else if (CTI >= 0.20) {\n  X_Factor_Score = \"2\";\n} else {\n  X_Factor_Score = \"1\";\n}\n\n// === 4a. cumulative score based on avg_cti bands\nlet cumulative = \"1\";\n\nif (avg_cti >= 0.99) {\n  cumulative = \"10\";\n} else if (avg_cti >= 0.95) {\n  cumulative = \"9\";\n} else if (avg_cti >= 0.90) {\n  cumulative = \"8\";\n} else if (avg_cti >= 0.83) {\n  cumulative = \"7\";\n} else if (avg_cti >= 0.75) {\n  cumulative = \"6\";\n} else if (avg_cti >= 0.65) {\n  cumulative = \"5\";\n} else if (avg_cti >= 0.50) {\n  cumulative = \"4\";\n} else if (avg_cti >= 0.35) {\n  cumulative = \"3\";\n} else if (avg_cti >= 0.20) {\n  cumulative = \"2\";\n} else {\n  cumulative = \"1\";\n}\n\n// === Final Output ===\nreturn [\n  {\n    json: {\n      user_id: $('Switch').first().json.user_id,\n      scoredSapTags: $('Switch').first().json.scoredSapTags,\n      missedSapTags: $('Switch').first().json.missedSapTags,\n      scoredSapCount: $('Switch').first().json.scoredSapCount,\n      missedSapCount: $('Switch').first().json.missedSapCount,\n      scoredIdgTags: $('Switch').first().json.scoredIdgTags,\n      missedIdgTags: $('Switch').first().json.missedIdgTags,\n      scoredIdgCount: $('Switch').first().json.scoredIdgCount,\n      missedIdgCount: $('Switch').first().json.missedIdgCount,\n      scoredBloomTags: $('Switch').first().json.scoredBloomTags,\n      missedBloomTags: $('Switch').first().json.missedBloomTags,\n      scoredBloomCount: $('Switch').first().json.scoredBloomCount,\n      missedBloomCount: $('Switch').first().json.missedBloomCount,\n      scoredGibbsTags: $('Switch').first().json.scoredGibbsTags,\n      missedGibbsTags: $('Switch').first().json.missedGibbsTags,\n      scoredGibbsCount: $('Switch').first().json.scoredGibbsCount,\n      missedGibbsCount: $('Switch').first().json.missedGibbsCount,\n      Reflection_Frequency_Score: $('Code2').first().json.Reflection_Frequency_Score,\n      Inquiry_Frequency_Score: $('Code2').first().json.Inquiry_Frequency_Score,\n      SAP_Tag_Score: $('Code2').first().json.SAP_Tag_Score,\n      IDG_Score: $('Code2').first().json.IDG_Score,\n      Funnel_Outcomes_Score: $('Code2').first().json.Funnel_Outcomes_Score,\n      Reflection_Quality_Score: $('Code2').first().json.Reflection_Quality_Score,\n      Effort_Score: $('Code2').first().json.Effort_Score,\n      Effectiveness_Score: $('Code2').first().json.Effectiveness_Score,\n      CPI: $('Code2').first().json.combined_performance_index,\n      CPI_Normalized: $('Code2').first().json.normalized_cpi,\n      CPI_Delta,\n      CPI_Consistency,\n      CTI,\n      cumulative,\n      X_Factor_Score,\n      total_reflection,\n      total_inquiries,\n      percent_SAP,\n      percent_IDG,\n      CE_week,\n      CE_4_weeks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,0],"id":"3021c122-1fd8-48ec-8945-9af860aac5e2","name":"Code5","notesInFlow":true,"onError":"continueRegularOutput","notes":"calc: CPI Delta, CPI Consis, CTI, X-factor"},{"parameters":{"jsCode":"// === INPUTS from Code1 ===\nconst totalReflections = $('Code1').first().json.totalReflections;\nconst totalInquiries = $('Code1').first().json.totalInquiries;\nconst month_current = Number($('Code1').first().json.month_current);\nconst week_user = Number($('Code1').first().json.week_user);\nconst reflectionQuality = String($('Code1').first().json.reflectionQuality || '').toLowerCase();\n\nconst s = parseInt($('Code1').first().json.case_size_s) || 0;\nconst m = parseInt($('Code1').first().json.case_size_m) || 0;\nconst l = parseInt($('Code1').first().json.case_size_l) || 0;\nconst xl = parseInt($('Code1').first().json.case_size_xl) || 0;\nconst appointments_held = parseInt($('Code1').first().json.appointments_held) || 0;\nconst Outreach_Activity = $('Code1').first().json.Outreach_Activity || \"None\";\n\nconst percentUniqueSAPTags = parseFloat($('Code1').first().json.percentUniqueSAPTags || 0);\nconst percentUniqueIDG = parseFloat($('Code1').first().json.percentUniqueIDG || 0);\nconst bloomQualityIndex = parseFloat($('Code1').first().json.bloomQualityIndex || 0);\nconst gibbsQualityIndex = parseFloat($('Code1').first().json.gibbsQualityIndex || 0);\nconst CE_current_month = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].CE_current_month;\n\n// === 1. Reflection Frequency Score ===\nlet Reflection_Frequency_Score = 0;\nif (totalReflections >= 7) Reflection_Frequency_Score = 5;\nelse if (totalReflections === 6) Reflection_Frequency_Score = 4;\nelse if (totalReflections === 5) Reflection_Frequency_Score = 3;\nelse if (totalReflections === 4) Reflection_Frequency_Score = 2;\nelse if (totalReflections === 3) Reflection_Frequency_Score = 1;\n\n// === 2. Inquiry Frequency Score ===\nlet Inquiry_Frequency_Score = 0;\nif (totalInquiries >= 5) Inquiry_Frequency_Score = 5;\nelse if (totalInquiries === 4) Inquiry_Frequency_Score = 4;\nelse if (totalInquiries === 3) Inquiry_Frequency_Score = 3;\nelse if (totalInquiries === 2) Inquiry_Frequency_Score = 2;\nelse if (totalInquiries === 1) Inquiry_Frequency_Score = 1;\n\n// === 3. SAP Tag Score (Refactored with Bloom Index) ===\nlet SAP_Tag_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueSAPTags >= 20) SAP_Tag_Score = 2;\n  else if (percentUniqueSAPTags >= 15) SAP_Tag_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueSAPTags >= 30,\n    bloomQualityIndex >= 0.25\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 20,\n    bloomQualityIndex >= 0.25\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueSAPTags >= 30,\n    bloomQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 20,\n    bloomQualityIndex >= 0.30\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n}\n\n\n// === 4. IDG Score (Refactored with Gibbs Index) ===\nlet IDG_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueIDG >= 20) IDG_Score = 2;\n  else if (percentUniqueIDG >= 10) IDG_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueIDG >= 20,\n    gibbsQualityIndex >= 0.25\n  ];\n  const metMid = [\n    percentUniqueIDG >= 10,\n    gibbsQualityIndex >= 0.20\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueIDG >= 20,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 10,\n    gibbsQualityIndex >= 0.30\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n}\n\n// === 5. Funnel Outcomes Score ===\n// CE_week formula\nlet CE_week = (s * 0.20) + (m * 0.50) + (l * 1.00) + (xl * 1.70);\n\n// Sum past 3 weeks (array is guaranteed to exist from Code12, default padded with 0)\nconst past3Sum = CE_current_month.reduce((acc, val) => acc + (parseFloat(val) || 0), 0);\nlet CE_4_weeks = CE_week + past3Sum;\n\n// CE_milestone based on week_user\nlet CE_milestone = 1;  // default for weeks 1–4\n\nif (week_user >= 5 && week_user <= 8) {\n  CE_milestone = 2;\n} else if (week_user >= 9 && week_user <= 12) {\n  CE_milestone = 4;\n} else if (week_user >= 13) {\n  CE_milestone = 5;\n}\n\n// CE_score formula\nlet rawCEscore = CE_4_weeks / CE_milestone;\nlet CE_score = rawCEscore >= 1 ? 1.00 : Number(rawCEscore.toFixed(2));\n\n// ✅ Round CE_week and CE_4_weeks too\nCE_week = Number(CE_week.toFixed(2));\nCE_4_weeks = Number(CE_4_weeks.toFixed(2));\n\n// === Appt Score Calculation ===\n// === Appt Milestone for Builder Track ===\nlet Appt_milestone = 1; // default for weeks 1-4\n\nif (week_user >= 5 && week_user <= 8) {\n  Appt_milestone = 2;\n} else if (week_user >= 9 && week_user <= 12) {\n  Appt_milestone = 4;\n} else if (week_user >= 13) {\n  Appt_milestone = 4;\n}\n\n// Calculate appt_score\nlet rawApptScore = appointments_held / Appt_milestone;\nlet appt_score = rawApptScore >= 1 ? 1.00 : Number(rawApptScore.toFixed(2));\n\n// === Outreach Score Calculation ===\nlet outreach_score = 0.0;\nif (Outreach_Activity === \"Less than Normal\") {\n  outreach_score = 0.3;\n} else if (Outreach_Activity === \"Normal\") {\n  outreach_score = 0.7;\n} else if (Outreach_Activity === \"More than Normal\") {\n  outreach_score = 1.0;\n}\n\n// ✅ Round to 2 decimal places\noutreach_score = Number(outreach_score.toFixed(2));\n\n// Sales Effectiveness Quotient (SEQ)\nlet SEQ = (0.50 * CE_score) + (0.35 * appt_score) + (0.15 * outreach_score);\n\n// Round SEQ to 2 decimal places\nSEQ = Number(SEQ.toFixed(2));\n\n// Assign Funnel_Outcomes_Score based on SEQ bands\nlet Funnel_Outcomes_Score = 0;\nif (SEQ >= 0.75) {\n  Funnel_Outcomes_Score = 3;\n} else if (SEQ >= 0.50) {\n  Funnel_Outcomes_Score = 2;\n} else if (SEQ >= 0.25) {\n  Funnel_Outcomes_Score = 1;\n} else {\n  Funnel_Outcomes_Score = 0;\n}\n\n// === 6. Reflection Quality Score ===\nlet Reflection_Quality_Score = 0;\nif (reflectionQuality === \"insightful\") Reflection_Quality_Score = 3;\nelse if (reflectionQuality === \"reflective\") Reflection_Quality_Score = 2;\nelse if (reflectionQuality === \"descriptive\") Reflection_Quality_Score = 1;\n\n// === 7. Effort and Effectiveness Scores ===\nconst Effort_Score = Reflection_Frequency_Score + Inquiry_Frequency_Score;\nconst Effectiveness_Score = SAP_Tag_Score + IDG_Score + Funnel_Outcomes_Score + Reflection_Quality_Score;\n\n// === 8. Combined Performance Index ===\nlet esWeight = 0.5;\nlet efsWeight = 0.5;\nif (week_user >= 5 && week_user <= 8) {\n  esWeight = 0.4; efsWeight = 0.6;\n} else if (week_user >= 9 && week_user <= 12) {\n  esWeight = 0.3; efsWeight = 0.7;\n} else if (week_user >= 13) {\n  esWeight = 0.2; efsWeight = 0.8;\n}\n\nconst rawCPI = Effort_Score * esWeight + Effectiveness_Score * efsWeight;\nconst combined_performance_index = Math.round(rawCPI);\nconst normalized_cpi = parseFloat((rawCPI / 10).toFixed(2));\n\n// === FINAL RETURN ===\nreturn [\n  {\n    json: {\n      Reflection_Frequency_Score,\n      Inquiry_Frequency_Score,\n      SAP_Tag_Score,\n      IDG_Score,\n      Funnel_Outcomes_Score,\n      Reflection_Quality_Score,\n      Effort_Score,\n      Effectiveness_Score,\n      combined_performance_index,\n      normalized_cpi,\n      CE_week,\n      CE_4_weeks,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,432],"id":"267f4fe3-0c82-4e74-af7e-1273d15b88db","name":"Code6","notesInFlow":true,"onError":"continueRegularOutput","notes":"Score calc till CPI"},{"parameters":{"jsCode":"// === Inputs ===\nconst normalized_cpi = $('Code6').first().json.normalized_cpi;\nconst prior_week_cpi = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].prior_week_cpi;\nconst past_cpis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_cpis;\nconst past_ctis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_ctis;\nlet total_reflection = $('Switch').first().json.totalReflections;\nlet total_inquiries = $('Switch').first().json.totalInquiries;\nlet percent_SAP = $('Switch').first().json.percentUniqueSAPTags;\nlet percent_IDG = $('Switch').first().json.percentUniqueIDG;\nlet CE_week = $input.first().json.CE_week;\nlet CE_4_weeks = $input.first().json.CE_4_weeks;\n\n// === 1. CPI Delta (normalized to 0–1)\nlet cpi_delta = normalized_cpi - prior_week_cpi;\n\nlet CPI_Delta;\nif (normalized_cpi === 0 && prior_week_cpi === 0) {\n  CPI_Delta = 0; // No effort in both weeks\n} else if (normalized_cpi >= 0.8 && prior_week_cpi >= 0.8) {\n  CPI_Delta = 1; // Reward sustained high performance regardless of minor variations\n} else {\n  CPI_Delta = Math.max(Math.min((cpi_delta + 1) / 2, 1), 0); // Normal [-1, 1] → [0, 1]\n}\n\n// === 2. CPI Consistency (Best N of last M for Builder)\nconst benchmark = 0.6; // Builder benchmark\nconst M = 5; // Check last 5 weeks\nconst N = 4; // Need 4 to pass\n\nconst recentWeeks = past_cpis.slice(-M);\nconst consistentWeeks = recentWeeks.filter(cpi => cpi >= benchmark).length;\nconst denominator = Math.min(N, recentWeeks.length); // Prevent divide-by-zero\n\nconst CPI_Consistency = denominator > 0\n  ? Math.min(1, consistentWeeks / denominator)\n  : 0;\n\n// === 3. CTI: Composite Trajectory Index (0–1)\nconst CTI = parseFloat((\n  0.7 * normalized_cpi +\n  0.15 * CPI_Delta +\n  0.15 * CPI_Consistency\n).toFixed(2));\n\n// === 3.5. Cumulative Score from all CTIs (0–10 scale)\nconst all_ctis = Array.isArray(past_ctis) ? [...past_ctis, CTI] : [CTI];\nconst avg_cti = all_ctis.reduce((sum, val) => sum + val, 0) / all_ctis.length;\n\n// === 4. X-Factor Score based on CTI bands\nlet X_Factor_Score = \"1\";\n\nif (CTI >= 0.99) {\n  X_Factor_Score = \"10\";\n} else if (CTI >= 0.95) {\n  X_Factor_Score = \"9\";\n} else if (CTI >= 0.90) {\n  X_Factor_Score = \"8\";\n} else if (CTI >= 0.83) {\n  X_Factor_Score = \"7\";\n} else if (CTI >= 0.75) {\n  X_Factor_Score = \"6\";\n} else if (CTI >= 0.65) {\n  X_Factor_Score = \"5\";\n} else if (CTI >= 0.50) {\n  X_Factor_Score = \"4\";\n} else if (CTI >= 0.35) {\n  X_Factor_Score = \"3\";\n} else if (CTI >= 0.20) {\n  X_Factor_Score = \"2\";\n} else {\n  X_Factor_Score = \"1\";\n}\n\n// === 4a. cumulative score based on avg_cti bands\nlet cumulative = \"1\";\n\nif (avg_cti >= 0.99) {\n  cumulative = \"10\";\n} else if (avg_cti >= 0.95) {\n  cumulative = \"9\";\n} else if (avg_cti >= 0.90) {\n  cumulative = \"8\";\n} else if (avg_cti >= 0.83) {\n  cumulative = \"7\";\n} else if (avg_cti >= 0.75) {\n  cumulative = \"6\";\n} else if (avg_cti >= 0.65) {\n  cumulative = \"5\";\n} else if (avg_cti >= 0.50) {\n  cumulative = \"4\";\n} else if (avg_cti >= 0.35) {\n  cumulative = \"3\";\n} else if (avg_cti >= 0.20) {\n  cumulative = \"2\";\n} else {\n  cumulative = \"1\";\n}\n\n// === Final Output ===\nreturn [\n  {\n    json: {\n      user_id: $('Switch').first().json.user_id,\n      scoredSapTags: $('Switch').first().json.scoredSapTags,\n      missedSapTags: $('Switch').first().json.missedSapTags,\n      scoredSapCount: $('Switch').first().json.scoredSapCount,\n      missedSapCount: $('Switch').first().json.missedSapCount,\n      scoredIdgTags: $('Switch').first().json.scoredIdgTags,\n      missedIdgTags: $('Switch').first().json.missedIdgTags,\n      scoredIdgCount: $('Switch').first().json.scoredIdgCount,\n      missedIdgCount: $('Switch').first().json.missedIdgCount,\n      scoredBloomTags: $('Switch').first().json.scoredBloomTags,\n      missedBloomTags: $('Switch').first().json.missedBloomTags,\n      scoredBloomCount: $('Switch').first().json.scoredBloomCount,\n      missedBloomCount: $('Switch').first().json.missedBloomCount,\n      scoredGibbsTags: $('Switch').first().json.scoredGibbsTags,\n      missedGibbsTags: $('Switch').first().json.missedGibbsTags,\n      scoredGibbsCount: $('Switch').first().json.scoredGibbsCount,\n      missedGibbsCount: $('Switch').first().json.missedGibbsCount,\n      Reflection_Frequency_Score: $('Code6').first().json.Reflection_Frequency_Score,\n      Inquiry_Frequency_Score: $('Code6').first().json.Inquiry_Frequency_Score,\n      SAP_Tag_Score: $('Code6').first().json.SAP_Tag_Score,\n      IDG_Score: $('Code6').first().json.IDG_Score,\n      Funnel_Outcomes_Score: $('Code6').first().json.Funnel_Outcomes_Score,\n      Reflection_Quality_Score: $('Code6').first().json.Reflection_Quality_Score,\n      Effort_Score: $('Code6').first().json.Effort_Score,\n      Effectiveness_Score: $('Code6').first().json.Effectiveness_Score,\n      CPI: $('Code6').first().json.combined_performance_index,\n      CPI_Normalized: $('Code6').first().json.normalized_cpi,\n      CPI_Delta,\n      CPI_Consistency,\n      CTI,\n      cumulative,\n      X_Factor_Score,\n      total_reflection,\n      total_inquiries,\n      percent_SAP,\n      percent_IDG,\n      CE_week,\n      CE_4_weeks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,432],"id":"03ce568a-b84c-4432-920d-fd066c43235b","name":"Code8","notesInFlow":true,"onError":"continueRegularOutput","notes":"calc: CPI Delta, CPI Consis, CTI, X-factor"},{"parameters":{"jsCode":"// === INPUTS from Code1 ===\nconst totalReflections = $('Code1').first().json.totalReflections;\nconst totalInquiries = $('Code1').first().json.totalInquiries;\nconst month_current = Number($('Code1').first().json.month_current);\nconst week_user = Number($('Code1').first().json.week_user);\nconst reflectionQuality = String($('Code1').first().json.reflectionQuality || '').toLowerCase();\n\nconst s = parseInt($('Code1').first().json.case_size_s) || 0;\nconst m = parseInt($('Code1').first().json.case_size_m) || 0;\nconst l = parseInt($('Code1').first().json.case_size_l) || 0;\nconst xl = parseInt($('Code1').first().json.case_size_xl) || 0;\nconst appointments_held = parseInt($('Code1').first().json.appointments_held) || 0;\nconst Outreach_Activity = $('Code1').first().json.Outreach_Activity || \"None\";\n\nconst percentUniqueSAPTags = parseFloat($('Code1').first().json.percentUniqueSAPTags || 0);\nconst percentUniqueIDG = parseFloat($('Code1').first().json.percentUniqueIDG || 0);\nconst bloomQualityIndex = parseFloat($('Code1').first().json.bloomQualityIndex || 0);\nconst gibbsQualityIndex = parseFloat($('Code1').first().json.gibbsQualityIndex || 0);\n\nconst CE_current_month = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].CE_current_month;\n\n// === 1. Reflection Frequency Score ===\nlet Reflection_Frequency_Score = 0;\nif (totalReflections >= 8) Reflection_Frequency_Score = 5;\nelse if (totalReflections === 7) Reflection_Frequency_Score = 4;\nelse if (totalReflections === 6) Reflection_Frequency_Score = 3;\nelse if (totalReflections === 5) Reflection_Frequency_Score = 2;\nelse if (totalReflections === 4) Reflection_Frequency_Score = 1;\n\n// === 2. Inquiry Frequency Score ===\nlet Inquiry_Frequency_Score = 0;\nif (totalInquiries >= 3) Inquiry_Frequency_Score = 5;\nelse if (totalInquiries === 2) Inquiry_Frequency_Score = 3;\nelse if (totalInquiries === 1) Inquiry_Frequency_Score = 1;\n\n// === 3. SAP Tag Score (with Bloom Index)\nlet SAP_Tag_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueSAPTags >= 30) SAP_Tag_Score = 2;\n  else if (percentUniqueSAPTags >= 20) SAP_Tag_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueSAPTags >= 30,\n    bloomQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 25,\n    bloomQualityIndex >= 0.25\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueSAPTags >= 35,\n    bloomQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 25,\n    bloomQualityIndex >= 0.30\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n}\n\n\n// === 4. IDG Score (with Gibbs Index)\nlet IDG_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueIDG >= 25) IDG_Score = 2;\n  else if (percentUniqueIDG >= 15) IDG_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueIDG >= 20,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 15,\n    gibbsQualityIndex >= 0.25\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueIDG >= 25,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 15,\n    gibbsQualityIndex >= 0.30\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n}\n\n// === 5. Funnel Outcomes Score ===\n// CE_week formula\nlet CE_week = (s * 0.20) + (m * 0.50) + (l * 1.00) + (xl * 1.70);\n\n// Sum past 3 weeks (array is guaranteed to exist from Code15, default padded with 0)\nconst past3Sum = CE_current_month.reduce((acc, val) => acc + (parseFloat(val) || 0), 0);\nlet CE_4_weeks = CE_week + past3Sum;\n\n// CE_milestone based on week_user (Performer track)\nlet CE_milestone = 1; // Default for weeks 1–4\nif (week_user >= 5 && week_user <= 8) {\n  CE_milestone = 3;\n} else if (week_user >= 9 && week_user <= 12) {\n  CE_milestone = 5;\n} else if (week_user >= 13) {\n  CE_milestone = 8;\n}\n\n// CE_score formula\nlet rawCEscore = CE_4_weeks / CE_milestone;\nlet CE_score = rawCEscore >= 1 ? 1.00 : Number(rawCEscore.toFixed(2));\n\n// ✅ Round CE_week and CE_4_weeks too\nCE_week = Number(CE_week.toFixed(2));\nCE_4_weeks = Number(CE_4_weeks.toFixed(2));\n\n// === Appt Score Calculation ===\n// Determine Appt_milestone based on week_user (Performer track)\nlet Appt_milestone = 1; // Default for weeks 1–4\nif (week_user >= 5 && week_user <= 8) {\n  Appt_milestone = 3;\n} else if (week_user >= 9 && week_user <= 12) {\n  Appt_milestone = 5;\n} else if (week_user >= 13) {\n  Appt_milestone = 6;\n}\n\n// Calculate appt_score\nlet rawApptScore = appointments_held / Appt_milestone;\nlet appt_score = rawApptScore >= 1 ? 1.00 : Number(rawApptScore.toFixed(2));\n\n// === Outreach Score Calculation ===\nlet outreach_score = 0.0;\nif (Outreach_Activity === \"Less than Normal\") {\n  outreach_score = 0.3;\n} else if (Outreach_Activity === \"Normal\") {\n  outreach_score = 0.7;\n} else if (Outreach_Activity === \"More than Normal\") {\n  outreach_score = 1.0;\n}\n\n// ✅ Round to 2 decimal places\noutreach_score = Number(outreach_score.toFixed(2));\n\n// Sales Effectiveness Quotient (SEQ)\nlet SEQ = (0.50 * CE_score) + (0.35 * appt_score) + (0.15 * outreach_score);\n\n// Round SEQ to 2 decimal places\nSEQ = Number(SEQ.toFixed(2));\n\n// Assign Funnel_Outcomes_Score based on SEQ bands\nlet Funnel_Outcomes_Score = 0;\nif (SEQ >= 0.75) {\n  Funnel_Outcomes_Score = 3;\n} else if (SEQ >= 0.50) {\n  Funnel_Outcomes_Score = 2;\n} else if (SEQ >= 0.25) {\n  Funnel_Outcomes_Score = 1;\n} else {\n  Funnel_Outcomes_Score = 0;\n}\n\n// === 6. Reflection Quality Score\nlet Reflection_Quality_Score = 0;\nif (reflectionQuality === \"insightful\") Reflection_Quality_Score = 3;\nelse if (reflectionQuality === \"reflective\") Reflection_Quality_Score = 2;\nelse if (reflectionQuality === \"descriptive\") Reflection_Quality_Score = 1;\n\n// === 7. Effort and Effectiveness Scores\nconst Effort_Score = Reflection_Frequency_Score + Inquiry_Frequency_Score;\nconst Effectiveness_Score = SAP_Tag_Score + IDG_Score + Funnel_Outcomes_Score + Reflection_Quality_Score;\n\n// === 8. Combined Performance Index\nlet esWeight = 0.5;\nlet efsWeight = 0.5;\nif (week_user >= 1 && week_user <= 4) {\n  esWeight = 0.4;\n  efsWeight = 0.6;\n} else if (week_user >= 5 && week_user <= 8) {\n  esWeight = 0.3;\n  efsWeight = 0.7;\n} else if (week_user >= 9 && week_user <= 12) {\n  esWeight = 0.2;\n  efsWeight = 0.8;\n} else if (week_user >= 13) {\n  esWeight = 0.1;\n  efsWeight = 0.9;\n}\n\nconst rawCPI = Effort_Score * esWeight + Effectiveness_Score * efsWeight;\nconst combined_performance_index = Math.round(rawCPI);\nconst normalized_cpi = parseFloat((rawCPI / 10).toFixed(2));\n\n// === FINAL RETURN\nreturn [\n  {\n    json: {\n      Reflection_Frequency_Score,\n      Inquiry_Frequency_Score,\n      SAP_Tag_Score,\n      IDG_Score,\n      Funnel_Outcomes_Score,\n      Reflection_Quality_Score,\n      Effort_Score,\n      Effectiveness_Score,\n      combined_performance_index,\n      normalized_cpi,\n      CE_week,\n      CE_4_weeks,\n      CE_current_month\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,800],"id":"d5fb3565-0825-46d3-9f59-f18a7bb167cd","name":"Code9","notesInFlow":true,"onError":"continueRegularOutput","notes":"Score calc till CPI"},{"parameters":{"jsCode":"// === Inputs ===\nconst normalized_cpi = $('Code9').first().json.normalized_cpi;\nconst prior_week_cpi = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].prior_week_cpi;\nconst past_cpis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_cpis;\nconst past_ctis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_ctis;\nlet total_reflection = $('Switch').first().json.totalReflections;\nlet total_inquiries = $('Switch').first().json.totalInquiries;\nlet percent_SAP = $('Switch').first().json.percentUniqueSAPTags;\nlet percent_IDG = $('Switch').first().json.percentUniqueIDG;\nlet CE_week = $input.first().json.CE_week;\nlet CE_4_weeks = $input.first().json.CE_4_weeks;\n\n// === 1. CPI Delta (normalized to 0–1)\nlet cpi_delta = normalized_cpi - prior_week_cpi;\n\nlet CPI_Delta;\nif (normalized_cpi === 0 && prior_week_cpi === 0) {\n  CPI_Delta = 0; // No effort in both weeks\n} else if (normalized_cpi >= 0.8 && prior_week_cpi >= 0.8) {\n  CPI_Delta = 1; // Reward sustained high performance regardless of minor variations\n} else {\n  CPI_Delta = Math.max(Math.min((cpi_delta + 1) / 2, 1), 0); // Normal [-1, 1] → [0, 1]\n}\n\n// === 2. CPI Consistency (Best N of last M for Performer)\nconst benchmark = 0.7; // Performer benchmark\nconst M = 5; // Look at last 5 weeks\nconst N = 4; // Require at least 4 consistent weeks\n\nconst recentWeeks = past_cpis.slice(-M);\nconst consistentWeeks = recentWeeks.filter(cpi => cpi >= benchmark).length;\nconst denominator = Math.min(N, recentWeeks.length); // Prevent divide-by-zero\n\nconst CPI_Consistency = denominator > 0\n  ? Math.min(1, consistentWeeks / denominator)\n  : 0;\n\n// === 3. CTI: Composite Trajectory Index (0–1)\nconst CTI = parseFloat((\n  0.7 * normalized_cpi +\n  0.15 * CPI_Delta +\n  0.15 * CPI_Consistency\n).toFixed(2));\n\n// === 3.5. Cumulative Score from all CTIs (0–10 scale)\nconst all_ctis = Array.isArray(past_ctis) ? [...past_ctis, CTI] : [CTI];\nconst avg_cti = all_ctis.reduce((sum, val) => sum + val, 0) / all_ctis.length;\n\n// === 4. X-Factor Score based on CTI bands\nlet X_Factor_Score = \"1\";\n\nif (CTI >= 0.99) {\n  X_Factor_Score = \"10\";\n} else if (CTI >= 0.95) {\n  X_Factor_Score = \"9\";\n} else if (CTI >= 0.90) {\n  X_Factor_Score = \"8\";\n} else if (CTI >= 0.83) {\n  X_Factor_Score = \"7\";\n} else if (CTI >= 0.75) {\n  X_Factor_Score = \"6\";\n} else if (CTI >= 0.65) {\n  X_Factor_Score = \"5\";\n} else if (CTI >= 0.50) {\n  X_Factor_Score = \"4\";\n} else if (CTI >= 0.35) {\n  X_Factor_Score = \"3\";\n} else if (CTI >= 0.20) {\n  X_Factor_Score = \"2\";\n} else {\n  X_Factor_Score = \"1\";\n}\n\n// === 4a. cumulative score based on avg_cti bands\nlet cumulative = \"1\";\n\nif (avg_cti >= 0.99) {\n  cumulative = \"10\";\n} else if (avg_cti >= 0.95) {\n  cumulative = \"9\";\n} else if (avg_cti >= 0.90) {\n  cumulative = \"8\";\n} else if (avg_cti >= 0.83) {\n  cumulative = \"7\";\n} else if (avg_cti >= 0.75) {\n  cumulative = \"6\";\n} else if (avg_cti >= 0.65) {\n  cumulative = \"5\";\n} else if (avg_cti >= 0.50) {\n  cumulative = \"4\";\n} else if (avg_cti >= 0.35) {\n  cumulative = \"3\";\n} else if (avg_cti >= 0.20) {\n  cumulative = \"2\";\n} else {\n  cumulative = \"1\";\n}\n\n// === Final Output ===\nreturn [\n  {\n    json: {\n      user_id: $('Switch').first().json.user_id,\n      scoredSapTags: $('Switch').first().json.scoredSapTags,\n      missedSapTags: $('Switch').first().json.missedSapTags,\n      scoredSapCount: $('Switch').first().json.scoredSapCount,\n      missedSapCount: $('Switch').first().json.missedSapCount,\n      scoredIdgTags: $('Switch').first().json.scoredIdgTags,\n      missedIdgTags: $('Switch').first().json.missedIdgTags,\n      scoredIdgCount: $('Switch').first().json.scoredIdgCount,\n      missedIdgCount: $('Switch').first().json.missedIdgCount,\n      scoredBloomTags: $('Switch').first().json.scoredBloomTags,\n      missedBloomTags: $('Switch').first().json.missedBloomTags,\n      scoredBloomCount: $('Switch').first().json.scoredBloomCount,\n      missedBloomCount: $('Switch').first().json.missedBloomCount,\n      scoredGibbsTags: $('Switch').first().json.scoredGibbsTags,\n      missedGibbsTags: $('Switch').first().json.missedGibbsTags,\n      scoredGibbsCount: $('Switch').first().json.scoredGibbsCount,\n      missedGibbsCount: $('Switch').first().json.missedGibbsCount,\n      Reflection_Frequency_Score: $('Code9').first().json.Reflection_Frequency_Score,\n      Inquiry_Frequency_Score: $('Code9').first().json.Inquiry_Frequency_Score,\n      SAP_Tag_Score: $('Code9').first().json.SAP_Tag_Score,\n      IDG_Score: $('Code9').first().json.IDG_Score,\n      Funnel_Outcomes_Score: $('Code9').first().json.Funnel_Outcomes_Score,\n      Reflection_Quality_Score: $('Code9').first().json.Reflection_Quality_Score,\n      Effort_Score: $('Code9').first().json.Effort_Score,\n      Effectiveness_Score: $('Code9').first().json.Effectiveness_Score,\n      CPI: $('Code9').first().json.combined_performance_index,\n      CPI_Normalized: $('Code9').first().json.normalized_cpi,\n      CPI_Delta,\n      CPI_Consistency,\n      CTI,\n      cumulative,\n      X_Factor_Score,\n      total_reflection,\n      total_inquiries,\n      percent_SAP,\n      percent_IDG,\n      CE_week,\n      CE_4_weeks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,800],"id":"de1ddb57-12da-4123-96a4-a43b7bc08917","name":"Code11","notesInFlow":true,"onError":"continueRegularOutput","notes":"calc: CPI Delta, CPI Consis, CTI, X-factor"},{"parameters":{"httpMethod":"POST","path":"ec492154-273c-42b7-b4ff-1de23a51cf89","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-960,464],"id":"6b358fa7-297e-49f1-a48f-a797cfcd849d","name":"Webhook - DX db to n8n - user data for X-factor calc","webhookId":"ec492154-273c-42b7-b4ff-1de23a51cf89","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}}],"connections":{"Code1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}],[{"node":"Code9","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Code11","type":"main","index":0}]]},"Webhook - DX db to n8n - user data for X-factor calc":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Singapore","callerPolicy":"workflowsFromSameOwner","executionTimeout":300,"availableInMCP":false,"errorWorkflow":"mNEJqGDBNEVwKIXj"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4dc02f78-9ff6-4bb0-b1e9-babfd9b8c014","activeVersionId":"4dc02f78-9ff6-4bb0-b1e9-babfd9b8c014","triggerCount":1,"shared":[{"updatedAt":"2025-12-01T02:48:00.248Z","createdAt":"2025-12-01T02:48:00.248Z","role":"workflow:owner","workflowId":"P8uFkOpxnyX38NMn","projectId":"rkmRnWwY3Rga8c1s"}],"activeVersion":{"updatedAt":"2025-12-01T13:33:10.149Z","createdAt":"2025-12-01T13:33:10.149Z","versionId":"4dc02f78-9ff6-4bb0-b1e9-babfd9b8c014","workflowId":"P8uFkOpxnyX38NMn","nodes":[{"parameters":{"jsCode":"// === Unwrap webhook payload ===\n// Webhook structure: [{ json: { headers, params, query, body: [ { ...payload... } ] } }]\nconst root = $input.first()?.json ?? {};\nconst payload = Array.isArray(root.body) && root.body.length > 0\n  ? root.body[0]\n  : (root.reflections_inquiry ? root : {}); // fallback if already flattened (no .body)\n\n// Rows container\nconst rows = Array.isArray(payload.reflections_inquiry) ? payload.reflections_inquiry : [];\n\n// === Initialize counts ===\nlet totalReflections = 0;\nlet totalInquiries = 0;\nlet uniqueSAPTags = new Set();\nlet idgTags = new Set();\n\n// === Weekly vars ===\nlet caseSizeS = 0;\nlet caseSizeM = 0;\nlet caseSizeL = 0;\nlet caseSizeXL = 0;\nlet appointmentsHeld = 0;\nlet outreachActivity = \"None\";\n\n// === Constants ===\nconst ALL_SAP_TAGS = [\n  \"leads\", \"outreach\", \"rapport\", \"context\", \"fact-find\", \"goals\",\n  \"priorities\", \"problem\", \"design\", \"refine\", \"proposal\", \"rehearse\",\n  \"present\", \"objections\", \"onboarding\", \"transition\", \"service\",\n  \"review\", \"education\", \"referrals\"\n];\n\n// Common aliases seen in user data → canonical SAP\nconst SAP_ALIASES = {\n  \"presentation\": \"present\",\n  \"approach\": \"rapport\",\n  \"solution\": \"design\"\n};\n\nconst ALL_IDG_TAGS = [\n  \"inner compass\", \"integrity and authenticity\", \"openness learning mindset\", \"self-awareness\", \"presence\",\n  \"critical thinking\", \"complexity awareness\", \"perspective skills\", \"sense-making\",\n  \"long-term orientation and visioning\", \"appreciation\", \"connectedness\", \"humility\",\n  \"empathy and compassion\", \"communication skills\", \"co-creation skills\",\n  \"inclusive mindset and intercultural competence\", \"trust\", \"mobilisation skills\",\n  \"courage\", \"creativity\", \"optimism\", \"perserverance\"\n];\n\nconst ALL_BLOOM_TAGS = [\"remember\", \"understand\", \"apply\", \"analyze\", \"evaluate\", \"create\"];\nconst ALL_GIBBS_TAGS = [\"description\", \"feelings\", \"evaluation\", \"analysis\", \"conclusion\", \"action plan\"];\n\nconst bloomLowerTags = [\"remember\", \"understand\"];\nconst bloomMiddleTags = [\"apply\", \"analyze\", \"analyse\"]; // accept both spellings\nconst bloomHigherTags = [\"evaluate\", \"create\"];\n\nconst gibbsLowerTags = [\"description\", \"feelings\"];\nconst gibbsMiddleTags = [\"evaluation\", \"analysis\"];\nconst gibbsHigherTags = [\"conclusion\", \"action plan\"];\n\n// === Initialize trackers ===\nlet reflectionRowCount = 0;\nlet bloomTagSet = new Set();\nlet gibbsTagSet = new Set();\nlet reflectionQuality = \"none\";\n\n// === Points trackers ===\nconst BLOOM_POINTS = { lower: 1, middle: 2, higher: 3 };\nconst GIBBS_POINTS = { lower: 1, middle: 2, higher: 3 };\nlet bloomPointsTotal = 0;\nlet gibbsPointsTotal = 0;\n\n// === Helpers ===\nconst toArray = (v) =>\n  (v ?? \"\")\n    .toString()\n    .split(\",\")\n    .map(t => t.trim().toLowerCase())\n    .filter(Boolean);\n\nconst normalizeSap = (tag) => SAP_ALIASES[tag?.toLowerCase()?.trim()] || tag?.toLowerCase()?.trim();\n\n// === Loop over rows ===\nfor (const row of rows) {\n  // Reflections & Inquiries\n  if ((row.Reflection || \"\").trim()) totalReflections++;\n  if ((row.Inquiry || \"\").trim()) totalInquiries++;\n\n  // SAP tags (with alias normalization)\n  if (row.tags && row.tags.toLowerCase() !== \"none\") {\n    toArray(row.tags).forEach(raw => {\n      const t = normalizeSap(raw);\n      if (t && ALL_SAP_TAGS.includes(t)) uniqueSAPTags.add(t);\n    });\n  }\n\n  // IDG tags\n  if (row.IDG && row.IDG.toLowerCase() !== \"none\") {\n    toArray(row.IDG).forEach(tag => {\n      if (tag && ALL_IDG_TAGS.includes(tag)) idgTags.add(tag);\n    });\n  }\n\n  // Reflection Quality (keep highest seen)\n  const quality = (row.Reflection_Quality || \"\").toLowerCase();\n  if (quality.includes(\"insightful\")) reflectionQuality = \"insightful\";\n  else if (quality.includes(\"reflective\") && reflectionQuality !== \"insightful\") reflectionQuality = \"reflective\";\n  else if (quality.includes(\"descriptive\") && ![\"insightful\", \"reflective\"].includes(reflectionQuality)) reflectionQuality = \"descriptive\";\n  else if (quality.includes(\"mechanical\") && reflectionQuality === \"none\") reflectionQuality = \"mechanical\";\n\n  // Daily reflections only (for Bloom/Gibbs quality scoring)\n  if (((row.type || \"\").toLowerCase() === \"daily\") && (row.Reflection || \"\").trim()) {\n    reflectionRowCount++;\n\n    // Bloom\n    const bloomSet = new Set(toArray(row.Bloom));\n    if (bloomHigherTags.some(t => bloomSet.has(t))) bloomPointsTotal += BLOOM_POINTS.higher;\n    else if (bloomMiddleTags.some(t => bloomSet.has(t))) bloomPointsTotal += BLOOM_POINTS.middle;\n    else if (bloomLowerTags.some(t => bloomSet.has(t))) bloomPointsTotal += BLOOM_POINTS.lower;\n    bloomSet.forEach(t => { if (ALL_BLOOM_TAGS.includes(t)) bloomTagSet.add(t); });\n\n    // Gibbs\n    const gibbsSet = new Set(toArray(row.Gibbs));\n    if (gibbsHigherTags.some(t => gibbsSet.has(t))) gibbsPointsTotal += GIBBS_POINTS.higher;\n    else if (gibbsMiddleTags.some(t => gibbsSet.has(t))) gibbsPointsTotal += GIBBS_POINTS.middle;\n    else if (gibbsLowerTags.some(t => gibbsSet.has(t))) gibbsPointsTotal += GIBBS_POINTS.lower;\n    gibbsSet.forEach(t => { if (ALL_GIBBS_TAGS.includes(t)) gibbsTagSet.add(t); });\n  }\n\n  // Weekly reflections only\n  if ((row.type || \"\").toLowerCase() === \"weekly\") {\n    weeklyRowFound = true;\n\n    caseSizeS += Number(row.case_size_s) || 0;\n    caseSizeM += Number(row.case_size_m) || 0;\n    caseSizeL += Number(row.case_size_l) || 0;\n    caseSizeXL += Number(row.case_size_xl) || 0;\n    appointmentsHeld += Number(row.appointments_held) || 0;\n\n    if (row.Outreach_Activity && row.Outreach_Activity.trim()) {\n      outreachActivity = row.Outreach_Activity.trim(); // keep last non-empty\n    }\n  }\n}\n\n// === Final scoring ===\nconst scoredSapTags = Array.from(uniqueSAPTags).sort();\nconst missedSapTags = ALL_SAP_TAGS.filter(tag => !uniqueSAPTags.has(tag)).sort();\nconst scoredSapCount = scoredSapTags.length;\nconst missedSapCount = missedSapTags.length;\n\nconst scoredIdgTags = Array.from(idgTags).sort();\nconst missedIdgTags = ALL_IDG_TAGS.filter(tag => !idgTags.has(tag)).sort();\nconst scoredIdgCount = scoredIdgTags.length;\nconst missedIdgCount = missedIdgTags.length;\n\nconst scoredBloomTags = Array.from(bloomTagSet).sort();\nconst missedBloomTags = ALL_BLOOM_TAGS.filter(tag => !bloomTagSet.has(tag)).sort();\nconst scoredBloomCount = scoredBloomTags.length;\nconst missedBloomCount = missedBloomTags.length;\n\nconst scoredGibbsTags = Array.from(gibbsTagSet).sort();\nconst missedGibbsTags = ALL_GIBBS_TAGS.filter(tag => !gibbsTagSet.has(tag)).sort();\nconst scoredGibbsCount = scoredGibbsTags.length;\nconst missedGibbsCount = missedGibbsTags.length;\n\nconst bloomQualityIndex = reflectionRowCount\n  ? Number((bloomPointsTotal / (reflectionRowCount * BLOOM_POINTS.higher)).toFixed(2))\n  : 0.00;\n\nconst gibbsQualityIndex = reflectionRowCount\n  ? Number((gibbsPointsTotal / (reflectionRowCount * GIBBS_POINTS.higher)).toFixed(2))\n  : 0.00;\n\n// === Output summary ===\nreturn [\n  {\n    json: {\n      user_id: payload.user_id ?? \"unknown\",\n      goalpath: payload.goal_path ?? \"unknown\",\n      week_user: payload.week_user,\n      month_current: payload.month_current,\n\n      // Stats for calc\n      totalReflections,\n      totalInquiries,\n      reflectionQuality,\n\n      // Funnel Outcomes Sales Drivers Stats for calc\ncase_size_s: parseInt(caseSizeS, 10),\ncase_size_m: parseInt(caseSizeM, 10),\ncase_size_l: parseInt(caseSizeL, 10),\ncase_size_xl: parseInt(caseSizeXL, 10),\nappointments_held: parseInt(appointmentsHeld, 10),\nOutreach_Activity: outreachActivity,\n\n      // SAP, IDG, Bloom, Gibbs\n      scoredSapTags,\n      missedSapTags,\n      scoredSapCount,\n      missedSapCount,\n      percentUniqueSAPTags: ((scoredSapCount / ALL_SAP_TAGS.length) * 100).toFixed(2),\n\n      scoredIdgTags,\n      missedIdgTags,\n      scoredIdgCount,\n      missedIdgCount,\n      percentUniqueIDG: ((scoredIdgCount / ALL_IDG_TAGS.length) * 100).toFixed(2),\n\n      scoredBloomTags,\n      missedBloomTags,\n      scoredBloomCount,\n      missedBloomCount,\n      percentUniqueBloom: ((scoredBloomCount / ALL_BLOOM_TAGS.length) * 100).toFixed(2),\n\n      scoredGibbsTags,\n      missedGibbsTags,\n      scoredGibbsCount,\n      missedGibbsCount,\n      percentUniqueGibbs: ((scoredGibbsCount / ALL_GIBBS_TAGS.length) * 100).toFixed(2),\n\n      // Final indexes\n      bloomQualityIndex,\n      gibbsQualityIndex\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,464],"id":"eeaa8b3a-8f6e-457f-817b-3b59dfc02aa0","name":"Code1","notesInFlow":true,"onError":"continueRegularOutput","notes":"Data for calc"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.goalpath }}","rightValue":"=Explorer","operator":{"type":"string","operation":"equals"},"id":"2943ee83-8ced-442b-a8a3-e3b1c09c00e0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Explorer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2d78823-9adc-4f22-be21-9ba7016da29b","leftValue":"={{ $json.goalpath }}","rightValue":"Builder","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Builder"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bca4263-5f77-42da-bae6-009de770b92f","leftValue":"={{ $json.goalpath }}","rightValue":"Performer","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Performer"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-400,464],"id":"b9df93e1-edf2-40b3-b012-2b75fc16b740","name":"Switch","notesInFlow":false},{"parameters":{"jsCode":"// === INPUTS from Code1 ===\nconst totalReflections = $('Code1').first().json.totalReflections;\nconst totalInquiries = $('Code1').first().json.totalInquiries;\nconst month_current = Number($('Code1').first().json.month_current);\nconst week_user = Number($('Code1').first().json.week_user);\nconst reflectionQuality = String($('Code1').first().json.reflectionQuality || '').toLowerCase();\n\nconst s = parseInt($('Code1').first().json.case_size_s) || 0;\nconst m = parseInt($('Code1').first().json.case_size_m) || 0;\nconst l = parseInt($('Code1').first().json.case_size_l) || 0;\nconst xl = parseInt($('Code1').first().json.case_size_xl) || 0;\nconst appointments_held = parseInt($('Code1').first().json.appointments_held) || 0;\nconst Outreach_Activity = $('Code1').first().json.Outreach_Activity || \"None\";\n\nconst percentUniqueSAPTags = parseFloat($('Code1').first().json.percentUniqueSAPTags || 0);\nconst percentUniqueIDG = parseFloat($('Code1').first().json.percentUniqueIDG || 0);\nconst bloomQualityIndex = parseFloat($('Code1').first().json.bloomQualityIndex || 0);\nconst gibbsQualityIndex = parseFloat($('Code1').first().json.gibbsQualityIndex || 0);\n\nconst CE_current_month = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].CE_current_month;\n\n// === 1. Reflection Frequency Score ===\nlet Reflection_Frequency_Score = 0;\nif (totalReflections >= 5) Reflection_Frequency_Score = 5;\nelse if (totalReflections === 4) Reflection_Frequency_Score = 4;\nelse if (totalReflections === 3) Reflection_Frequency_Score = 3;\nelse if (totalReflections === 2) Reflection_Frequency_Score = 2;\nelse if (totalReflections === 1) Reflection_Frequency_Score = 1;\n\n// === 2. Inquiry Frequency Score ===\nlet Inquiry_Frequency_Score = 0;\nif (totalInquiries >= 12 && totalInquiries <= 14) Inquiry_Frequency_Score = 5;\nelse if (totalInquiries >= 9) Inquiry_Frequency_Score = 4;\nelse if (totalInquiries >= 6) Inquiry_Frequency_Score = 3;\nelse if (totalInquiries >= 3) Inquiry_Frequency_Score = 2;\nelse if (totalInquiries >= 1) Inquiry_Frequency_Score = 1;\n\n// === 3. SAP Tag Score ===\nlet SAP_Tag_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueSAPTags >= 15) SAP_Tag_Score = 2;\n  else if (percentUniqueSAPTags >= 10) SAP_Tag_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueSAPTags >= 20,\n    bloomQualityIndex >= 0.20\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 10,\n    bloomQualityIndex >= 0.20\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueSAPTags >= 20,\n    bloomQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 15,\n    bloomQualityIndex >= 0.25\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n}\n\n// === 4. IDG Score ===\nlet IDG_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueIDG >= 10) IDG_Score = 2;\n  else if (percentUniqueIDG >= 5) IDG_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueIDG >= 15,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 5,\n    gibbsQualityIndex >= 0.20\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueIDG >= 15,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 10,\n    gibbsQualityIndex >= 0.20\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n}\n\n// === 5. Funnel Outcomes Score ===\n// CE_week formula\nlet CE_week = (s * 0.20) + (m * 0.50) + (l * 1.00) + (xl * 1.70);\n\n// Sum past 3 weeks (array is guaranteed to exist from Code12, default padded with 0)\nconst past3Sum = CE_current_month.reduce((acc, val) => acc + (parseFloat(val) || 0), 0);\nlet CE_4_weeks = CE_week + past3Sum;\n\n// CE_milestone based on week_user\nlet CE_milestone = 1;\nif (week_user >= 9 && week_user <= 12) {\n  CE_milestone = 3;\n} else if (week_user >= 13) {\n  CE_milestone = 4;\n}\n\n// CE_score formula\nlet rawCEscore = CE_4_weeks / CE_milestone;\nlet CE_score = rawCEscore >= 1 ? 1.00 : Number(rawCEscore.toFixed(2));\n\n// ✅ Round CE_week and CE_4_weeks too\nCE_week = Number(CE_week.toFixed(2));\nCE_4_weeks = Number(CE_4_weeks.toFixed(2));\n\n// === Appt Score Calculation ===\n// Determine Appt_milestone based on week_user\nlet Appt_milestone = 1;\nif (week_user >= 9 && week_user <= 12) {\n  Appt_milestone = 2;\n} else if (week_user >= 13) {\n  Appt_milestone = 3;\n}\n\n// Calculate appt_score\nlet rawApptScore = appointments_held / Appt_milestone;\nlet appt_score = rawApptScore >= 1 ? 1.00 : Number(rawApptScore.toFixed(2));\n\n// === Outreach Score Calculation ===\nlet outreach_score = 0.0;\nif (Outreach_Activity === \"Less than Normal\") {\n  outreach_score = 0.3;\n} else if (Outreach_Activity === \"Normal\") {\n  outreach_score = 0.7;\n} else if (Outreach_Activity === \"More than Normal\") {\n  outreach_score = 1.0;\n}\n\n// ✅ Round to 2 decimal places\noutreach_score = Number(outreach_score.toFixed(2));\n\n// Sales Effectiveness Quotient (SEQ)\nlet SEQ = (0.50 * CE_score) + (0.35 * appt_score) + (0.15 * outreach_score);\n\n// Round SEQ to 2 decimal places\nSEQ = Number(SEQ.toFixed(2));\n\n// Assign Funnel_Outcomes_Score based on SEQ bands\nlet Funnel_Outcomes_Score = 0;\nif (SEQ >= 0.75) {\n  Funnel_Outcomes_Score = 3;\n} else if (SEQ >= 0.50) {\n  Funnel_Outcomes_Score = 2;\n} else if (SEQ >= 0.25) {\n  Funnel_Outcomes_Score = 1;\n} else {\n  Funnel_Outcomes_Score = 0;\n}\n\n// === 6. Reflection Quality Score ===\nlet Reflection_Quality_Score = 0;\nif (reflectionQuality === \"insightful\") Reflection_Quality_Score = 3;\nelse if (reflectionQuality === \"reflective\") Reflection_Quality_Score = 2;\nelse if (reflectionQuality === \"descriptive\") Reflection_Quality_Score = 1;\n\n// === 7. Effort and Effectiveness Scores ===\nconst Effort_Score = Reflection_Frequency_Score + Inquiry_Frequency_Score;\nconst Effectiveness_Score = SAP_Tag_Score + IDG_Score + Funnel_Outcomes_Score + Reflection_Quality_Score;\n\n// === 8. Combined Performance Index ===\nlet esWeight = 0.5;\nlet efsWeight = 0.5;\n\nif (week_user >= 1 && week_user <= 4) {\n  esWeight = 0.6;\n  efsWeight = 0.4;\n} else if (week_user >= 5 && week_user <= 8) {\n  esWeight = 0.5;\n  efsWeight = 0.5;\n} else if (week_user >= 9 && week_user <= 12) {\n  esWeight = 0.4;\n  efsWeight = 0.6;\n} else if (week_user >= 13) {\n  esWeight = 0.3;\n  efsWeight = 0.7;\n}\n\nconst rawCPI = Effort_Score * esWeight + Effectiveness_Score * efsWeight;\nconst combined_performance_index = Math.round(rawCPI);\nconst normalized_cpi = parseFloat((rawCPI / 10).toFixed(2));\n\n// === FINAL RETURN ===\nreturn [\n  {\n    json: {\n      Reflection_Frequency_Score,\n      Inquiry_Frequency_Score,\n      SAP_Tag_Score,\n      IDG_Score,\n      Funnel_Outcomes_Score,\n      Reflection_Quality_Score,\n      Effort_Score,\n      Effectiveness_Score,\n      combined_performance_index,\n      normalized_cpi,\n      CE_week,\n      CE_4_weeks,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"ef3b494a-0069-452c-837c-c86a38245e48","name":"Code2","notesInFlow":true,"onError":"continueRegularOutput","notes":"Score calc till CPI"},{"parameters":{"jsCode":"// === Inputs ===\nconst normalized_cpi = $('Code2').first().json.normalized_cpi;\nconst prior_week_cpi = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].prior_week_cpi;\nconst past_cpis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_cpis;\nconst past_ctis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_ctis;\nlet total_reflection = $('Switch').first().json.totalReflections;\nlet total_inquiries = $('Switch').first().json.totalInquiries;\nlet percent_SAP = $('Switch').first().json.percentUniqueSAPTags;\nlet percent_IDG = $('Switch').first().json.percentUniqueIDG;\nlet CE_week = $input.first().json.CE_week;\nlet CE_4_weeks = $input.first().json.CE_4_weeks;\n\n// === 1. CPI Delta (normalized to 0–1)\nlet cpi_delta = normalized_cpi - prior_week_cpi;\n\nlet CPI_Delta;\nif (normalized_cpi === 0 && prior_week_cpi === 0) {\n  CPI_Delta = 0; // No effort in both weeks\n} else if (normalized_cpi >= 0.8 && prior_week_cpi >= 0.8) {\n  CPI_Delta = 1; // Reward sustained high performance regardless of minor variations\n} else {\n  CPI_Delta = Math.max(Math.min((cpi_delta + 1) / 2, 1), 0); // Normal [-1, 1] → [0, 1]\n}\n\n// === 2. CPI Consistency (Best N of last M)\nconst benchmark = 0.5;  // Explorer benchmark\nconst M = 5; // Check last 5 weeks\nconst N = 3; // Need 3 to pass\n\nconst recentWeeks = past_cpis.slice(-M);\nconst consistentWeeks = recentWeeks.filter(cpi => cpi >= benchmark).length;\nconst denominator = Math.min(N, recentWeeks.length);  // Prevent divide-by-zero for new users\n\nconst CPI_Consistency = denominator > 0\n  ? Math.min(1, consistentWeeks / denominator)\n  : 0;\n\n// === 3. CTI: Composite Trajectory Index (0–1)\nconst CTI = parseFloat((\n  0.7 * normalized_cpi +\n  0.15 * CPI_Delta +\n  0.15 * CPI_Consistency\n).toFixed(2));\n\n// === 3.5. Cumulative Score from all CTIs (0–10 scale)\nconst all_ctis = Array.isArray(past_ctis) ? [...past_ctis, CTI] : [CTI];\nconst avg_cti = all_ctis.reduce((sum, val) => sum + val, 0) / all_ctis.length;\n\n// === 4. X-Factor Score based on CTI bands\nlet X_Factor_Score = \"1\";\n\nif (CTI >= 0.99) {\n  X_Factor_Score = \"10\";\n} else if (CTI >= 0.95) {\n  X_Factor_Score = \"9\";\n} else if (CTI >= 0.90) {\n  X_Factor_Score = \"8\";\n} else if (CTI >= 0.83) {\n  X_Factor_Score = \"7\";\n} else if (CTI >= 0.75) {\n  X_Factor_Score = \"6\";\n} else if (CTI >= 0.65) {\n  X_Factor_Score = \"5\";\n} else if (CTI >= 0.50) {\n  X_Factor_Score = \"4\";\n} else if (CTI >= 0.35) {\n  X_Factor_Score = \"3\";\n} else if (CTI >= 0.20) {\n  X_Factor_Score = \"2\";\n} else {\n  X_Factor_Score = \"1\";\n}\n\n// === 4a. cumulative score based on avg_cti bands\nlet cumulative = \"1\";\n\nif (avg_cti >= 0.99) {\n  cumulative = \"10\";\n} else if (avg_cti >= 0.95) {\n  cumulative = \"9\";\n} else if (avg_cti >= 0.90) {\n  cumulative = \"8\";\n} else if (avg_cti >= 0.83) {\n  cumulative = \"7\";\n} else if (avg_cti >= 0.75) {\n  cumulative = \"6\";\n} else if (avg_cti >= 0.65) {\n  cumulative = \"5\";\n} else if (avg_cti >= 0.50) {\n  cumulative = \"4\";\n} else if (avg_cti >= 0.35) {\n  cumulative = \"3\";\n} else if (avg_cti >= 0.20) {\n  cumulative = \"2\";\n} else {\n  cumulative = \"1\";\n}\n\n// === Final Output ===\nreturn [\n  {\n    json: {\n      user_id: $('Switch').first().json.user_id,\n      scoredSapTags: $('Switch').first().json.scoredSapTags,\n      missedSapTags: $('Switch').first().json.missedSapTags,\n      scoredSapCount: $('Switch').first().json.scoredSapCount,\n      missedSapCount: $('Switch').first().json.missedSapCount,\n      scoredIdgTags: $('Switch').first().json.scoredIdgTags,\n      missedIdgTags: $('Switch').first().json.missedIdgTags,\n      scoredIdgCount: $('Switch').first().json.scoredIdgCount,\n      missedIdgCount: $('Switch').first().json.missedIdgCount,\n      scoredBloomTags: $('Switch').first().json.scoredBloomTags,\n      missedBloomTags: $('Switch').first().json.missedBloomTags,\n      scoredBloomCount: $('Switch').first().json.scoredBloomCount,\n      missedBloomCount: $('Switch').first().json.missedBloomCount,\n      scoredGibbsTags: $('Switch').first().json.scoredGibbsTags,\n      missedGibbsTags: $('Switch').first().json.missedGibbsTags,\n      scoredGibbsCount: $('Switch').first().json.scoredGibbsCount,\n      missedGibbsCount: $('Switch').first().json.missedGibbsCount,\n      Reflection_Frequency_Score: $('Code2').first().json.Reflection_Frequency_Score,\n      Inquiry_Frequency_Score: $('Code2').first().json.Inquiry_Frequency_Score,\n      SAP_Tag_Score: $('Code2').first().json.SAP_Tag_Score,\n      IDG_Score: $('Code2').first().json.IDG_Score,\n      Funnel_Outcomes_Score: $('Code2').first().json.Funnel_Outcomes_Score,\n      Reflection_Quality_Score: $('Code2').first().json.Reflection_Quality_Score,\n      Effort_Score: $('Code2').first().json.Effort_Score,\n      Effectiveness_Score: $('Code2').first().json.Effectiveness_Score,\n      CPI: $('Code2').first().json.combined_performance_index,\n      CPI_Normalized: $('Code2').first().json.normalized_cpi,\n      CPI_Delta,\n      CPI_Consistency,\n      CTI,\n      cumulative,\n      X_Factor_Score,\n      total_reflection,\n      total_inquiries,\n      percent_SAP,\n      percent_IDG,\n      CE_week,\n      CE_4_weeks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,0],"id":"3021c122-1fd8-48ec-8945-9af860aac5e2","name":"Code5","notesInFlow":true,"onError":"continueRegularOutput","notes":"calc: CPI Delta, CPI Consis, CTI, X-factor"},{"parameters":{"jsCode":"// === INPUTS from Code1 ===\nconst totalReflections = $('Code1').first().json.totalReflections;\nconst totalInquiries = $('Code1').first().json.totalInquiries;\nconst month_current = Number($('Code1').first().json.month_current);\nconst week_user = Number($('Code1').first().json.week_user);\nconst reflectionQuality = String($('Code1').first().json.reflectionQuality || '').toLowerCase();\n\nconst s = parseInt($('Code1').first().json.case_size_s) || 0;\nconst m = parseInt($('Code1').first().json.case_size_m) || 0;\nconst l = parseInt($('Code1').first().json.case_size_l) || 0;\nconst xl = parseInt($('Code1').first().json.case_size_xl) || 0;\nconst appointments_held = parseInt($('Code1').first().json.appointments_held) || 0;\nconst Outreach_Activity = $('Code1').first().json.Outreach_Activity || \"None\";\n\nconst percentUniqueSAPTags = parseFloat($('Code1').first().json.percentUniqueSAPTags || 0);\nconst percentUniqueIDG = parseFloat($('Code1').first().json.percentUniqueIDG || 0);\nconst bloomQualityIndex = parseFloat($('Code1').first().json.bloomQualityIndex || 0);\nconst gibbsQualityIndex = parseFloat($('Code1').first().json.gibbsQualityIndex || 0);\nconst CE_current_month = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].CE_current_month;\n\n// === 1. Reflection Frequency Score ===\nlet Reflection_Frequency_Score = 0;\nif (totalReflections >= 7) Reflection_Frequency_Score = 5;\nelse if (totalReflections === 6) Reflection_Frequency_Score = 4;\nelse if (totalReflections === 5) Reflection_Frequency_Score = 3;\nelse if (totalReflections === 4) Reflection_Frequency_Score = 2;\nelse if (totalReflections === 3) Reflection_Frequency_Score = 1;\n\n// === 2. Inquiry Frequency Score ===\nlet Inquiry_Frequency_Score = 0;\nif (totalInquiries >= 5) Inquiry_Frequency_Score = 5;\nelse if (totalInquiries === 4) Inquiry_Frequency_Score = 4;\nelse if (totalInquiries === 3) Inquiry_Frequency_Score = 3;\nelse if (totalInquiries === 2) Inquiry_Frequency_Score = 2;\nelse if (totalInquiries === 1) Inquiry_Frequency_Score = 1;\n\n// === 3. SAP Tag Score (Refactored with Bloom Index) ===\nlet SAP_Tag_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueSAPTags >= 20) SAP_Tag_Score = 2;\n  else if (percentUniqueSAPTags >= 15) SAP_Tag_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueSAPTags >= 30,\n    bloomQualityIndex >= 0.25\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 20,\n    bloomQualityIndex >= 0.25\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueSAPTags >= 30,\n    bloomQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 20,\n    bloomQualityIndex >= 0.30\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n}\n\n\n// === 4. IDG Score (Refactored with Gibbs Index) ===\nlet IDG_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueIDG >= 20) IDG_Score = 2;\n  else if (percentUniqueIDG >= 10) IDG_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueIDG >= 20,\n    gibbsQualityIndex >= 0.25\n  ];\n  const metMid = [\n    percentUniqueIDG >= 10,\n    gibbsQualityIndex >= 0.20\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueIDG >= 20,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 10,\n    gibbsQualityIndex >= 0.30\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n}\n\n// === 5. Funnel Outcomes Score ===\n// CE_week formula\nlet CE_week = (s * 0.20) + (m * 0.50) + (l * 1.00) + (xl * 1.70);\n\n// Sum past 3 weeks (array is guaranteed to exist from Code12, default padded with 0)\nconst past3Sum = CE_current_month.reduce((acc, val) => acc + (parseFloat(val) || 0), 0);\nlet CE_4_weeks = CE_week + past3Sum;\n\n// CE_milestone based on week_user\nlet CE_milestone = 1;  // default for weeks 1–4\n\nif (week_user >= 5 && week_user <= 8) {\n  CE_milestone = 2;\n} else if (week_user >= 9 && week_user <= 12) {\n  CE_milestone = 4;\n} else if (week_user >= 13) {\n  CE_milestone = 5;\n}\n\n// CE_score formula\nlet rawCEscore = CE_4_weeks / CE_milestone;\nlet CE_score = rawCEscore >= 1 ? 1.00 : Number(rawCEscore.toFixed(2));\n\n// ✅ Round CE_week and CE_4_weeks too\nCE_week = Number(CE_week.toFixed(2));\nCE_4_weeks = Number(CE_4_weeks.toFixed(2));\n\n// === Appt Score Calculation ===\n// === Appt Milestone for Builder Track ===\nlet Appt_milestone = 1; // default for weeks 1-4\n\nif (week_user >= 5 && week_user <= 8) {\n  Appt_milestone = 2;\n} else if (week_user >= 9 && week_user <= 12) {\n  Appt_milestone = 4;\n} else if (week_user >= 13) {\n  Appt_milestone = 4;\n}\n\n// Calculate appt_score\nlet rawApptScore = appointments_held / Appt_milestone;\nlet appt_score = rawApptScore >= 1 ? 1.00 : Number(rawApptScore.toFixed(2));\n\n// === Outreach Score Calculation ===\nlet outreach_score = 0.0;\nif (Outreach_Activity === \"Less than Normal\") {\n  outreach_score = 0.3;\n} else if (Outreach_Activity === \"Normal\") {\n  outreach_score = 0.7;\n} else if (Outreach_Activity === \"More than Normal\") {\n  outreach_score = 1.0;\n}\n\n// ✅ Round to 2 decimal places\noutreach_score = Number(outreach_score.toFixed(2));\n\n// Sales Effectiveness Quotient (SEQ)\nlet SEQ = (0.50 * CE_score) + (0.35 * appt_score) + (0.15 * outreach_score);\n\n// Round SEQ to 2 decimal places\nSEQ = Number(SEQ.toFixed(2));\n\n// Assign Funnel_Outcomes_Score based on SEQ bands\nlet Funnel_Outcomes_Score = 0;\nif (SEQ >= 0.75) {\n  Funnel_Outcomes_Score = 3;\n} else if (SEQ >= 0.50) {\n  Funnel_Outcomes_Score = 2;\n} else if (SEQ >= 0.25) {\n  Funnel_Outcomes_Score = 1;\n} else {\n  Funnel_Outcomes_Score = 0;\n}\n\n// === 6. Reflection Quality Score ===\nlet Reflection_Quality_Score = 0;\nif (reflectionQuality === \"insightful\") Reflection_Quality_Score = 3;\nelse if (reflectionQuality === \"reflective\") Reflection_Quality_Score = 2;\nelse if (reflectionQuality === \"descriptive\") Reflection_Quality_Score = 1;\n\n// === 7. Effort and Effectiveness Scores ===\nconst Effort_Score = Reflection_Frequency_Score + Inquiry_Frequency_Score;\nconst Effectiveness_Score = SAP_Tag_Score + IDG_Score + Funnel_Outcomes_Score + Reflection_Quality_Score;\n\n// === 8. Combined Performance Index ===\nlet esWeight = 0.5;\nlet efsWeight = 0.5;\nif (week_user >= 5 && week_user <= 8) {\n  esWeight = 0.4; efsWeight = 0.6;\n} else if (week_user >= 9 && week_user <= 12) {\n  esWeight = 0.3; efsWeight = 0.7;\n} else if (week_user >= 13) {\n  esWeight = 0.2; efsWeight = 0.8;\n}\n\nconst rawCPI = Effort_Score * esWeight + Effectiveness_Score * efsWeight;\nconst combined_performance_index = Math.round(rawCPI);\nconst normalized_cpi = parseFloat((rawCPI / 10).toFixed(2));\n\n// === FINAL RETURN ===\nreturn [\n  {\n    json: {\n      Reflection_Frequency_Score,\n      Inquiry_Frequency_Score,\n      SAP_Tag_Score,\n      IDG_Score,\n      Funnel_Outcomes_Score,\n      Reflection_Quality_Score,\n      Effort_Score,\n      Effectiveness_Score,\n      combined_performance_index,\n      normalized_cpi,\n      CE_week,\n      CE_4_weeks,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,432],"id":"267f4fe3-0c82-4e74-af7e-1273d15b88db","name":"Code6","notesInFlow":true,"onError":"continueRegularOutput","notes":"Score calc till CPI"},{"parameters":{"jsCode":"// === Inputs ===\nconst normalized_cpi = $('Code6').first().json.normalized_cpi;\nconst prior_week_cpi = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].prior_week_cpi;\nconst past_cpis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_cpis;\nconst past_ctis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_ctis;\nlet total_reflection = $('Switch').first().json.totalReflections;\nlet total_inquiries = $('Switch').first().json.totalInquiries;\nlet percent_SAP = $('Switch').first().json.percentUniqueSAPTags;\nlet percent_IDG = $('Switch').first().json.percentUniqueIDG;\nlet CE_week = $input.first().json.CE_week;\nlet CE_4_weeks = $input.first().json.CE_4_weeks;\n\n// === 1. CPI Delta (normalized to 0–1)\nlet cpi_delta = normalized_cpi - prior_week_cpi;\n\nlet CPI_Delta;\nif (normalized_cpi === 0 && prior_week_cpi === 0) {\n  CPI_Delta = 0; // No effort in both weeks\n} else if (normalized_cpi >= 0.8 && prior_week_cpi >= 0.8) {\n  CPI_Delta = 1; // Reward sustained high performance regardless of minor variations\n} else {\n  CPI_Delta = Math.max(Math.min((cpi_delta + 1) / 2, 1), 0); // Normal [-1, 1] → [0, 1]\n}\n\n// === 2. CPI Consistency (Best N of last M for Builder)\nconst benchmark = 0.6; // Builder benchmark\nconst M = 5; // Check last 5 weeks\nconst N = 4; // Need 4 to pass\n\nconst recentWeeks = past_cpis.slice(-M);\nconst consistentWeeks = recentWeeks.filter(cpi => cpi >= benchmark).length;\nconst denominator = Math.min(N, recentWeeks.length); // Prevent divide-by-zero\n\nconst CPI_Consistency = denominator > 0\n  ? Math.min(1, consistentWeeks / denominator)\n  : 0;\n\n// === 3. CTI: Composite Trajectory Index (0–1)\nconst CTI = parseFloat((\n  0.7 * normalized_cpi +\n  0.15 * CPI_Delta +\n  0.15 * CPI_Consistency\n).toFixed(2));\n\n// === 3.5. Cumulative Score from all CTIs (0–10 scale)\nconst all_ctis = Array.isArray(past_ctis) ? [...past_ctis, CTI] : [CTI];\nconst avg_cti = all_ctis.reduce((sum, val) => sum + val, 0) / all_ctis.length;\n\n// === 4. X-Factor Score based on CTI bands\nlet X_Factor_Score = \"1\";\n\nif (CTI >= 0.99) {\n  X_Factor_Score = \"10\";\n} else if (CTI >= 0.95) {\n  X_Factor_Score = \"9\";\n} else if (CTI >= 0.90) {\n  X_Factor_Score = \"8\";\n} else if (CTI >= 0.83) {\n  X_Factor_Score = \"7\";\n} else if (CTI >= 0.75) {\n  X_Factor_Score = \"6\";\n} else if (CTI >= 0.65) {\n  X_Factor_Score = \"5\";\n} else if (CTI >= 0.50) {\n  X_Factor_Score = \"4\";\n} else if (CTI >= 0.35) {\n  X_Factor_Score = \"3\";\n} else if (CTI >= 0.20) {\n  X_Factor_Score = \"2\";\n} else {\n  X_Factor_Score = \"1\";\n}\n\n// === 4a. cumulative score based on avg_cti bands\nlet cumulative = \"1\";\n\nif (avg_cti >= 0.99) {\n  cumulative = \"10\";\n} else if (avg_cti >= 0.95) {\n  cumulative = \"9\";\n} else if (avg_cti >= 0.90) {\n  cumulative = \"8\";\n} else if (avg_cti >= 0.83) {\n  cumulative = \"7\";\n} else if (avg_cti >= 0.75) {\n  cumulative = \"6\";\n} else if (avg_cti >= 0.65) {\n  cumulative = \"5\";\n} else if (avg_cti >= 0.50) {\n  cumulative = \"4\";\n} else if (avg_cti >= 0.35) {\n  cumulative = \"3\";\n} else if (avg_cti >= 0.20) {\n  cumulative = \"2\";\n} else {\n  cumulative = \"1\";\n}\n\n// === Final Output ===\nreturn [\n  {\n    json: {\n      user_id: $('Switch').first().json.user_id,\n      scoredSapTags: $('Switch').first().json.scoredSapTags,\n      missedSapTags: $('Switch').first().json.missedSapTags,\n      scoredSapCount: $('Switch').first().json.scoredSapCount,\n      missedSapCount: $('Switch').first().json.missedSapCount,\n      scoredIdgTags: $('Switch').first().json.scoredIdgTags,\n      missedIdgTags: $('Switch').first().json.missedIdgTags,\n      scoredIdgCount: $('Switch').first().json.scoredIdgCount,\n      missedIdgCount: $('Switch').first().json.missedIdgCount,\n      scoredBloomTags: $('Switch').first().json.scoredBloomTags,\n      missedBloomTags: $('Switch').first().json.missedBloomTags,\n      scoredBloomCount: $('Switch').first().json.scoredBloomCount,\n      missedBloomCount: $('Switch').first().json.missedBloomCount,\n      scoredGibbsTags: $('Switch').first().json.scoredGibbsTags,\n      missedGibbsTags: $('Switch').first().json.missedGibbsTags,\n      scoredGibbsCount: $('Switch').first().json.scoredGibbsCount,\n      missedGibbsCount: $('Switch').first().json.missedGibbsCount,\n      Reflection_Frequency_Score: $('Code6').first().json.Reflection_Frequency_Score,\n      Inquiry_Frequency_Score: $('Code6').first().json.Inquiry_Frequency_Score,\n      SAP_Tag_Score: $('Code6').first().json.SAP_Tag_Score,\n      IDG_Score: $('Code6').first().json.IDG_Score,\n      Funnel_Outcomes_Score: $('Code6').first().json.Funnel_Outcomes_Score,\n      Reflection_Quality_Score: $('Code6').first().json.Reflection_Quality_Score,\n      Effort_Score: $('Code6').first().json.Effort_Score,\n      Effectiveness_Score: $('Code6').first().json.Effectiveness_Score,\n      CPI: $('Code6').first().json.combined_performance_index,\n      CPI_Normalized: $('Code6').first().json.normalized_cpi,\n      CPI_Delta,\n      CPI_Consistency,\n      CTI,\n      cumulative,\n      X_Factor_Score,\n      total_reflection,\n      total_inquiries,\n      percent_SAP,\n      percent_IDG,\n      CE_week,\n      CE_4_weeks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,432],"id":"03ce568a-b84c-4432-920d-fd066c43235b","name":"Code8","notesInFlow":true,"onError":"continueRegularOutput","notes":"calc: CPI Delta, CPI Consis, CTI, X-factor"},{"parameters":{"jsCode":"// === INPUTS from Code1 ===\nconst totalReflections = $('Code1').first().json.totalReflections;\nconst totalInquiries = $('Code1').first().json.totalInquiries;\nconst month_current = Number($('Code1').first().json.month_current);\nconst week_user = Number($('Code1').first().json.week_user);\nconst reflectionQuality = String($('Code1').first().json.reflectionQuality || '').toLowerCase();\n\nconst s = parseInt($('Code1').first().json.case_size_s) || 0;\nconst m = parseInt($('Code1').first().json.case_size_m) || 0;\nconst l = parseInt($('Code1').first().json.case_size_l) || 0;\nconst xl = parseInt($('Code1').first().json.case_size_xl) || 0;\nconst appointments_held = parseInt($('Code1').first().json.appointments_held) || 0;\nconst Outreach_Activity = $('Code1').first().json.Outreach_Activity || \"None\";\n\nconst percentUniqueSAPTags = parseFloat($('Code1').first().json.percentUniqueSAPTags || 0);\nconst percentUniqueIDG = parseFloat($('Code1').first().json.percentUniqueIDG || 0);\nconst bloomQualityIndex = parseFloat($('Code1').first().json.bloomQualityIndex || 0);\nconst gibbsQualityIndex = parseFloat($('Code1').first().json.gibbsQualityIndex || 0);\n\nconst CE_current_month = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].CE_current_month;\n\n// === 1. Reflection Frequency Score ===\nlet Reflection_Frequency_Score = 0;\nif (totalReflections >= 8) Reflection_Frequency_Score = 5;\nelse if (totalReflections === 7) Reflection_Frequency_Score = 4;\nelse if (totalReflections === 6) Reflection_Frequency_Score = 3;\nelse if (totalReflections === 5) Reflection_Frequency_Score = 2;\nelse if (totalReflections === 4) Reflection_Frequency_Score = 1;\n\n// === 2. Inquiry Frequency Score ===\nlet Inquiry_Frequency_Score = 0;\nif (totalInquiries >= 3) Inquiry_Frequency_Score = 5;\nelse if (totalInquiries === 2) Inquiry_Frequency_Score = 3;\nelse if (totalInquiries === 1) Inquiry_Frequency_Score = 1;\n\n// === 3. SAP Tag Score (with Bloom Index)\nlet SAP_Tag_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueSAPTags >= 30) SAP_Tag_Score = 2;\n  else if (percentUniqueSAPTags >= 20) SAP_Tag_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueSAPTags >= 30,\n    bloomQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 25,\n    bloomQualityIndex >= 0.25\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueSAPTags >= 35,\n    bloomQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueSAPTags >= 25,\n    bloomQualityIndex >= 0.30\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) SAP_Tag_Score = 2;\n  else if (countMid >= 1) SAP_Tag_Score = 1;\n  else SAP_Tag_Score = 0;\n}\n\n\n// === 4. IDG Score (with Gibbs Index)\nlet IDG_Score = 0;\n\nif (month_current === 1) {\n  if (percentUniqueIDG >= 25) IDG_Score = 2;\n  else if (percentUniqueIDG >= 15) IDG_Score = 1;\n\n} else if (month_current === 2) {\n  const metHigh = [\n    percentUniqueIDG >= 20,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 15,\n    gibbsQualityIndex >= 0.25\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n\n} else if (month_current >= 3) {\n  const metHigh = [\n    percentUniqueIDG >= 25,\n    gibbsQualityIndex >= 0.30\n  ];\n  const metMid = [\n    percentUniqueIDG >= 15,\n    gibbsQualityIndex >= 0.30\n  ];\n  const countHigh = metHigh.filter(Boolean).length;\n  const countMid = metMid.filter(Boolean).length;\n\n  if (countHigh === 2) IDG_Score = 2;\n  else if (countMid >= 1) IDG_Score = 1;\n  else IDG_Score = 0;\n}\n\n// === 5. Funnel Outcomes Score ===\n// CE_week formula\nlet CE_week = (s * 0.20) + (m * 0.50) + (l * 1.00) + (xl * 1.70);\n\n// Sum past 3 weeks (array is guaranteed to exist from Code15, default padded with 0)\nconst past3Sum = CE_current_month.reduce((acc, val) => acc + (parseFloat(val) || 0), 0);\nlet CE_4_weeks = CE_week + past3Sum;\n\n// CE_milestone based on week_user (Performer track)\nlet CE_milestone = 1; // Default for weeks 1–4\nif (week_user >= 5 && week_user <= 8) {\n  CE_milestone = 3;\n} else if (week_user >= 9 && week_user <= 12) {\n  CE_milestone = 5;\n} else if (week_user >= 13) {\n  CE_milestone = 8;\n}\n\n// CE_score formula\nlet rawCEscore = CE_4_weeks / CE_milestone;\nlet CE_score = rawCEscore >= 1 ? 1.00 : Number(rawCEscore.toFixed(2));\n\n// ✅ Round CE_week and CE_4_weeks too\nCE_week = Number(CE_week.toFixed(2));\nCE_4_weeks = Number(CE_4_weeks.toFixed(2));\n\n// === Appt Score Calculation ===\n// Determine Appt_milestone based on week_user (Performer track)\nlet Appt_milestone = 1; // Default for weeks 1–4\nif (week_user >= 5 && week_user <= 8) {\n  Appt_milestone = 3;\n} else if (week_user >= 9 && week_user <= 12) {\n  Appt_milestone = 5;\n} else if (week_user >= 13) {\n  Appt_milestone = 6;\n}\n\n// Calculate appt_score\nlet rawApptScore = appointments_held / Appt_milestone;\nlet appt_score = rawApptScore >= 1 ? 1.00 : Number(rawApptScore.toFixed(2));\n\n// === Outreach Score Calculation ===\nlet outreach_score = 0.0;\nif (Outreach_Activity === \"Less than Normal\") {\n  outreach_score = 0.3;\n} else if (Outreach_Activity === \"Normal\") {\n  outreach_score = 0.7;\n} else if (Outreach_Activity === \"More than Normal\") {\n  outreach_score = 1.0;\n}\n\n// ✅ Round to 2 decimal places\noutreach_score = Number(outreach_score.toFixed(2));\n\n// Sales Effectiveness Quotient (SEQ)\nlet SEQ = (0.50 * CE_score) + (0.35 * appt_score) + (0.15 * outreach_score);\n\n// Round SEQ to 2 decimal places\nSEQ = Number(SEQ.toFixed(2));\n\n// Assign Funnel_Outcomes_Score based on SEQ bands\nlet Funnel_Outcomes_Score = 0;\nif (SEQ >= 0.75) {\n  Funnel_Outcomes_Score = 3;\n} else if (SEQ >= 0.50) {\n  Funnel_Outcomes_Score = 2;\n} else if (SEQ >= 0.25) {\n  Funnel_Outcomes_Score = 1;\n} else {\n  Funnel_Outcomes_Score = 0;\n}\n\n// === 6. Reflection Quality Score\nlet Reflection_Quality_Score = 0;\nif (reflectionQuality === \"insightful\") Reflection_Quality_Score = 3;\nelse if (reflectionQuality === \"reflective\") Reflection_Quality_Score = 2;\nelse if (reflectionQuality === \"descriptive\") Reflection_Quality_Score = 1;\n\n// === 7. Effort and Effectiveness Scores\nconst Effort_Score = Reflection_Frequency_Score + Inquiry_Frequency_Score;\nconst Effectiveness_Score = SAP_Tag_Score + IDG_Score + Funnel_Outcomes_Score + Reflection_Quality_Score;\n\n// === 8. Combined Performance Index\nlet esWeight = 0.5;\nlet efsWeight = 0.5;\nif (week_user >= 1 && week_user <= 4) {\n  esWeight = 0.4;\n  efsWeight = 0.6;\n} else if (week_user >= 5 && week_user <= 8) {\n  esWeight = 0.3;\n  efsWeight = 0.7;\n} else if (week_user >= 9 && week_user <= 12) {\n  esWeight = 0.2;\n  efsWeight = 0.8;\n} else if (week_user >= 13) {\n  esWeight = 0.1;\n  efsWeight = 0.9;\n}\n\nconst rawCPI = Effort_Score * esWeight + Effectiveness_Score * efsWeight;\nconst combined_performance_index = Math.round(rawCPI);\nconst normalized_cpi = parseFloat((rawCPI / 10).toFixed(2));\n\n// === FINAL RETURN\nreturn [\n  {\n    json: {\n      Reflection_Frequency_Score,\n      Inquiry_Frequency_Score,\n      SAP_Tag_Score,\n      IDG_Score,\n      Funnel_Outcomes_Score,\n      Reflection_Quality_Score,\n      Effort_Score,\n      Effectiveness_Score,\n      combined_performance_index,\n      normalized_cpi,\n      CE_week,\n      CE_4_weeks,\n      CE_current_month\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,800],"id":"d5fb3565-0825-46d3-9f59-f18a7bb167cd","name":"Code9","notesInFlow":true,"onError":"continueRegularOutput","notes":"Score calc till CPI"},{"parameters":{"jsCode":"// === Inputs ===\nconst normalized_cpi = $('Code9').first().json.normalized_cpi;\nconst prior_week_cpi = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].prior_week_cpi;\nconst past_cpis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_cpis;\nconst past_ctis = $('Webhook - DX db to n8n - user data for X-factor calc').first().json.body[0].past_ctis;\nlet total_reflection = $('Switch').first().json.totalReflections;\nlet total_inquiries = $('Switch').first().json.totalInquiries;\nlet percent_SAP = $('Switch').first().json.percentUniqueSAPTags;\nlet percent_IDG = $('Switch').first().json.percentUniqueIDG;\nlet CE_week = $input.first().json.CE_week;\nlet CE_4_weeks = $input.first().json.CE_4_weeks;\n\n// === 1. CPI Delta (normalized to 0–1)\nlet cpi_delta = normalized_cpi - prior_week_cpi;\n\nlet CPI_Delta;\nif (normalized_cpi === 0 && prior_week_cpi === 0) {\n  CPI_Delta = 0; // No effort in both weeks\n} else if (normalized_cpi >= 0.8 && prior_week_cpi >= 0.8) {\n  CPI_Delta = 1; // Reward sustained high performance regardless of minor variations\n} else {\n  CPI_Delta = Math.max(Math.min((cpi_delta + 1) / 2, 1), 0); // Normal [-1, 1] → [0, 1]\n}\n\n// === 2. CPI Consistency (Best N of last M for Performer)\nconst benchmark = 0.7; // Performer benchmark\nconst M = 5; // Look at last 5 weeks\nconst N = 4; // Require at least 4 consistent weeks\n\nconst recentWeeks = past_cpis.slice(-M);\nconst consistentWeeks = recentWeeks.filter(cpi => cpi >= benchmark).length;\nconst denominator = Math.min(N, recentWeeks.length); // Prevent divide-by-zero\n\nconst CPI_Consistency = denominator > 0\n  ? Math.min(1, consistentWeeks / denominator)\n  : 0;\n\n// === 3. CTI: Composite Trajectory Index (0–1)\nconst CTI = parseFloat((\n  0.7 * normalized_cpi +\n  0.15 * CPI_Delta +\n  0.15 * CPI_Consistency\n).toFixed(2));\n\n// === 3.5. Cumulative Score from all CTIs (0–10 scale)\nconst all_ctis = Array.isArray(past_ctis) ? [...past_ctis, CTI] : [CTI];\nconst avg_cti = all_ctis.reduce((sum, val) => sum + val, 0) / all_ctis.length;\n\n// === 4. X-Factor Score based on CTI bands\nlet X_Factor_Score = \"1\";\n\nif (CTI >= 0.99) {\n  X_Factor_Score = \"10\";\n} else if (CTI >= 0.95) {\n  X_Factor_Score = \"9\";\n} else if (CTI >= 0.90) {\n  X_Factor_Score = \"8\";\n} else if (CTI >= 0.83) {\n  X_Factor_Score = \"7\";\n} else if (CTI >= 0.75) {\n  X_Factor_Score = \"6\";\n} else if (CTI >= 0.65) {\n  X_Factor_Score = \"5\";\n} else if (CTI >= 0.50) {\n  X_Factor_Score = \"4\";\n} else if (CTI >= 0.35) {\n  X_Factor_Score = \"3\";\n} else if (CTI >= 0.20) {\n  X_Factor_Score = \"2\";\n} else {\n  X_Factor_Score = \"1\";\n}\n\n// === 4a. cumulative score based on avg_cti bands\nlet cumulative = \"1\";\n\nif (avg_cti >= 0.99) {\n  cumulative = \"10\";\n} else if (avg_cti >= 0.95) {\n  cumulative = \"9\";\n} else if (avg_cti >= 0.90) {\n  cumulative = \"8\";\n} else if (avg_cti >= 0.83) {\n  cumulative = \"7\";\n} else if (avg_cti >= 0.75) {\n  cumulative = \"6\";\n} else if (avg_cti >= 0.65) {\n  cumulative = \"5\";\n} else if (avg_cti >= 0.50) {\n  cumulative = \"4\";\n} else if (avg_cti >= 0.35) {\n  cumulative = \"3\";\n} else if (avg_cti >= 0.20) {\n  cumulative = \"2\";\n} else {\n  cumulative = \"1\";\n}\n\n// === Final Output ===\nreturn [\n  {\n    json: {\n      user_id: $('Switch').first().json.user_id,\n      scoredSapTags: $('Switch').first().json.scoredSapTags,\n      missedSapTags: $('Switch').first().json.missedSapTags,\n      scoredSapCount: $('Switch').first().json.scoredSapCount,\n      missedSapCount: $('Switch').first().json.missedSapCount,\n      scoredIdgTags: $('Switch').first().json.scoredIdgTags,\n      missedIdgTags: $('Switch').first().json.missedIdgTags,\n      scoredIdgCount: $('Switch').first().json.scoredIdgCount,\n      missedIdgCount: $('Switch').first().json.missedIdgCount,\n      scoredBloomTags: $('Switch').first().json.scoredBloomTags,\n      missedBloomTags: $('Switch').first().json.missedBloomTags,\n      scoredBloomCount: $('Switch').first().json.scoredBloomCount,\n      missedBloomCount: $('Switch').first().json.missedBloomCount,\n      scoredGibbsTags: $('Switch').first().json.scoredGibbsTags,\n      missedGibbsTags: $('Switch').first().json.missedGibbsTags,\n      scoredGibbsCount: $('Switch').first().json.scoredGibbsCount,\n      missedGibbsCount: $('Switch').first().json.missedGibbsCount,\n      Reflection_Frequency_Score: $('Code9').first().json.Reflection_Frequency_Score,\n      Inquiry_Frequency_Score: $('Code9').first().json.Inquiry_Frequency_Score,\n      SAP_Tag_Score: $('Code9').first().json.SAP_Tag_Score,\n      IDG_Score: $('Code9').first().json.IDG_Score,\n      Funnel_Outcomes_Score: $('Code9').first().json.Funnel_Outcomes_Score,\n      Reflection_Quality_Score: $('Code9').first().json.Reflection_Quality_Score,\n      Effort_Score: $('Code9').first().json.Effort_Score,\n      Effectiveness_Score: $('Code9').first().json.Effectiveness_Score,\n      CPI: $('Code9').first().json.combined_performance_index,\n      CPI_Normalized: $('Code9').first().json.normalized_cpi,\n      CPI_Delta,\n      CPI_Consistency,\n      CTI,\n      cumulative,\n      X_Factor_Score,\n      total_reflection,\n      total_inquiries,\n      percent_SAP,\n      percent_IDG,\n      CE_week,\n      CE_4_weeks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,800],"id":"de1ddb57-12da-4123-96a4-a43b7bc08917","name":"Code11","notesInFlow":true,"onError":"continueRegularOutput","notes":"calc: CPI Delta, CPI Consis, CTI, X-factor"},{"parameters":{"httpMethod":"POST","path":"ec492154-273c-42b7-b4ff-1de23a51cf89","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-960,464],"id":"6b358fa7-297e-49f1-a48f-a797cfcd849d","name":"Webhook - DX db to n8n - user data for X-factor calc","webhookId":"ec492154-273c-42b7-b4ff-1de23a51cf89","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}}],"connections":{"Code1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}],[{"node":"Code9","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Code11","type":"main","index":0}]]},"Webhook - DX db to n8n - user data for X-factor calc":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"authors":"Leon Kiong","name":null,"description":null},"tags":[]}