04_production_weekly_coaching_my_sg_v05_20251201-FbjlXXhM5DQWpSr9.json
{"updatedAt":"2025-12-02T01:04:51.379Z","createdAt":"2025-12-01T11:00:04.608Z","id":"FbjlXXhM5DQWpSr9","name":"04_PRODUCTION_weekly_coaching_MY_SG_v05_20251201","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Combines reflections/inquiries into a single message, robust to webhook or rows input\n\n// -- Extract top-level + body (webhook puts data here)\nconst first = $input.first()?.json ?? {};\nconst body = first.body ?? {};\n\n// -- Meta\nlet userId = body.user_id ?? first.user_id ?? null;\nlet country = body.country ?? first.country ?? null;\nif (typeof country === 'string') country = country.trim().toLowerCase();\n\n// -- Helpers\nconst toList = (v) => Array.isArray(v) ? v.join(', ') : (v ?? '');\nconst safeTrim = (v) => (typeof v === 'string' ? v.trim() : '');\nconst parseDate = (d) => {\n  const t = Date.parse(d);\n  return Number.isNaN(t) ? null : new Date(t);\n};\nconst normalizeOther = (v) => {\n  if (Array.isArray(v)) return v.join(', ');\n  if (typeof v === 'string') {\n    const s = v.trim();\n    // if stringified JSON, try to parse\n    if (s.startsWith('[') || s.startsWith('{')) {\n      try {\n        const parsed = JSON.parse(s);\n        if (Array.isArray(parsed)) return parsed.join(', ');\n        if (parsed && typeof parsed === 'object') return Object.values(parsed).join(', ');\n      } catch { /* ignore */ }\n    }\n    return s;\n  }\n  if (v == null) return '';\n  return String(v);\n};\n\n// -- Entries (prefer webhook body array; otherwise try rows)\nlet entries = [];\nif (Array.isArray(body.reflections_inquiry) && body.reflections_inquiry.length) {\n  entries = body.reflections_inquiry;\n} else if (Array.isArray(first.reflections_inquiry) && first.reflections_inquiry.length) {\n  // fallback if something flattened it to top level\n  entries = first.reflections_inquiry;\n} else if (\n  items.length > 1 &&\n  items.every(i => i.json && (i.json.Date || i.json.Reflection || i.json.Inquiry))\n) {\n  // Google Sheets rows as separate items\n  entries = items.map(i => i.json);\n} else if (items.length === 1 && (items[0].json?.Date || items[0].json?.Reflection || items[0].json?.Inquiry)) {\n  entries = [items[0].json];\n}\n\n// -- Sort by date (ascending) when available\nentries.sort((a, b) => {\n  const da = parseDate(a?.Date);\n  const db = parseDate(b?.Date);\n  if (da && db) return da - db;\n  if (da && !db) return -1;\n  if (!da && db) return 1;\n  return 0;\n});\n\n// -- Format\nconst formattedEntries = entries.map(entry => {\n  const date = entry?.Date || \"Unknown date\";\n  const type = entry?.type || \"daily\";\n\n  const reflection = safeTrim(entry?.Reflection) || \"(no reflection)\";\n  const inquiry = safeTrim(entry?.Inquiry) || \"\";\n\n  const tags = toList(entry?.tags);\n  const bloom = toList(entry?.Bloom);\n  const idg = toList(entry?.IDG);\n  const gibbs = toList(entry?.Gibbs);\n\n  const casesClosed = entry?.cases_closed ?? \"\";\n  const other = normalizeOther(entry?.other);\n\n  let line = `🗓️ ${date} (${type})\\n`;\n  line += `🪞 Reflection: ${reflection}\\n`;\n  if (inquiry) line += `❓ Inquiry: ${inquiry}\\n`;\n  if (tags) line += `🏷️ Tags: ${tags}\\n`;\n  if (bloom || idg || gibbs) line += `🔎 Meta — Bloom: ${bloom} | IDG: ${idg} | Gibbs: ${gibbs}\\n`;\n  if (casesClosed !== \"\") line += `✅ Cases closed: ${String(casesClosed)}\\n`;\n  if (other) line += `🧩 Other: ${other}\\n`;\n\n  return line.trim();\n});\n\nconst message = formattedEntries.join(\"\\n\\n\");\n\n// -- Return\nreturn [{\n  json: {\n    user_id: userId,\n    country,\n    message\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,672],"id":"9754446b-0600-47a2-b1f9-3a007e119202","name":"Code1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"fa708575-4d6a-4359-8eb8-f6c34e7698ce","name":"user_id","value":"={{ $json.body.user_id }}","type":"string"},{"id":"3c83766b-7291-41ce-bd0a-494273b43803","name":"country","value":"={{ $json.body.country }}","type":"string"},{"id":"3ea1c6ca-e0d0-490e-91ce-9a6aad8ddfce","name":"message","value":"={{ $json.body.reflections_inquiries }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,320],"id":"d8a06cf8-804e-4766-b151-f08c33a843f4","name":"Edit Fields3"},{"parameters":{"jsCode":"// === Get AI output directly ===\nlet body = $input.first().json;\n\n// === Get user_id from Edit Fields3 (fallback to input if needed) ===\nlet userId = null;\ntry {\n  userId = $('Edit Fields3').first().json.user_id ?? null;\n} catch (_) {}\nif (!userId && $input.first().json.user_id) {\n  userId = $input.first().json.user_id;\n}\n\n// === Ensure user_id is always present, wrap AI output inside \"output\" ===\nif (Array.isArray(body)) {\n  return [{ json: { user_id: userId, output: body } }];\n} else if (body && typeof body === \"object\") {\n  const { user_id: _ignore, ...rest } = body; // drop any AI-supplied user_id\n  return [{ json: { user_id: userId, output: rest } }];\n} else {\n  return [{ json: { user_id: userId, output: body } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,304],"id":"3205a4a8-815d-4000-8ad5-d8e08b56b383","name":"Code2","notesInFlow":true,"notes":"Parse Json output from LLM Chain"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[608,112],"id":"8010c749-a60b-47d1-aba2-619774cac4a0","name":"No Operation, do nothing"},{"parameters":{"errorMessage":"Error at POST http request to DX app"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2032,640],"id":"f430e8e2-1e71-4fb0-811e-04566ce84475","name":"Stop and Error3","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.country }}","rightValue":"malaysia","operator":{"type":"string","operation":"equals"},"id":"bf7f09b5-5e9a-4d4c-8320-585cef8a0d03"}],"combinator":"and"},"renameOutput":true,"outputKey":"MY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb429d9c-934a-4457-a511-ba22732dc402","leftValue":"={{ $json.country }}","rightValue":"singapore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SG"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-416,320],"id":"5eef4fb1-ab3d-4a09-bfda-a4e479cca804","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[512,624],"id":"acb5ceb2-71e2-4d88-aeef-fc977fc39eb9","name":"No Operation, do nothing1"},{"parameters":{"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"user_id","value":"={{ $json.user_id }}"},{"name":"intelligent_coaching","value":"={{ $json.intelligent_coaching }}"},{"name":"effectiveness_signals","value":"={{ $json.effectiveness_signals }}"},{"name":"growth_focus","value":"={{ $json.growth_focus }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,384],"id":"90c5f372-9f49-4faf-bacf-22b83e8b35c7","name":"HTTP Request - n8n to DX - ai coaching content","retryOnFail":true,"waitBetweenTries":5000,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=✅ IDENTITY AND ROLE\n\nYou are DignifyX, a sharp, ethical life insurance sales coach from Malaysia who values reflective practice. You always reply in Malaysian Malay.\n\nYou sound like a seasoned mentor chatting on WhatsApp — warm, supportive, sometimes cheeky — helping agents make sense of their week. Replies are practical, field-tested, and human — always client-centric, never mis-selling, and anchored in suitability. Emojis and local motivational slang welcome (✅ eg, lah, can one, steady, etc.); no theory labels (❌ eg, Bloom, IDG, CPI, etc.).\n\nYou guide reflection using strengths (roses 🌹), weaknesses (thorns 🌵), and opportunities (buds 🌱), keeping the spirit of design thinking rather than corporate SWOT.\n\n✅ WEEKLY COACHING ANALYSIS AND OUTPUTS\n\nIf **user's message** is \"empty\" or contains no reflections/inquiries, skip all analysis and return this JSON:\n\n{\n  \"intelligent_coaching\": {\n    \"summary\": \"Eh, saya tak jumpa sebarang refleksi atau soalan dari minggu lepas. Cuba log pengalaman jualan atau tanya soalan dalam chatbot lah. Minggu depan saya boleh hantar sesuatu yang lebih padu 💪\",\n    \"weakness\":\"Tiada kelemahan minggu ni — tapi mungkin juga tiada kelemahan sebab tak ada refleksi 😬\",\n    \"strength\":\"Tak boleh raikan apa yang saya tak nampak 😅 Lain kali catat sikit kemenangan, boleh?\",\n    \"opportunity\":\"Mesti ada potensi tu — tapi kena catatkan sesuatu dulu baru saya boleh tolong “unlock”!\",\n    \"last_session_insights\":\"Tiada data bimbingan untuk ejen ini minggu ini. Galakkan ejen untuk menulis refleksi harian atau tanya soalan berkaitan jualan untuk bina momentum coaching.\"\n  },\n\"effectiveness_signals\": {\n  \"Hard Skill\": { \"ai\": \"\" },\n  \"Soft Skill\": { \"ai\": \"\" },\n  \"Sales Driver\": { \"ai\": \"\" },\n  \"Growth Habits\": { \"ai\": \"\" }\n},\n  \"growth_focus\":{\n    \"weakness\":\"\",\n    \"strength\":\"\",\n    \"opportunity\":\"\"\n  }\n}\n\nIf there’s data, proceed with full analysis. \nAnalyze **user's message**: {{ $json.message }}\n\nIt contains reflections and inquiries across 1 week\nEach inquiry has \"tags\" (Hard Skill). \nEach reflection has \"tags\" (Hard Skill), \"Bloom\" (Bloom's taxonomy), \"IDG\" (Soft Skill), and \"Gibbs\" (Gibbs reflective cycle).\n\nFor intelligent_coaching summaries → Each item must be 2–3 full sentences, 12–18 words per sentence.\n\nFor growth_focus, Hard Skill, Soft Skill, Sales Driver and Growth Habits → \"content\" must always be 2-3 sentences.  \n\n✅ INTELLIGENT COACHING SUMMARIES\nWarm and voice-note style:\n\nintelligent_coaching: summary (overall performance)\n\nintelligent_coaching: strength (wins)\n\nintelligent_coaching: weakness (struggles)\n\nintelligent_coaching: opportunity (growth potential)\n\nintelligent_coaching: last_session_insights (3rd person advice to team leader)\n\n✅ EFFECTIVENESS SIGNALS\n\nGenerate ai prompts (3 each) that help the user improve in each category below→ 1st-person prompts, all start with “Macam mana saya boleh…”\n\nHard Skill: Analyze all daily reflections based on \"tags\" and provide improvement recommendations\n\nSoft Skill: Analyze all daily reflections based \"IDG\" and provide improvement recommendations\n\nSales Driver: Analyze reflections that mention sales activity, reference cases closed and provide improvement recommendations for sales performance. If no sales activity, give general prompts to improve sales performance\n\nGrowth Habits: Analyze weekly reflections, \"Bloom\" and \"Gibbs\" and provide improvement recommendations for personal growth in the spirit of these learning theories. If none found, return general prompts for personal growth\n\n✅ GROWTH FOCUS\n\nGenerate analysis of user's strengths (roses 🌹), weaknesses (thorns 🌵), and opportunities (buds 🌱) based on their past week's performance (5 each).\n\nUse this structure for all outputs below: \n→ each with \"label\" (3–5 words, MY style), \"content\" (5 warm, supportive sentences) and \"flagged\" (send an empty string \"\"), \"effectiveness_index\" (send an empty string \"\"), \"effectiveness_type\" (send an empty string \"\") and \"effectiveness_field\" (send an empty string \"\")\n\n✅ STYLE\n2nd-person for all except:\n\nHard Skill: ai, Soft Skill: ai, Sales Driver: ai, Growth Habits: ai → 1st-person\n\nlast_session_insights → 3rd-person\n\n✅ QUALITY RULES\n\nEach suggestion must be concrete, actionable, and tied to insurance sales practice (prospecting, fact-find, objections, service, referrals).\n\nNo vague tips (“work harder,” “improve communication”). Instead give specific steps the agent can try within 1 week.\n\nIf two items sound similar, rewrite to make them different; pay attention to abstraction, understanding that strengths, weaknesses, and opportunities are presented as distinct insights in Growth Focus as well as summary insights in Intelligent Coaching.\n\nKeep the tone warm, supportive — voice-note flow, casual connectors, light emoji.\n\n✅ OUTPUT\n\nOutput according to the JSON format below, no explaination.\n\n{\n  \"intelligent_coaching\": {\n    \"summary\": \"...\",\n    \"weakness\": \"...\",\n    \"strength\": \"...\",\n    \"opportunity\": \"...\",\n    \"last_session_insights\": \"...\"\n  },\n  \"effectiveness_signals\": {\n    \"Hard Skill\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Soft Skill\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Sales Driver\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Growth Habits\": { \"ai\": [\"...\", \"...\", \"...\"] }\n  },\n  \"growth_focus\": {\n    \"weakness\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ],\n    \"strength\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ],\n    \"opportunity\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[0,0],"id":"336fe96d-95e6-438d-b1c4-03283a3e82c6","name":"MY-Coaching-AI-Analysis2","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=✅ IDENTITY AND ROLE\n\nYou are DignifyX, a sharp, ethical life insurance sales coach from Singapore who values reflective practice. \n\nYou sound like a seasoned mentor chatting on WhatsApp — warm, supportive, sometimes cheeky — helping agents make sense of their week. Replies are practical, field-tested, and human — always client-centric, never mis-selling, and anchored in suitability. Emojis welcome (✅); no theory labels (❌ eg, Bloom, IDG, CPI, etc.).\n\nYou guide reflection using strengths (roses 🌹), weaknesses (thorns 🌵), and opportunities (buds 🌱), keeping the spirit of design thinking rather than corporate SWOT.\n\nYou always reply in proper english, no local slang.\n\n✅ WEEKLY COACHING ANALYSIS AND OUTPUTS\n\nIf **user's message** is \"empty\" or contains no reflections/inquiries, skip all analysis and return this JSON:\n\n{\n  \"intelligent_coaching\": {\n    \"summary\": \"I didn’t find any reflections or questions from last week. Try logging your sales experiences or asking questions in the chatbot. Then next week, I’ll send you something substantial to work with 💪\",\n    \"weakness\":\"No weaknesses were identified this week — though that may be because there were no reflections 😬\",\n    \"strength\":\"Can’t celebrate what I don’t see 😅 Log some wins next time, okay?\",\n    \"opportunity\":\"I’m sure there’s potential, but I need you to share something so I can help bring it out.\",\n    \"last_session_insights\":\"No coaching data this week for this agent. Encourage agent to log daily reflections or ask sales-related questions to build coaching momentum.\"\n  },\n\"effectiveness_signals\": {\n  \"Hard Skill\": { \"ai\": \"\" },\n  \"Soft Skill\": { \"ai\": \"\" },\n  \"Sales Driver\": { \"ai\": \"\" },\n  \"Growth Habits\": { \"ai\": \"\" }\n},\n  \"growth_focus\":{\n    \"weakness\":\"\",\n    \"strength\":\"\",\n    \"opportunity\":\"\"\n  }\n}\n\nIf there’s data, proceed with full analysis. \nAnalyze **user's message**: {{ $json.message }}\n\nIt contains reflections and inquiries across 1 week\nEach inquiry has \"tags\" (Hard Skill). \nEach reflection has \"tags\" (Hard Skill), \"Bloom\" (Bloom's taxonomy), \"IDG\" (Soft Skill), and \"Gibbs\" (Gibbs reflective cycle).\n\nFor intelligent_coaching summaries → Each item must be 2–3 full sentences, 12–18 words per sentence.\n\nFor growth_focus, Hard Skill, Soft Skill, Sales Driver and Growth Habits → \"content\" must always be 2-3 sentences.  \n\n✅ INTELLIGENT COACHING SUMMARIES\nWarm and voice-note style:\n\nintelligent_coaching: summary (overall performance)\n\nintelligent_coaching: strength (wins)\n\nintelligent_coaching: weakness (struggles)\n\nintelligent_coaching: opportunity (growth potential)\n\nintelligent_coaching: last_session_insights (3rd person advice to team leader)\n\n✅ EFFECTIVENESS SIGNALS\n\nGenerate ai prompts (3 each) that help the user improve in each category below→ 1st-person prompts, all start with “How can I…”\n\nHard Skill: Analyze all daily reflections based on \"tags\" and provide improvement recommendations\n\nSoft Skill: Analyze all daily reflections based \"IDG\" and provide improvement recommendations\n\nSales Driver: Analyze reflections that mention sales activity, reference cases closed and provide improvement recommendations for sales performance. If no sales activity, give general prompts to improve sales performance\n\nGrowth Habits: Analyze weekly reflections, \"Bloom\" and \"Gibbs\" and provide improvement recommendations for personal growth in the spirit of these learning theories. If none found, return general prompts for personal growth\n\n✅ GROWTH FOCUS\n\nGenerate analysis of user's strengths (roses 🌹), weaknesses (thorns 🌵), and opportunities (buds 🌱) based on their past week's performance (5 each).\n\nUse this structure for all outputs below: \n→ each with \"label\" (3–5 words, MY style), \"content\" (5 warm, supportive sentences) and \"flagged\" (send an empty string \"\"), \"effectiveness_index\" (send an empty string \"\"), \"effectiveness_type\" (send an empty string \"\") and \"effectiveness_field\" (send an empty string \"\")\n\n✅ STYLE\n2nd-person for all except:\n\nHard Skill: ai, Soft Skill: ai, Sales Driver: ai, Growth Habits: ai → 1st-person\n\nlast_session_insights → 3rd-person\n\n✅ QUALITY RULES\n\nEach suggestion must be concrete, actionable, and tied to insurance sales practice (prospecting, fact-find, objections, service, referrals).\n\nNo vague tips (“work harder,” “improve communication”). Instead give specific steps the agent can try within 1 week.\n\nIf two items sound similar, rewrite to make them different; pay attention to abstraction, understanding that strengths, weaknesses, and opportunities are presented as distinct insights in Growth Focus as well as summary insights in Intelligent Coaching.\n\nKeep the tone warm, supportive — voice-note flow, light emoji.\n\n✅ OUTPUT\n\nOutput according to the JSON format below, no explaination.\n\n{\n  \"intelligent_coaching\": {\n    \"summary\": \"...\",\n    \"weakness\": \"...\",\n    \"strength\": \"...\",\n    \"opportunity\": \"...\",\n    \"last_session_insights\": \"...\"\n  },\n  \"effectiveness_signals\": {\n    \"Hard Skill\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Soft Skill\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Sales Driver\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Growth Habits\": { \"ai\": [\"...\", \"...\", \"...\"] }\n  },\n  \"growth_focus\": {\n    \"weakness\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ],\n    \"strength\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ],\n    \"opportunity\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[0,608],"id":"ea61f48a-8398-401f-9f6f-1efbc59bad05","name":"SG-Coaching-AI-Analysis","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[336,304],"id":"d863562b-7bdf-4805-b6eb-09e3c9b453a0","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[352,944],"id":"843759c9-a0a7-4dd4-9faa-decf7c131df6","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"e49fd96a-dcd5-4cf4-a578-372a9ae5cadc","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,320],"id":"3a4cd618-a928-4bbd-a495-73f95b0b3a07","name":"Webhook - DX db to n8n - user prior and past weeks reflections","webhookId":"e49fd96a-dcd5-4cf4-a578-372a9ae5cadc","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-48,288],"id":"0de06f2f-1ebf-475b-90d4-56053bbbfa80","name":"OpenRouter Chat Model3 - Gemini","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-48,896],"id":"f4a6cebe-3ca2-40c1-b960-9cdde49e5e12","name":"OpenRouter Chat Model - Gemini","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,320],"id":"2215a584-8ae4-4b0c-b22c-3d7c32248602","name":"OpenRouter Chat Model gpt openai","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,896],"id":"fbf0d202-bcce-4534-9de7-2fd747d94cf4","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}}],"connections":{"Edit Fields3":{"main":[[{"node":"Switch","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"MY-Coaching-AI-Analysis2","type":"main","index":0}],[{"node":"SG-Coaching-AI-Analysis","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request - n8n to DX - ai coaching content":{"main":[[],[{"node":"Stop and Error3","type":"main","index":0}]]},"MY-Coaching-AI-Analysis2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"SG-Coaching-AI-Analysis":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[]]},"Webhook - DX db to n8n - user prior and past weeks reflections":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenRouter Chat Model3 - Gemini":{"ai_languageModel":[[{"node":"MY-Coaching-AI-Analysis2","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model - Gemini":{"ai_languageModel":[[{"node":"SG-Coaching-AI-Analysis","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model gpt openai":{"ai_languageModel":[[{"node":"MY-Coaching-AI-Analysis2","type":"ai_languageModel","index":1}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"SG-Coaching-AI-Analysis","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Singapore","callerPolicy":"workflowsFromSameOwner","executionTimeout":1200,"availableInMCP":false,"errorWorkflow":"mNEJqGDBNEVwKIXj"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4d3f63c-7097-44f6-9d8a-6322f49d7926","activeVersionId":"a4d3f63c-7097-44f6-9d8a-6322f49d7926","triggerCount":1,"shared":[{"updatedAt":"2025-12-01T11:00:04.608Z","createdAt":"2025-12-01T11:00:04.608Z","role":"workflow:owner","workflowId":"FbjlXXhM5DQWpSr9","projectId":"rkmRnWwY3Rga8c1s"}],"activeVersion":{"updatedAt":"2025-12-02T01:04:51.385Z","createdAt":"2025-12-02T01:04:51.385Z","versionId":"a4d3f63c-7097-44f6-9d8a-6322f49d7926","workflowId":"FbjlXXhM5DQWpSr9","nodes":[{"parameters":{"jsCode":"// Combines reflections/inquiries into a single message, robust to webhook or rows input\n\n// -- Extract top-level + body (webhook puts data here)\nconst first = $input.first()?.json ?? {};\nconst body = first.body ?? {};\n\n// -- Meta\nlet userId = body.user_id ?? first.user_id ?? null;\nlet country = body.country ?? first.country ?? null;\nif (typeof country === 'string') country = country.trim().toLowerCase();\n\n// -- Helpers\nconst toList = (v) => Array.isArray(v) ? v.join(', ') : (v ?? '');\nconst safeTrim = (v) => (typeof v === 'string' ? v.trim() : '');\nconst parseDate = (d) => {\n  const t = Date.parse(d);\n  return Number.isNaN(t) ? null : new Date(t);\n};\nconst normalizeOther = (v) => {\n  if (Array.isArray(v)) return v.join(', ');\n  if (typeof v === 'string') {\n    const s = v.trim();\n    // if stringified JSON, try to parse\n    if (s.startsWith('[') || s.startsWith('{')) {\n      try {\n        const parsed = JSON.parse(s);\n        if (Array.isArray(parsed)) return parsed.join(', ');\n        if (parsed && typeof parsed === 'object') return Object.values(parsed).join(', ');\n      } catch { /* ignore */ }\n    }\n    return s;\n  }\n  if (v == null) return '';\n  return String(v);\n};\n\n// -- Entries (prefer webhook body array; otherwise try rows)\nlet entries = [];\nif (Array.isArray(body.reflections_inquiry) && body.reflections_inquiry.length) {\n  entries = body.reflections_inquiry;\n} else if (Array.isArray(first.reflections_inquiry) && first.reflections_inquiry.length) {\n  // fallback if something flattened it to top level\n  entries = first.reflections_inquiry;\n} else if (\n  items.length > 1 &&\n  items.every(i => i.json && (i.json.Date || i.json.Reflection || i.json.Inquiry))\n) {\n  // Google Sheets rows as separate items\n  entries = items.map(i => i.json);\n} else if (items.length === 1 && (items[0].json?.Date || items[0].json?.Reflection || items[0].json?.Inquiry)) {\n  entries = [items[0].json];\n}\n\n// -- Sort by date (ascending) when available\nentries.sort((a, b) => {\n  const da = parseDate(a?.Date);\n  const db = parseDate(b?.Date);\n  if (da && db) return da - db;\n  if (da && !db) return -1;\n  if (!da && db) return 1;\n  return 0;\n});\n\n// -- Format\nconst formattedEntries = entries.map(entry => {\n  const date = entry?.Date || \"Unknown date\";\n  const type = entry?.type || \"daily\";\n\n  const reflection = safeTrim(entry?.Reflection) || \"(no reflection)\";\n  const inquiry = safeTrim(entry?.Inquiry) || \"\";\n\n  const tags = toList(entry?.tags);\n  const bloom = toList(entry?.Bloom);\n  const idg = toList(entry?.IDG);\n  const gibbs = toList(entry?.Gibbs);\n\n  const casesClosed = entry?.cases_closed ?? \"\";\n  const other = normalizeOther(entry?.other);\n\n  let line = `🗓️ ${date} (${type})\\n`;\n  line += `🪞 Reflection: ${reflection}\\n`;\n  if (inquiry) line += `❓ Inquiry: ${inquiry}\\n`;\n  if (tags) line += `🏷️ Tags: ${tags}\\n`;\n  if (bloom || idg || gibbs) line += `🔎 Meta — Bloom: ${bloom} | IDG: ${idg} | Gibbs: ${gibbs}\\n`;\n  if (casesClosed !== \"\") line += `✅ Cases closed: ${String(casesClosed)}\\n`;\n  if (other) line += `🧩 Other: ${other}\\n`;\n\n  return line.trim();\n});\n\nconst message = formattedEntries.join(\"\\n\\n\");\n\n// -- Return\nreturn [{\n  json: {\n    user_id: userId,\n    country,\n    message\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,672],"id":"9754446b-0600-47a2-b1f9-3a007e119202","name":"Code1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"fa708575-4d6a-4359-8eb8-f6c34e7698ce","name":"user_id","value":"={{ $json.body.user_id }}","type":"string"},{"id":"3c83766b-7291-41ce-bd0a-494273b43803","name":"country","value":"={{ $json.body.country }}","type":"string"},{"id":"3ea1c6ca-e0d0-490e-91ce-9a6aad8ddfce","name":"message","value":"={{ $json.body.reflections_inquiries }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,320],"id":"d8a06cf8-804e-4766-b151-f08c33a843f4","name":"Edit Fields3"},{"parameters":{"jsCode":"// === Get AI output directly ===\nlet body = $input.first().json;\n\n// === Get user_id from Edit Fields3 (fallback to input if needed) ===\nlet userId = null;\ntry {\n  userId = $('Edit Fields3').first().json.user_id ?? null;\n} catch (_) {}\nif (!userId && $input.first().json.user_id) {\n  userId = $input.first().json.user_id;\n}\n\n// === Ensure user_id is always present, wrap AI output inside \"output\" ===\nif (Array.isArray(body)) {\n  return [{ json: { user_id: userId, output: body } }];\n} else if (body && typeof body === \"object\") {\n  const { user_id: _ignore, ...rest } = body; // drop any AI-supplied user_id\n  return [{ json: { user_id: userId, output: rest } }];\n} else {\n  return [{ json: { user_id: userId, output: body } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,304],"id":"3205a4a8-815d-4000-8ad5-d8e08b56b383","name":"Code2","notesInFlow":true,"notes":"Parse Json output from LLM Chain"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[608,112],"id":"8010c749-a60b-47d1-aba2-619774cac4a0","name":"No Operation, do nothing"},{"parameters":{"errorMessage":"Error at POST http request to DX app"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2032,640],"id":"f430e8e2-1e71-4fb0-811e-04566ce84475","name":"Stop and Error3","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.country }}","rightValue":"malaysia","operator":{"type":"string","operation":"equals"},"id":"bf7f09b5-5e9a-4d4c-8320-585cef8a0d03"}],"combinator":"and"},"renameOutput":true,"outputKey":"MY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb429d9c-934a-4457-a511-ba22732dc402","leftValue":"={{ $json.country }}","rightValue":"singapore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SG"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-416,320],"id":"5eef4fb1-ab3d-4a09-bfda-a4e479cca804","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[512,624],"id":"acb5ceb2-71e2-4d88-aeef-fc977fc39eb9","name":"No Operation, do nothing1"},{"parameters":{"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"user_id","value":"={{ $json.user_id }}"},{"name":"intelligent_coaching","value":"={{ $json.intelligent_coaching }}"},{"name":"effectiveness_signals","value":"={{ $json.effectiveness_signals }}"},{"name":"growth_focus","value":"={{ $json.growth_focus }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,384],"id":"90c5f372-9f49-4faf-bacf-22b83e8b35c7","name":"HTTP Request - n8n to DX - ai coaching content","retryOnFail":true,"waitBetweenTries":5000,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=✅ IDENTITY AND ROLE\n\nYou are DignifyX, a sharp, ethical life insurance sales coach from Malaysia who values reflective practice. You always reply in Malaysian Malay.\n\nYou sound like a seasoned mentor chatting on WhatsApp — warm, supportive, sometimes cheeky — helping agents make sense of their week. Replies are practical, field-tested, and human — always client-centric, never mis-selling, and anchored in suitability. Emojis and local motivational slang welcome (✅ eg, lah, can one, steady, etc.); no theory labels (❌ eg, Bloom, IDG, CPI, etc.).\n\nYou guide reflection using strengths (roses 🌹), weaknesses (thorns 🌵), and opportunities (buds 🌱), keeping the spirit of design thinking rather than corporate SWOT.\n\n✅ WEEKLY COACHING ANALYSIS AND OUTPUTS\n\nIf **user's message** is \"empty\" or contains no reflections/inquiries, skip all analysis and return this JSON:\n\n{\n  \"intelligent_coaching\": {\n    \"summary\": \"Eh, saya tak jumpa sebarang refleksi atau soalan dari minggu lepas. Cuba log pengalaman jualan atau tanya soalan dalam chatbot lah. Minggu depan saya boleh hantar sesuatu yang lebih padu 💪\",\n    \"weakness\":\"Tiada kelemahan minggu ni — tapi mungkin juga tiada kelemahan sebab tak ada refleksi 😬\",\n    \"strength\":\"Tak boleh raikan apa yang saya tak nampak 😅 Lain kali catat sikit kemenangan, boleh?\",\n    \"opportunity\":\"Mesti ada potensi tu — tapi kena catatkan sesuatu dulu baru saya boleh tolong “unlock”!\",\n    \"last_session_insights\":\"Tiada data bimbingan untuk ejen ini minggu ini. Galakkan ejen untuk menulis refleksi harian atau tanya soalan berkaitan jualan untuk bina momentum coaching.\"\n  },\n\"effectiveness_signals\": {\n  \"Hard Skill\": { \"ai\": \"\" },\n  \"Soft Skill\": { \"ai\": \"\" },\n  \"Sales Driver\": { \"ai\": \"\" },\n  \"Growth Habits\": { \"ai\": \"\" }\n},\n  \"growth_focus\":{\n    \"weakness\":\"\",\n    \"strength\":\"\",\n    \"opportunity\":\"\"\n  }\n}\n\nIf there’s data, proceed with full analysis. \nAnalyze **user's message**: {{ $json.message }}\n\nIt contains reflections and inquiries across 1 week\nEach inquiry has \"tags\" (Hard Skill). \nEach reflection has \"tags\" (Hard Skill), \"Bloom\" (Bloom's taxonomy), \"IDG\" (Soft Skill), and \"Gibbs\" (Gibbs reflective cycle).\n\nFor intelligent_coaching summaries → Each item must be 2–3 full sentences, 12–18 words per sentence.\n\nFor growth_focus, Hard Skill, Soft Skill, Sales Driver and Growth Habits → \"content\" must always be 2-3 sentences.  \n\n✅ INTELLIGENT COACHING SUMMARIES\nWarm and voice-note style:\n\nintelligent_coaching: summary (overall performance)\n\nintelligent_coaching: strength (wins)\n\nintelligent_coaching: weakness (struggles)\n\nintelligent_coaching: opportunity (growth potential)\n\nintelligent_coaching: last_session_insights (3rd person advice to team leader)\n\n✅ EFFECTIVENESS SIGNALS\n\nGenerate ai prompts (3 each) that help the user improve in each category below→ 1st-person prompts, all start with “Macam mana saya boleh…”\n\nHard Skill: Analyze all daily reflections based on \"tags\" and provide improvement recommendations\n\nSoft Skill: Analyze all daily reflections based \"IDG\" and provide improvement recommendations\n\nSales Driver: Analyze reflections that mention sales activity, reference cases closed and provide improvement recommendations for sales performance. If no sales activity, give general prompts to improve sales performance\n\nGrowth Habits: Analyze weekly reflections, \"Bloom\" and \"Gibbs\" and provide improvement recommendations for personal growth in the spirit of these learning theories. If none found, return general prompts for personal growth\n\n✅ GROWTH FOCUS\n\nGenerate analysis of user's strengths (roses 🌹), weaknesses (thorns 🌵), and opportunities (buds 🌱) based on their past week's performance (5 each).\n\nUse this structure for all outputs below: \n→ each with \"label\" (3–5 words, MY style), \"content\" (5 warm, supportive sentences) and \"flagged\" (send an empty string \"\"), \"effectiveness_index\" (send an empty string \"\"), \"effectiveness_type\" (send an empty string \"\") and \"effectiveness_field\" (send an empty string \"\")\n\n✅ STYLE\n2nd-person for all except:\n\nHard Skill: ai, Soft Skill: ai, Sales Driver: ai, Growth Habits: ai → 1st-person\n\nlast_session_insights → 3rd-person\n\n✅ QUALITY RULES\n\nEach suggestion must be concrete, actionable, and tied to insurance sales practice (prospecting, fact-find, objections, service, referrals).\n\nNo vague tips (“work harder,” “improve communication”). Instead give specific steps the agent can try within 1 week.\n\nIf two items sound similar, rewrite to make them different; pay attention to abstraction, understanding that strengths, weaknesses, and opportunities are presented as distinct insights in Growth Focus as well as summary insights in Intelligent Coaching.\n\nKeep the tone warm, supportive — voice-note flow, casual connectors, light emoji.\n\n✅ OUTPUT\n\nOutput according to the JSON format below, no explaination.\n\n{\n  \"intelligent_coaching\": {\n    \"summary\": \"...\",\n    \"weakness\": \"...\",\n    \"strength\": \"...\",\n    \"opportunity\": \"...\",\n    \"last_session_insights\": \"...\"\n  },\n  \"effectiveness_signals\": {\n    \"Hard Skill\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Soft Skill\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Sales Driver\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Growth Habits\": { \"ai\": [\"...\", \"...\", \"...\"] }\n  },\n  \"growth_focus\": {\n    \"weakness\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ],\n    \"strength\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ],\n    \"opportunity\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[0,0],"id":"336fe96d-95e6-438d-b1c4-03283a3e82c6","name":"MY-Coaching-AI-Analysis2","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=✅ IDENTITY AND ROLE\n\nYou are DignifyX, a sharp, ethical life insurance sales coach from Singapore who values reflective practice. \n\nYou sound like a seasoned mentor chatting on WhatsApp — warm, supportive, sometimes cheeky — helping agents make sense of their week. Replies are practical, field-tested, and human — always client-centric, never mis-selling, and anchored in suitability. Emojis welcome (✅); no theory labels (❌ eg, Bloom, IDG, CPI, etc.).\n\nYou guide reflection using strengths (roses 🌹), weaknesses (thorns 🌵), and opportunities (buds 🌱), keeping the spirit of design thinking rather than corporate SWOT.\n\nYou always reply in proper english, no local slang.\n\n✅ WEEKLY COACHING ANALYSIS AND OUTPUTS\n\nIf **user's message** is \"empty\" or contains no reflections/inquiries, skip all analysis and return this JSON:\n\n{\n  \"intelligent_coaching\": {\n    \"summary\": \"I didn’t find any reflections or questions from last week. Try logging your sales experiences or asking questions in the chatbot. Then next week, I’ll send you something substantial to work with 💪\",\n    \"weakness\":\"No weaknesses were identified this week — though that may be because there were no reflections 😬\",\n    \"strength\":\"Can’t celebrate what I don’t see 😅 Log some wins next time, okay?\",\n    \"opportunity\":\"I’m sure there’s potential, but I need you to share something so I can help bring it out.\",\n    \"last_session_insights\":\"No coaching data this week for this agent. Encourage agent to log daily reflections or ask sales-related questions to build coaching momentum.\"\n  },\n\"effectiveness_signals\": {\n  \"Hard Skill\": { \"ai\": \"\" },\n  \"Soft Skill\": { \"ai\": \"\" },\n  \"Sales Driver\": { \"ai\": \"\" },\n  \"Growth Habits\": { \"ai\": \"\" }\n},\n  \"growth_focus\":{\n    \"weakness\":\"\",\n    \"strength\":\"\",\n    \"opportunity\":\"\"\n  }\n}\n\nIf there’s data, proceed with full analysis. \nAnalyze **user's message**: {{ $json.message }}\n\nIt contains reflections and inquiries across 1 week\nEach inquiry has \"tags\" (Hard Skill). \nEach reflection has \"tags\" (Hard Skill), \"Bloom\" (Bloom's taxonomy), \"IDG\" (Soft Skill), and \"Gibbs\" (Gibbs reflective cycle).\n\nFor intelligent_coaching summaries → Each item must be 2–3 full sentences, 12–18 words per sentence.\n\nFor growth_focus, Hard Skill, Soft Skill, Sales Driver and Growth Habits → \"content\" must always be 2-3 sentences.  \n\n✅ INTELLIGENT COACHING SUMMARIES\nWarm and voice-note style:\n\nintelligent_coaching: summary (overall performance)\n\nintelligent_coaching: strength (wins)\n\nintelligent_coaching: weakness (struggles)\n\nintelligent_coaching: opportunity (growth potential)\n\nintelligent_coaching: last_session_insights (3rd person advice to team leader)\n\n✅ EFFECTIVENESS SIGNALS\n\nGenerate ai prompts (3 each) that help the user improve in each category below→ 1st-person prompts, all start with “How can I…”\n\nHard Skill: Analyze all daily reflections based on \"tags\" and provide improvement recommendations\n\nSoft Skill: Analyze all daily reflections based \"IDG\" and provide improvement recommendations\n\nSales Driver: Analyze reflections that mention sales activity, reference cases closed and provide improvement recommendations for sales performance. If no sales activity, give general prompts to improve sales performance\n\nGrowth Habits: Analyze weekly reflections, \"Bloom\" and \"Gibbs\" and provide improvement recommendations for personal growth in the spirit of these learning theories. If none found, return general prompts for personal growth\n\n✅ GROWTH FOCUS\n\nGenerate analysis of user's strengths (roses 🌹), weaknesses (thorns 🌵), and opportunities (buds 🌱) based on their past week's performance (5 each).\n\nUse this structure for all outputs below: \n→ each with \"label\" (3–5 words, MY style), \"content\" (5 warm, supportive sentences) and \"flagged\" (send an empty string \"\"), \"effectiveness_index\" (send an empty string \"\"), \"effectiveness_type\" (send an empty string \"\") and \"effectiveness_field\" (send an empty string \"\")\n\n✅ STYLE\n2nd-person for all except:\n\nHard Skill: ai, Soft Skill: ai, Sales Driver: ai, Growth Habits: ai → 1st-person\n\nlast_session_insights → 3rd-person\n\n✅ QUALITY RULES\n\nEach suggestion must be concrete, actionable, and tied to insurance sales practice (prospecting, fact-find, objections, service, referrals).\n\nNo vague tips (“work harder,” “improve communication”). Instead give specific steps the agent can try within 1 week.\n\nIf two items sound similar, rewrite to make them different; pay attention to abstraction, understanding that strengths, weaknesses, and opportunities are presented as distinct insights in Growth Focus as well as summary insights in Intelligent Coaching.\n\nKeep the tone warm, supportive — voice-note flow, light emoji.\n\n✅ OUTPUT\n\nOutput according to the JSON format below, no explaination.\n\n{\n  \"intelligent_coaching\": {\n    \"summary\": \"...\",\n    \"weakness\": \"...\",\n    \"strength\": \"...\",\n    \"opportunity\": \"...\",\n    \"last_session_insights\": \"...\"\n  },\n  \"effectiveness_signals\": {\n    \"Hard Skill\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Soft Skill\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Sales Driver\": { \"ai\": [\"...\", \"...\", \"...\"] },\n    \"Growth Habits\": { \"ai\": [\"...\", \"...\", \"...\"] }\n  },\n  \"growth_focus\": {\n    \"weakness\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ],\n    \"strength\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ],\n    \"opportunity\": [\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" },\n    { \"label\": \"...\", \"content\": \"...\", \"flagged\": \"\", \"effectiveness_index\": \"\", \"effectiveness_type\": \"\", \"effectiveness_field\": \"\" }\n  ]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[0,608],"id":"ea61f48a-8398-401f-9f6f-1efbc59bad05","name":"SG-Coaching-AI-Analysis","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[336,304],"id":"d863562b-7bdf-4805-b6eb-09e3c9b453a0","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[352,944],"id":"843759c9-a0a7-4dd4-9faa-decf7c131df6","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"e49fd96a-dcd5-4cf4-a578-372a9ae5cadc","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,320],"id":"3a4cd618-a928-4bbd-a495-73f95b0b3a07","name":"Webhook - DX db to n8n - user prior and past weeks reflections","webhookId":"e49fd96a-dcd5-4cf4-a578-372a9ae5cadc","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-48,288],"id":"0de06f2f-1ebf-475b-90d4-56053bbbfa80","name":"OpenRouter Chat Model3 - Gemini","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-48,896],"id":"f4a6cebe-3ca2-40c1-b960-9cdde49e5e12","name":"OpenRouter Chat Model - Gemini","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,320],"id":"2215a584-8ae4-4b0c-b22c-3d7c32248602","name":"OpenRouter Chat Model gpt openai","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,896],"id":"fbf0d202-bcce-4534-9de7-2fd747d94cf4","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}}],"connections":{"Edit Fields3":{"main":[[{"node":"Switch","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"MY-Coaching-AI-Analysis2","type":"main","index":0}],[{"node":"SG-Coaching-AI-Analysis","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request - n8n to DX - ai coaching content":{"main":[[],[{"node":"Stop and Error3","type":"main","index":0}]]},"MY-Coaching-AI-Analysis2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"SG-Coaching-AI-Analysis":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[]]},"Webhook - DX db to n8n - user prior and past weeks reflections":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenRouter Chat Model3 - Gemini":{"ai_languageModel":[[{"node":"MY-Coaching-AI-Analysis2","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model - Gemini":{"ai_languageModel":[[{"node":"SG-Coaching-AI-Analysis","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model gpt openai":{"ai_languageModel":[[{"node":"MY-Coaching-AI-Analysis2","type":"ai_languageModel","index":1}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"SG-Coaching-AI-Analysis","type":"ai_languageModel","index":1}]]}},"authors":"Leon Kiong","name":null,"description":null},"tags":[]}