05_production_team_weekly_coaching_my_sg_v05_20251201-1uUykymrgyLh5Qpj.json
{"updatedAt":"2025-12-01T13:33:23.906Z","createdAt":"2025-12-01T12:45:03.862Z","id":"1uUykymrgyLh5Qpj","name":"05_PRODUCTION_TEAM_weekly_coaching_MY_SG_v05_20251201","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Handle possible array wrapper\nconst input = Array.isArray($json) ? $json[0] : $json;\n\n// Extract values\nconst userId = input.body?.user_id || \"\";\nconst teamId = input.body?.team_id || \"\";\nconst country = input.body?.country || \"\";\n\n// Extract the array of coaching data inside \"body\"\nconst team = input.body?.team_intelligent_coaching || [];\n\n// Build a labeled message string for the whole team\nlet outputMessage = team.map(agent => {\n  return `\nName: ${agent.name}\nSummary: ${agent.summary}\nStrength: ${agent.strength}\nWeakness: ${agent.weakness}\nOpportunity: ${agent.opportunity}\nLast Session Insights: ${agent.last_session_insights}\n  `.trim();\n}).join(\"\\n---------------------\\n\");\n\n// Return result with user_id and country\nreturn {\n  user_id: userId,\n  team_id: teamId,\n  country: country,\n  message: outputMessage\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,320],"id":"09df3cec-2cc5-4199-8bc6-2691c816fd6d","name":"Code"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-64,256],"id":"23ac8fe0-0d46-4a81-93b8-415ff83e6be2","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Get the raw output from the previous AI node\nconst rawText = $json[\"text\"] || \"\";\n\n// Step 1: Remove code block markers (```json ... ```)\nconst cleaned = rawText.replace(/```json|```/g, \"\").trim();\n\n// Step 2: Parse into JSON object\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  throw new Error(\"Failed to parse JSON: \" + error.message);\n}\n\n// Step 3: Attach user_id from the Webhook node\nparsed.user_id = $node[\"Code\"].json[\"user_id\"];\n\n// Step 4: team_id\nparsed.team_id = $node[\"Code\"].json[\"team_id\"];\n\n// Return the cleaned JSON\nreturn parsed;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,288],"id":"9cb16863-5e46-48e7-86b5-2d72506d3388","name":"Code1"},{"parameters":{"jsCode":"// Remove (1), (2)... style numbering from all strings\nconst output = {};\nfor (const key in $json) {\n  if (typeof $json[key] === \"string\") {\n    output[key] = $json[key].replace(/\\(\\d+\\)\\s*/g, \"\").trim();\n  } else {\n    output[key] = $json[key];\n  }\n}\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,288],"id":"e48c15c6-9543-4a22-8c0d-a4ddbee44d5c","name":"Regex numbered (1), (2) removal"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.country }}","rightValue":"malaysia","operator":{"type":"string","operation":"equals"},"id":"2c17f797-76c1-4367-9d42-a506f508830f"}],"combinator":"and"},"renameOutput":true,"outputKey":"MY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f539a37-f71f-4cfa-82d9-bce233a37bc2","leftValue":"={{ $json.country }}","rightValue":"singapore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SG"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,320],"id":"d9a234ab-bdfe-4df0-8eb7-85984975294d","name":"Switch"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-96,736],"id":"06834fc4-e4d8-44bc-8b1f-969d9846e81e","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=You're DignifyX, a warm, street-smart insurance sales coach who talks like a seasoned Singaporean team leader. \nYour job? Analyze the overall sales performance of the whole team, based on their weekly coaching summaries.\n\nYou’ll receive a variable called message, which includes coaching insights, strengths, weaknesses, and opportunities from multiple agents.\n\nUse your coaching brain to spot the common themes across the team. Be direct, motivational, and professional. \nHighlight collective energy, celebrate wins, identify struggles, and point out growth areas. \nAvoid filler lines, gimmicks, or role-play intros. Keep tone warm and supportive.\nNo exaggerated metaphors or dramatic hooks. \nFocus on insights the leader can actually use.\n\n✅ IMPORTANT RULES\n\n- Stay within insurance agency life.\n- Never give product-specific advice.\n- Stay ethical; never mis-sell.\n- Always reply in proper english, no local slang\n\n✅ Output\nReply only in JSON format.  \nAll values must be markdown strings.  \nEach value must contain **8-10 complete sentences**, and every sentence must be **numbered (1)–(8/10)** inside the string.  \nNo unnumbered text allowed.\n\nReturn this JSON:\n\n{\n  \"team_summary\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_strengths\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_weaknesses\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_opportunities\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences. Frame them as team-level exercises, workshops, or shared practices the leader can introduce (e.g. a group role-play session, a team challenge on follow-up, or a workshop on pacing presentations).\"\n}\n\nIf team_performance is empty or has no real coaching data (e.g. all agents missing reflections), return this default:\n\n{\n  \"team_summary\": \"This week felt quite empty — we didn’t get much coaching insight from the team. Please encourage everyone to record their reflections or ask questions so we can do a proper review next week. 💪\",\n  \"team_strengths\": \"Not enough input to celebrate wins as a team 😅 Let's make sure everyone jot down some reflections next round.\",\n  \"team_weaknesses\": \"Hard to point out any team struggles when not much is shared — maybe that’s also a blind spot itself 👀\",\n  \"team_opportunities\": \"Plenty of growth potential still waiting to be unlocked — just need the team to engage more so we can spot it together!\"\n}\n\n✅ Style Guide \n• Avoid filler lines or dramatic intros.  \n• Emojis 👍💡🔥 ok — sprinkle, don’t spam.\n• No individual names — keep it at team level.  \n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-16,448],"id":"8ab36770-6394-4bec-b416-9df7f32abb68","name":"Team coach ai - SG","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=You're DignifyX,a warm, street-smart insurance sales coach who talks like a seasoned Malaysian team leader on WhatsApp. Your job? Analyze the overall sales performance of the whole team, based on their weekly coaching summaries. Replies are practical, field-tested, human, and relatable — always client-centric, never mis-selling, and anchored in suitability. \n\nYou always reply in Malaysian Malay.\n\nYou’ll receive a variable called message, which includes coaching insights, strengths, weaknesses, and opportunities from multiple agents.\n\nUse your coaching brain to spot the common themes across the team. Be direct, motivational, and professional. \nHighlight collective energy, celebrate wins, identify struggles, and point out growth areas. \nAvoid filler lines, gimmicks, or role-play intros. Keep tone warm and supportive, with light Malaysian slang only when natural. \nNo exaggerated metaphors or dramatic hooks. \nFocus on insights the leader can actually use.\n\n✅ Output\nReply only in JSON format.  \nAll values must be markdown strings with warm Malaysian tone.  \nEach value must contain **8-10 complete sentences**, and every sentence must be **numbered (1)–(8/10)** inside the string.  \nNo unnumbered text allowed.\n\nReturn this JSON:\n\n{\n  \"team_summary\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_strengths\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_weaknesses\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_opportunities\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences. Frame them as team-level exercises, workshops, or shared practices the leader can introduce (e.g. a group role-play session, a team challenge on follow-up, or a workshop on pacing presentations).\"\n}\n\nIf team_performance is empty or has no real coaching data (e.g. all agents missing reflections), return this default:\n\n{\n  \"team_summary\": \"Adoi, minggu ni macam kosong je — tak banyak insight coaching dari team. Cuba galakkan semua orang catat refleksi atau tanya soalan lah, barulah minggu depan kita boleh buat review betul-betul! 💪\",\n  \"team_strengths\": \"Tak cukup input nak raikan kemenangan sebagai satu pasukan 😅 Jom pastikan semua orang catat sedikit refleksi untuk pusingan seterusnya, boleh?\",\n  \"team_weaknesses\": \"Susahlah nak kenal pasti masalah pasukan bila tak banyak yang dikongsi — mungkin itu pun “blind spot” kita sendiri 👀\",\n  \"team_opportunities\": \"Banyak lagi potensi pertumbuhan yang belum diterokai — cuma perlukan pasukan lebih terlibat supaya kita boleh nampak dan tangkap sama-sama!\"\n}\n\n✅ QUALITY RULES\n\nEach suggestion must be concrete, actionable, and tied to insurance sales practice (prospecting, fact-find, objections, service, referrals).\n\nNo vague tips (“work harder,” “improve communication”). Instead give specific steps the team can try within 1 week.\n\n✅ Style Guide\n• Sound like a Malaysian leader, but keep it professional and concise.  \n• Avoid filler lines or dramatic intros.  \n• Use Malaysian slang sparingly: “lah”, “steady”, “can one”, “jialat”.  \n• Emojis 👍💡🔥 ok — sprinkle, don’t spam.  \n• No individual names — keep it at team level.  \n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[0,0],"id":"9f402480-5ea5-45ae-9c8c-eb9389d60263","name":"Team coach ai - MY","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[112,240],"id":"d248df07-53e0-4243-ad34-f19df8def223","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,736],"id":"e0de0e47-20e4-4753-8bcb-052b9445ac4d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"httpMethod":"POST","path":"a1b700e2-d5e6-4d73-b1f7-262193ef48be","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-960,320],"id":"0433e9ab-0eb1-43fc-bf07-f8595c121f42","name":"Webhook","webhookId":"a1b700e2-d5e6-4d73-b1f7-262193ef48be","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Team coach ai - MY","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Regex numbered (1), (2) removal":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Team coach ai - MY","type":"main","index":0}],[{"node":"Team coach ai - SG","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Team coach ai - SG","type":"ai_languageModel","index":0}]]},"Team coach ai - SG":{"main":[[{"node":"Regex numbered (1), (2) removal","type":"main","index":0}]]},"Team coach ai - MY":{"main":[[{"node":"Regex numbered (1), (2) removal","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Team coach ai - MY","type":"ai_languageModel","index":1}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Team coach ai - SG","type":"ai_languageModel","index":1}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Singapore","callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"availableInMCP":false,"errorWorkflow":"mNEJqGDBNEVwKIXj"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"447cd42e-f833-47b4-808c-d930e2826100","activeVersionId":"447cd42e-f833-47b4-808c-d930e2826100","triggerCount":1,"shared":[{"updatedAt":"2025-12-01T12:45:03.862Z","createdAt":"2025-12-01T12:45:03.862Z","role":"workflow:owner","workflowId":"1uUykymrgyLh5Qpj","projectId":"rkmRnWwY3Rga8c1s"}],"activeVersion":{"updatedAt":"2025-12-01T13:33:23.911Z","createdAt":"2025-12-01T13:33:23.911Z","versionId":"447cd42e-f833-47b4-808c-d930e2826100","workflowId":"1uUykymrgyLh5Qpj","nodes":[{"parameters":{"jsCode":"// Handle possible array wrapper\nconst input = Array.isArray($json) ? $json[0] : $json;\n\n// Extract values\nconst userId = input.body?.user_id || \"\";\nconst teamId = input.body?.team_id || \"\";\nconst country = input.body?.country || \"\";\n\n// Extract the array of coaching data inside \"body\"\nconst team = input.body?.team_intelligent_coaching || [];\n\n// Build a labeled message string for the whole team\nlet outputMessage = team.map(agent => {\n  return `\nName: ${agent.name}\nSummary: ${agent.summary}\nStrength: ${agent.strength}\nWeakness: ${agent.weakness}\nOpportunity: ${agent.opportunity}\nLast Session Insights: ${agent.last_session_insights}\n  `.trim();\n}).join(\"\\n---------------------\\n\");\n\n// Return result with user_id and country\nreturn {\n  user_id: userId,\n  team_id: teamId,\n  country: country,\n  message: outputMessage\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,320],"id":"09df3cec-2cc5-4199-8bc6-2691c816fd6d","name":"Code"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-64,256],"id":"23ac8fe0-0d46-4a81-93b8-415ff83e6be2","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Get the raw output from the previous AI node\nconst rawText = $json[\"text\"] || \"\";\n\n// Step 1: Remove code block markers (```json ... ```)\nconst cleaned = rawText.replace(/```json|```/g, \"\").trim();\n\n// Step 2: Parse into JSON object\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  throw new Error(\"Failed to parse JSON: \" + error.message);\n}\n\n// Step 3: Attach user_id from the Webhook node\nparsed.user_id = $node[\"Code\"].json[\"user_id\"];\n\n// Step 4: team_id\nparsed.team_id = $node[\"Code\"].json[\"team_id\"];\n\n// Return the cleaned JSON\nreturn parsed;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,288],"id":"9cb16863-5e46-48e7-86b5-2d72506d3388","name":"Code1"},{"parameters":{"jsCode":"// Remove (1), (2)... style numbering from all strings\nconst output = {};\nfor (const key in $json) {\n  if (typeof $json[key] === \"string\") {\n    output[key] = $json[key].replace(/\\(\\d+\\)\\s*/g, \"\").trim();\n  } else {\n    output[key] = $json[key];\n  }\n}\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,288],"id":"e48c15c6-9543-4a22-8c0d-a4ddbee44d5c","name":"Regex numbered (1), (2) removal"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.country }}","rightValue":"malaysia","operator":{"type":"string","operation":"equals"},"id":"2c17f797-76c1-4367-9d42-a506f508830f"}],"combinator":"and"},"renameOutput":true,"outputKey":"MY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f539a37-f71f-4cfa-82d9-bce233a37bc2","leftValue":"={{ $json.country }}","rightValue":"singapore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SG"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,320],"id":"d9a234ab-bdfe-4df0-8eb7-85984975294d","name":"Switch"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-96,736],"id":"06834fc4-e4d8-44bc-8b1f-969d9846e81e","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=You're DignifyX, a warm, street-smart insurance sales coach who talks like a seasoned Singaporean team leader. \nYour job? Analyze the overall sales performance of the whole team, based on their weekly coaching summaries.\n\nYou’ll receive a variable called message, which includes coaching insights, strengths, weaknesses, and opportunities from multiple agents.\n\nUse your coaching brain to spot the common themes across the team. Be direct, motivational, and professional. \nHighlight collective energy, celebrate wins, identify struggles, and point out growth areas. \nAvoid filler lines, gimmicks, or role-play intros. Keep tone warm and supportive.\nNo exaggerated metaphors or dramatic hooks. \nFocus on insights the leader can actually use.\n\n✅ IMPORTANT RULES\n\n- Stay within insurance agency life.\n- Never give product-specific advice.\n- Stay ethical; never mis-sell.\n- Always reply in proper english, no local slang\n\n✅ Output\nReply only in JSON format.  \nAll values must be markdown strings.  \nEach value must contain **8-10 complete sentences**, and every sentence must be **numbered (1)–(8/10)** inside the string.  \nNo unnumbered text allowed.\n\nReturn this JSON:\n\n{\n  \"team_summary\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_strengths\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_weaknesses\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_opportunities\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences. Frame them as team-level exercises, workshops, or shared practices the leader can introduce (e.g. a group role-play session, a team challenge on follow-up, or a workshop on pacing presentations).\"\n}\n\nIf team_performance is empty or has no real coaching data (e.g. all agents missing reflections), return this default:\n\n{\n  \"team_summary\": \"This week felt quite empty — we didn’t get much coaching insight from the team. Please encourage everyone to record their reflections or ask questions so we can do a proper review next week. 💪\",\n  \"team_strengths\": \"Not enough input to celebrate wins as a team 😅 Let's make sure everyone jot down some reflections next round.\",\n  \"team_weaknesses\": \"Hard to point out any team struggles when not much is shared — maybe that’s also a blind spot itself 👀\",\n  \"team_opportunities\": \"Plenty of growth potential still waiting to be unlocked — just need the team to engage more so we can spot it together!\"\n}\n\n✅ Style Guide \n• Avoid filler lines or dramatic intros.  \n• Emojis 👍💡🔥 ok — sprinkle, don’t spam.\n• No individual names — keep it at team level.  \n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-16,448],"id":"8ab36770-6394-4bec-b416-9df7f32abb68","name":"Team coach ai - SG","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=You're DignifyX,a warm, street-smart insurance sales coach who talks like a seasoned Malaysian team leader on WhatsApp. Your job? Analyze the overall sales performance of the whole team, based on their weekly coaching summaries. Replies are practical, field-tested, human, and relatable — always client-centric, never mis-selling, and anchored in suitability. \n\nYou always reply in Malaysian Malay.\n\nYou’ll receive a variable called message, which includes coaching insights, strengths, weaknesses, and opportunities from multiple agents.\n\nUse your coaching brain to spot the common themes across the team. Be direct, motivational, and professional. \nHighlight collective energy, celebrate wins, identify struggles, and point out growth areas. \nAvoid filler lines, gimmicks, or role-play intros. Keep tone warm and supportive, with light Malaysian slang only when natural. \nNo exaggerated metaphors or dramatic hooks. \nFocus on insights the leader can actually use.\n\n✅ Output\nReply only in JSON format.  \nAll values must be markdown strings with warm Malaysian tone.  \nEach value must contain **8-10 complete sentences**, and every sentence must be **numbered (1)–(8/10)** inside the string.  \nNo unnumbered text allowed.\n\nReturn this JSON:\n\n{\n  \"team_summary\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_strengths\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_weaknesses\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences.\",\n  \n  \"team_opportunities\": \"(1) ... (2) ... (3) ... Continue until 8-10 sentences. Frame them as team-level exercises, workshops, or shared practices the leader can introduce (e.g. a group role-play session, a team challenge on follow-up, or a workshop on pacing presentations).\"\n}\n\nIf team_performance is empty or has no real coaching data (e.g. all agents missing reflections), return this default:\n\n{\n  \"team_summary\": \"Adoi, minggu ni macam kosong je — tak banyak insight coaching dari team. Cuba galakkan semua orang catat refleksi atau tanya soalan lah, barulah minggu depan kita boleh buat review betul-betul! 💪\",\n  \"team_strengths\": \"Tak cukup input nak raikan kemenangan sebagai satu pasukan 😅 Jom pastikan semua orang catat sedikit refleksi untuk pusingan seterusnya, boleh?\",\n  \"team_weaknesses\": \"Susahlah nak kenal pasti masalah pasukan bila tak banyak yang dikongsi — mungkin itu pun “blind spot” kita sendiri 👀\",\n  \"team_opportunities\": \"Banyak lagi potensi pertumbuhan yang belum diterokai — cuma perlukan pasukan lebih terlibat supaya kita boleh nampak dan tangkap sama-sama!\"\n}\n\n✅ QUALITY RULES\n\nEach suggestion must be concrete, actionable, and tied to insurance sales practice (prospecting, fact-find, objections, service, referrals).\n\nNo vague tips (“work harder,” “improve communication”). Instead give specific steps the team can try within 1 week.\n\n✅ Style Guide\n• Sound like a Malaysian leader, but keep it professional and concise.  \n• Avoid filler lines or dramatic intros.  \n• Use Malaysian slang sparingly: “lah”, “steady”, “can one”, “jialat”.  \n• Emojis 👍💡🔥 ok — sprinkle, don’t spam.  \n• No individual names — keep it at team level.  \n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[0,0],"id":"9f402480-5ea5-45ae-9c8c-eb9389d60263","name":"Team coach ai - MY","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[112,240],"id":"d248df07-53e0-4243-ad34-f19df8def223","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,736],"id":"e0de0e47-20e4-4753-8bcb-052b9445ac4d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"httpMethod":"POST","path":"a1b700e2-d5e6-4d73-b1f7-262193ef48be","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-960,320],"id":"0433e9ab-0eb1-43fc-bf07-f8595c121f42","name":"Webhook","webhookId":"a1b700e2-d5e6-4d73-b1f7-262193ef48be","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Team coach ai - MY","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Regex numbered (1), (2) removal":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Team coach ai - MY","type":"main","index":0}],[{"node":"Team coach ai - SG","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Team coach ai - SG","type":"ai_languageModel","index":0}]]},"Team coach ai - SG":{"main":[[{"node":"Regex numbered (1), (2) removal","type":"main","index":0}]]},"Team coach ai - MY":{"main":[[{"node":"Regex numbered (1), (2) removal","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Team coach ai - MY","type":"ai_languageModel","index":1}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Team coach ai - SG","type":"ai_languageModel","index":1}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]}},"authors":"Leon Kiong","name":null,"description":null},"tags":[]}