06_production_weekly_reflection_analysis_v02_20251124-7keqA0OaCih52Uls.json
{"updatedAt":"2025-12-01T13:33:30.315Z","createdAt":"2025-12-01T13:24:16.659Z","id":"7keqA0OaCih52Uls","name":"06_PRODUCTION_weekly_reflection_analysis_v02_20251124","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=You are a reflection-quality classifier.\n\nYour ONLY task:\nLook at the user's message and output exactly one keyword from this list (lowercase, exact spelling):\n\ninsightful\n\nreflective\n\ndescriptive\n\nmechanical\n\nOutput rules (very important):\n\nOutput only the keyword, nothing else.\n\nDo not explain, do not repeat the instructions, do not add JSON or punctuation. Just the single word.\n\nKeyword meanings:\n\ninsightful – The message shows clear learning, conclusions, or intended future actions (e.g. “Next time I will…”, “I realised that…”, “I learned that…”).\n\nreflective – The message shows feelings and observations, but not clear future plans (e.g. “I felt…”, “I noticed…”).\n\ndescriptive – The message mainly describes events or what happened, with no feelings or learning.\n\nmechanical – The message just lists events mechanically, is extremely short, or is empty.\n\nEmpty / extremely short messages:\n\nIf the message is empty, \"\", only whitespace, or something very short like “hi”, “yes”, “SAP”, “4 case closed”, “i held 10 appointments”, etc., you MUST output:\n\nmechanical\n\nExamples (for your internal reasoning only):\n\n“My client reviewed the proposal and came back with questions. I felt proud because I educated them well.” → reflective\n\n“Closed a case today that I’ve been following up for 6 months, learned how important patient follow-up is and I’ll track my pipeline better next time.” → insightful\n\n“Closed a case that I’ve been following up for 6 months.” → descriptive\n\n“Followed up 40 leads, held 10 meetings, 5 policy reviews and closed 2 cases.” → mechanical\n\n“4 case closed” → mechanical\n\n“SAP completed” → mechanical\n\n\"\" (empty) → mechanical\n\nRemember:\n\nAlways return exactly one word: insightful, reflective, descriptive, or mechanical.\n\nFor empty or extremely short messages, always return mechanical."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[832,-112],"id":"97767a45-7454-4d3a-a8cb-cc3cb4879d89","name":"Basic LLM Chain","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[800,176],"id":"ccb13c22-c802-4ae9-81dd-ffbb68550658","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[976,192],"id":"bf64ceae-163c-4e15-a74c-40c3519a02dd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fc1cd396-ec5e-4f00-8fcd-7185e6f2e129","name":"user_id","value":"={{ $('Edit Fields1').item.json.user_id }}","type":"string"},{"id":"9df7c929-bf78-496b-987b-a2e1403ecf77","name":"reflection_quality","value":"={{ $json.text }}","type":"string"},{"id":"28b76a00-4f68-4292-8bce-dc2f2d467864","name":"input_text","value":"={{ $('Webhook').item.json.body.weekly_reflection }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,-112],"id":"19bae46f-d676-4624-84dd-f9e3048299ef","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"fd49855d-2a4c-4d63-9e62-0fedc98278c8","name":"user_id","value":"={{ $json.body.user_id }}","type":"string"},{"id":"1c02b512-452f-4adb-91f3-ac69bd0b8526","name":"message","value":"={{ $json.body.weekly_reflection }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-112],"id":"4a2a2d04-8909-4e9f-a3a6-dc4d1126e179","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd10061f-ca5f-4255-a841-6cf38a423024","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,-96],"id":"67e52544-5a45-404a-b1a1-66e293c6f57f","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"fc1cd396-ec5e-4f00-8fcd-7185e6f2e129","name":"user_id","value":"={{ $('Edit Fields1').item.json.user_id }}","type":"string"},{"id":"9df7c929-bf78-496b-987b-a2e1403ecf77","name":"reflection_quality","value":"=mechanical","type":"string"},{"id":"28b76a00-4f68-4292-8bce-dc2f2d467864","name":"input_text","value":"={{ $('Webhook').item.json.body.weekly_reflection }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,400],"id":"36a66715-74d7-4095-9cb0-52f7a479bbe2","name":"Edit Fields2"},{"parameters":{"httpMethod":"POST","path":"b87e3c7c-c89c-4b6f-ac8e-c9334e58dbc6","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,-112],"id":"70c25de4-0e9d-4b8e-9968-67edc79beef3","name":"Webhook","webhookId":"b87e3c7c-c89c-4b6f-ac8e-c9334e58dbc6","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Singapore","callerPolicy":"workflowsFromSameOwner","executionTimeout":300,"availableInMCP":false,"errorWorkflow":"mNEJqGDBNEVwKIXj"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3fa656e6-0845-4b65-a45e-6c168044d6fd","activeVersionId":"3fa656e6-0845-4b65-a45e-6c168044d6fd","triggerCount":1,"shared":[{"updatedAt":"2025-12-01T13:24:16.659Z","createdAt":"2025-12-01T13:24:16.659Z","role":"workflow:owner","workflowId":"7keqA0OaCih52Uls","projectId":"rkmRnWwY3Rga8c1s"}],"activeVersion":{"updatedAt":"2025-12-01T13:33:30.320Z","createdAt":"2025-12-01T13:33:30.320Z","versionId":"3fa656e6-0845-4b65-a45e-6c168044d6fd","workflowId":"7keqA0OaCih52Uls","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }}","needsFallback":true,"messages":{"messageValues":[{"message":"=You are a reflection-quality classifier.\n\nYour ONLY task:\nLook at the user's message and output exactly one keyword from this list (lowercase, exact spelling):\n\ninsightful\n\nreflective\n\ndescriptive\n\nmechanical\n\nOutput rules (very important):\n\nOutput only the keyword, nothing else.\n\nDo not explain, do not repeat the instructions, do not add JSON or punctuation. Just the single word.\n\nKeyword meanings:\n\ninsightful – The message shows clear learning, conclusions, or intended future actions (e.g. “Next time I will…”, “I realised that…”, “I learned that…”).\n\nreflective – The message shows feelings and observations, but not clear future plans (e.g. “I felt…”, “I noticed…”).\n\ndescriptive – The message mainly describes events or what happened, with no feelings or learning.\n\nmechanical – The message just lists events mechanically, is extremely short, or is empty.\n\nEmpty / extremely short messages:\n\nIf the message is empty, \"\", only whitespace, or something very short like “hi”, “yes”, “SAP”, “4 case closed”, “i held 10 appointments”, etc., you MUST output:\n\nmechanical\n\nExamples (for your internal reasoning only):\n\n“My client reviewed the proposal and came back with questions. I felt proud because I educated them well.” → reflective\n\n“Closed a case today that I’ve been following up for 6 months, learned how important patient follow-up is and I’ll track my pipeline better next time.” → insightful\n\n“Closed a case that I’ve been following up for 6 months.” → descriptive\n\n“Followed up 40 leads, held 10 meetings, 5 policy reviews and closed 2 cases.” → mechanical\n\n“4 case closed” → mechanical\n\n“SAP completed” → mechanical\n\n\"\" (empty) → mechanical\n\nRemember:\n\nAlways return exactly one word: insightful, reflective, descriptive, or mechanical.\n\nFor empty or extremely short messages, always return mechanical."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[832,-112],"id":"97767a45-7454-4d3a-a8cb-cc3cb4879d89","name":"Basic LLM Chain","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[800,176],"id":"ccb13c22-c802-4ae9-81dd-ffbb68550658","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[976,192],"id":"bf64ceae-163c-4e15-a74c-40c3519a02dd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"jgUs49V07vFlfR1O","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fc1cd396-ec5e-4f00-8fcd-7185e6f2e129","name":"user_id","value":"={{ $('Edit Fields1').item.json.user_id }}","type":"string"},{"id":"9df7c929-bf78-496b-987b-a2e1403ecf77","name":"reflection_quality","value":"={{ $json.text }}","type":"string"},{"id":"28b76a00-4f68-4292-8bce-dc2f2d467864","name":"input_text","value":"={{ $('Webhook').item.json.body.weekly_reflection }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,-112],"id":"19bae46f-d676-4624-84dd-f9e3048299ef","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"fd49855d-2a4c-4d63-9e62-0fedc98278c8","name":"user_id","value":"={{ $json.body.user_id }}","type":"string"},{"id":"1c02b512-452f-4adb-91f3-ac69bd0b8526","name":"message","value":"={{ $json.body.weekly_reflection }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,-112],"id":"4a2a2d04-8909-4e9f-a3a6-dc4d1126e179","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd10061f-ca5f-4255-a841-6cf38a423024","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,-96],"id":"67e52544-5a45-404a-b1a1-66e293c6f57f","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"fc1cd396-ec5e-4f00-8fcd-7185e6f2e129","name":"user_id","value":"={{ $('Edit Fields1').item.json.user_id }}","type":"string"},{"id":"9df7c929-bf78-496b-987b-a2e1403ecf77","name":"reflection_quality","value":"=mechanical","type":"string"},{"id":"28b76a00-4f68-4292-8bce-dc2f2d467864","name":"input_text","value":"={{ $('Webhook').item.json.body.weekly_reflection }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,400],"id":"36a66715-74d7-4095-9cb0-52f7a479bbe2","name":"Edit Fields2"},{"parameters":{"httpMethod":"POST","path":"b87e3c7c-c89c-4b6f-ac8e-c9334e58dbc6","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,-112],"id":"70c25de4-0e9d-4b8e-9968-67edc79beef3","name":"Webhook","webhookId":"b87e3c7c-c89c-4b6f-ac8e-c9334e58dbc6","credentials":{"httpHeaderAuth":{"id":"OO6g3XhGRURfjeLe","name":"Header Auth account"}}}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"authors":"Leon Kiong","name":null,"description":null},"tags":[{"updatedAt":"2025-12-01T02:10:36.000Z","createdAt":"2025-12-01T02:10:36.000Z","id":"SiZyR8w5xykDY9uS","name":"staging"}]}