testing---v1-0vlYwoE403nsjAA1.json
{"updatedAt":"2025-12-10T23:51:21.589Z","createdAt":"2025-07-18T03:43:48.257Z","id":"0vlYwoE403nsjAA1","name":"Testing - v1","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[448,-192],"id":"9b9812ab-d5f7-4151-8a11-512e1888fa34","name":"When chat message received","webhookId":"a41eb3cb-e1e7-40ce-9560-6009fccd5847","disabled":true},{"parameters":{"options":{"systemMessage":"You are a helpful assistant, give short replies, around 3 to 5 sentences."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[784,-192],"id":"bba3f61c-e983-4711-a9d4-9c9d4181d87a","name":"AI Agent","disabled":true},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,16],"id":"a6682099-a4a2-451c-9799-deec28ee635a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-176],"id":"bc473314-1024-4068-8735-71a13ec00407","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[160,-176],"id":"cff8caa5-6039-4824-9177-be256a8853bb","name":"Redis","credentials":{"redis":{"id":"ogorLzpEehr8jAVG","name":"Redis account"}},"disabled":true},{"parameters":{"formTitle":"DX Insurance Sales Candidate Profiler","formDescription":"Find out your potential in insurance sales","formFields":{"values":[{"fieldLabel":"What motivates you most about exploring a career in insurance sales?","fieldType":"textarea","placeholder":"Your answer here","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Next","customCss":"#field-0 {\n  height: 220px; /* Set your desired height */\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-240,368],"id":"9faca29a-4b76-402a-9831-6f7b3a131799","name":"On form submission","webhookId":"cc64bf3e-229c-4ef4-b35e-bb3a944db592"},{"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"\n  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji';\n  max-width: 460px;\n  margin: 10px auto 0;\n  border-radius: 20px;\n  overflow: hidden;\n  border: 1px solid rgba(255,255,255,0.14);\n  background:\n    radial-gradient(1200px 400px at -10% -20%, rgba(99,102,241,0.18), transparent 60%),\n    radial-gradient(1000px 500px at 110% -30%, rgba(168,85,247,0.18), transparent 60%),\n    linear-gradient(180deg, #ffffff 0%, #fbfbff 50%, #f8fafc 100%);\n  box-shadow:\n    0 20px 50px rgba(2, 6, 23, 0.10),\n    inset 0 1px 0 rgba(255,255,255,0.6);\n\">\n\n  <!-- Top glow bar -->\n  <div style=\"\n    height: 6px;\n    background: linear-gradient(90deg, #22d3ee, #6366f1, #a855f7, #f472b6);\n  \"></div>\n\n  <!-- Header -->\n  <div style=\"\n    padding: 22px 22px 16px 22px;\n    background:\n      linear-gradient(135deg, rgba(2,132,199,0.10), rgba(99,102,241,0.12), rgba(168,85,247,0.12)),\n      linear-gradient(135deg, #0ea5e9 0%, #6366f1 50%, #a855f7 100%);\n    color: white;\n    position: relative;\n  \">\n\n    <div style=\"\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      padding: 6px 10px;\n      border-radius: 999px;\n      background: rgba(255,255,255,0.16);\n      border: 1px solid rgba(255,255,255,0.22);\n      font-size: 10px;\n      font-weight: 700;\n      letter-spacing: 0.12em;\n      text-transform: uppercase;\n    \">\n      Results • DignifyX Demo\n    </div>\n\n    <div style=\"margin-top: 10px; font-size: 22px; font-weight: 800; line-height: 1.15;\">\n      🎴 Your Stats Are Ready\n    </div>\n    <div style=\"margin-top: 6px; font-size: 11px; opacity: 0.9;\">\n      Generated from your form submission\n    </div>\n  </div>\n\n  <!-- Body -->\n  <div style=\"padding: 20px 22px 22px 22px;\">\n\n    <!-- Name + Type -->\n    <div style=\"\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      gap: 10px;\n      margin-bottom: 14px;\n    \">\n      <div style=\"\n        font-size: 20px;\n        font-weight: 800;\n        color: #0f172a;\n        letter-spacing: -0.01em;\n      \">\n        {{ $json.Name }}\n      </div>\n\n      <span style=\"\n        display: inline-flex;\n        align-items: center;\n        padding: 7px 12px;\n        font-size: 11px;\n        font-weight: 700;\n        border-radius: 999px;\n        background:\n          linear-gradient(135deg, rgba(99,102,241,0.12), rgba(168,85,247,0.10));\n        color: #4338ca;\n        border: 1px solid rgba(99,102,241,0.20);\n        white-space: nowrap;\n        box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);\n      \">\n        {{ $json.type }}\n      </span>\n    </div>\n\n    <!-- Stat pills row -->\n    <div style=\"\n      display: flex;\n      gap: 8px;\n      flex-wrap: wrap;\n      margin-bottom: 14px;\n    \">\n      <span style=\"\n        padding: 7px 10px;\n        border-radius: 12px;\n        font-size: 11px;\n        font-weight: 700;\n        color: #0f172a;\n        background: rgba(2,132,199,0.06);\n        border: 1px solid rgba(2,132,199,0.14);\n      \">HP <span style=\"opacity:0.6;\">•</span> {{ $json.hp }}</span>\n\n      <span style=\"\n        padding: 7px 10px;\n        border-radius: 12px;\n        font-size: 11px;\n        font-weight: 700;\n        color: #0f172a;\n        background: rgba(99,102,241,0.06);\n        border: 1px solid rgba(99,102,241,0.14);\n      \">Attack <span style=\"opacity:0.6;\">•</span> {{ $json.attack }}</span>\n\n      <span style=\"\n        padding: 7px 10px;\n        border-radius: 12px;\n        font-size: 11px;\n        font-weight: 700;\n        color: #0f172a;\n        background: rgba(168,85,247,0.06);\n        border: 1px solid rgba(168,85,247,0.14);\n      \">Defence <span style=\"opacity:0.6;\">•</span> {{ $json.defence }}</span>\n    </div>\n\n    <!-- Stats cards (mini grid) -->\n    <div style=\"\n      display: grid;\n      grid-template-columns: 1fr 1fr 1fr;\n      gap: 10px;\n      margin-bottom: 16px;\n    \">\n      <div style=\"\n        background: rgba(255,255,255,0.75);\n        border: 1px solid rgba(2, 6, 23, 0.06);\n        border-radius: 14px;\n        padding: 12px 12px 10px 12px;\n        backdrop-filter: blur(6px);\n      \">\n        <div style=\"font-size: 9px; color: #64748b; text-transform: uppercase; letter-spacing: 0.08em;\">\n          HP\n        </div>\n        <div style=\"font-size: 20px; font-weight: 800; color: #0f172a;\">\n          {{ $json.hp }}\n        </div>\n      </div>\n\n      <div style=\"\n        background: rgba(255,255,255,0.75);\n        border: 1px solid rgba(2, 6, 23, 0.06);\n        border-radius: 14px;\n        padding: 12px 12px 10px 12px;\n        backdrop-filter: blur(6px);\n      \">\n        <div style=\"font-size: 9px; color: #64748b; text-transform: uppercase; letter-spacing: 0.08em;\">\n          Attack\n        </div>\n        <div style=\"font-size: 20px; font-weight: 800; color: #0f172a;\">\n          {{ $json.attack }}\n        </div>\n      </div>\n\n      <div style=\"\n        background: rgba(255,255,255,0.75);\n        border: 1px solid rgba(2, 6, 23, 0.06);\n        border-radius: 14px;\n        padding: 12px 12px 10px 12px;\n        backdrop-filter: blur(6px);\n      \">\n        <div style=\"font-size: 9px; color: #64748b; text-transform: uppercase; letter-spacing: 0.08em;\">\n          Defence\n        </div>\n        <div style=\"font-size: 20px; font-weight: 800; color: #0f172a;\">\n          {{ $json.defence }}\n        </div>\n      </div>\n    </div>\n\n    <!-- Core Moves -->\n    <div style=\"\n      border-radius: 14px;\n      padding: 14px;\n      border: 1px solid rgba(2, 6, 23, 0.06);\n      background:\n        linear-gradient(180deg, rgba(255,255,255,0.9), rgba(248,250,252,0.9));\n      margin-bottom: 10px;\n    \">\n      <div style=\"font-size: 12px; font-weight: 800; color: #0f172a; margin-bottom: 8px;\">\n        ⚔️ Core Moves\n      </div>\n\n      <div style=\"display: flex; gap: 8px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 7px 11px;\n          font-size: 11px;\n          font-weight: 700;\n          border-radius: 12px;\n          background: linear-gradient(135deg, rgba(14,165,233,0.10), rgba(34,211,238,0.10));\n          color: #075985;\n          border: 1px solid rgba(14,165,233,0.22);\n        \">{{ $json.move1 }}</span>\n\n        <span style=\"\n          padding: 7px 11px;\n          font-size: 11px;\n          font-weight: 700;\n          border-radius: 12px;\n          background: linear-gradient(135deg, rgba(14,165,233,0.10), rgba(34,211,238,0.10));\n          color: #075985;\n          border: 1px solid rgba(14,165,233,0.22);\n        \">{{ $json.move2 }}</span>\n      </div>\n    </div>\n\n    <!-- Special Moves -->\n    <div style=\"\n      border-radius: 14px;\n      padding: 14px;\n      border: 1px solid rgba(168,85,247,0.18);\n      background:\n        linear-gradient(180deg, rgba(255,255,255,0.9), rgba(251,247,255,0.95));\n    \">\n      <div style=\"font-size: 12px; font-weight: 800; color: #0f172a; margin-bottom: 8px;\">\n        ✨ Special Moves\n      </div>\n\n      <div style=\"display: flex; gap: 8px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 7px 11px;\n          font-size: 11px;\n          font-weight: 700;\n          border-radius: 12px;\n          background: linear-gradient(135deg, rgba(168,85,247,0.12), rgba(244,114,182,0.10));\n          color: #6b21a8;\n          border: 1px solid rgba(168,85,247,0.24);\n        \">{{ $json.special_move1 }}</span>\n\n        <span style=\"\n          padding: 7px 11px;\n          font-size: 11px;\n          font-weight: 700;\n          border-radius: 12px;\n          background: linear-gradient(135deg, rgba(168,85,247,0.12), rgba(244,114,182,0.10));\n          color: #6b21a8;\n          border: 1px solid rgba(168,85,247,0.24);\n        \">{{ $json.special_move2 }}</span>\n      </div>\n    </div>\n\n  </div>\n\n  <!-- Footer -->\n  <div style=\"\n    padding: 12px 22px 18px 22px;\n    font-size: 11px;\n    color: #64748b;\n    background: rgba(255,255,255,0.8);\n    border-top: 1px solid rgba(2, 6, 23, 0.05);\n  \">\n    Tip: Screenshot this card for your deck or demo slides 📸\n  </div>\n</div>\n"},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[2320,368],"id":"14c49ab9-29d3-4a52-bf2e-e96ff350836d","name":"Form","webhookId":"ea720929-2f17-435e-a7da-bbd4ede08d38"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I’m motivated by helping families make better financial decisions, not just earning income.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I can stay committed even when results take months.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m comfortable doing work that requires consistency, not just “big events.”\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[32,368],"id":"8c8015ef-50d9-46b2-bc66-4245e0bf322d","name":"PV","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I naturally ask questions before offering solutions.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I enjoy listening to people’s goals and concerns.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I can explain complex ideas in a simple, calm way.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[288,368],"id":"96c14a8a-38ee-4600-9d44-c2d2fe0c70cd","name":"PT","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I can handle rejection without taking it personally.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m willing to start conversations with people I don’t know.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m comfortable asking for introductions/referrals when appropriate.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[528,368],"id":"614b4276-ff08-42b3-9fd4-851ce86caed7","name":"PC","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I actively seek feedback even when it’s uncomfortable.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"If a mentor gives me a method, I will test it consistently for at least 2–4 weeks.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I like improving through practice, not just theory.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[720,368],"id":"b325d7f4-4baf-4af1-8b72-12cd9e214760","name":"LC","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"When I fail, I recover quickly and try again.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I don’t need daily motivation to stay consistent.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I can handle uncertainty about income early on.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[928,368],"id":"e2129576-9e07-4a47-a4c8-f3711fd93803","name":"GR","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I plan my week with clear targets and follow through.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I track my progress instead of guessing.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m comfortable with daily routines and KPI-based goals.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[1152,368],"id":"869b89fb-3ac3-48a3-976b-e849392f2a53","name":"SE","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I would rather lose a sale than push a plan I don’t believe suits the client.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I value reputation and trust more than short-term gains.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m comfortable recommending “do nothing for now” if it’s best for the client.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[1376,368],"id":"71752dce-c0a5-4930-b901-8457252d4b3c","name":"ET","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"You approach 20 people this week. 18 say no or ignore you. What’s your most likely response?\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        {\n          \"option\": \"I’d feel discouraged and probably reduce outreach next week.\"\n        },\n        {\n          \"option\": \"I’d pause and wait for better timing before trying again.\"\n        },\n        {\n          \"option\": \"I’d ask my leader/mentor to review my approach and help me adjust.\"\n        },\n        {\n          \"option\": \"I’d refine my script/targeting and repeat the plan with better structure.\"\n        },\n        {\n          \"option\": \"I’d seriously consider switching to a different career direction quickly.\"\n        }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"A client wants a plan you feel is not suitable, but they insist and are ready to buy today. What’s your most likely response?\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        {\n          \"option\": \"I’d proceed since the client wants it.\"\n        },\n        {\n          \"option\": \"I’d proceed but quickly mention a disclaimer.\"\n        },\n        {\n          \"option\": \"I’d re-explain the risks clearly and document a thorough suitability note.\"\n        },\n        {\n          \"option\": \"I’d recommend a more suitable alternative or suggest revisiting later.\"\n        },\n        {\n          \"option\": \"I’d ask my leader/mentor for guidance before finalizing.\"\n        }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"If selected, are you willing to complete a 14-day onboarding sprint that includes daily outreach + reflection?\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        {\n          \"option\": \"Yes, fully committed.\"\n        },\n        {\n          \"option\": \"Yes, but I may miss a few days.\"\n        },\n        {\n          \"option\": \"Not sure yet.\"\n        },\n        {\n          \"option\": \"No.\"\n        }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[1584,368],"id":"d788cd67-6795-446a-beb5-5df02acccc75","name":"Scenarios","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"assignments":{"assignments":[{"id":"cbefdbc7-c059-4f4a-bf41-ea868259aef7","name":"What motivates you most about exploring a career in insurance sales?","value":"={{ $('On form submission').item.json['What motivates you most about exploring a career in insurance sales?'] }}","type":"string"},{"id":"773eef60-d308-4682-8a8b-76ba2068f573","name":"I’m motivated by helping families make better financial decisions, not just earning income.","value":"={{ $('PV').item.json['I’m motivated by helping families make better financial decisions, not just earning income.'] }}","type":"string"},{"id":"ffde8234-5e47-454a-8b03-ebaea9057b76","name":"I can stay committed even when results take months.","value":"={{ $('PV').item.json['I can stay committed even when results take months.'] }}","type":"string"},{"id":"13b73aa6-9a27-4d46-95f6-71dfa6397822","name":"I’m comfortable doing work that requires consistency, not just “big events.”","value":"={{ $('PV').item.json['I’m comfortable doing work that requires consistency, not just “big events.”'] }}","type":"string"},{"id":"47ecfee6-2f13-46ce-8663-5f77c8506eb2","name":"I naturally ask questions before offering solutions.","value":"={{ $('PT').item.json['I naturally ask questions before offering solutions.'] }}","type":"string"},{"id":"925bc36a-605c-44c6-93d6-31118087681c","name":"I enjoy listening to people’s goals and concerns.","value":"={{ $('PT').item.json['I enjoy listening to people’s goals and concerns.'] }}","type":"string"},{"id":"8556e6f2-55d0-4abc-a1d0-251c60c518a0","name":"I can explain complex ideas in a simple, calm way.","value":"={{ $('PT').item.json['I can explain complex ideas in a simple, calm way.'] }}","type":"string"},{"id":"8f50b3af-ae7b-4740-bf3c-465c75747ff2","name":"I can handle rejection without taking it personally.","value":"={{ $('PC').item.json['I can handle rejection without taking it personally.'] }}","type":"string"},{"id":"833be132-0b59-47c2-81cb-0f8665cf8e26","name":"I’m willing to start conversations with people I don’t know.","value":"={{ $('PC').item.json['I’m willing to start conversations with people I don’t know.'] }}","type":"string"},{"id":"0c895616-ecc3-4477-b932-15c50c2fe6ea","name":"I’m comfortable asking for introductions/referrals when appropriate.","value":"={{ $('PC').item.json['I’m comfortable asking for introductions/referrals when appropriate.'] }}","type":"string"},{"id":"aa6082d1-6510-4577-b454-5926877b6e24","name":"I actively seek feedback even when it’s uncomfortable.","value":"={{ $('LC').item.json['I actively seek feedback even when it’s uncomfortable.'] }}","type":"string"},{"id":"feaeee63-5208-4388-b825-4b11cf6ab2cb","name":"If a mentor gives me a method, I will test it consistently for at least 2–4 weeks.","value":"={{ $('LC').item.json['If a mentor gives me a method, I will test it consistently for at least 2–4 weeks.'] }}","type":"string"},{"id":"667854f4-3f47-401f-8029-b5ce1f71d4e1","name":"I like improving through practice, not just theory.","value":"={{ $('LC').item.json['I like improving through practice, not just theory.'] }}","type":"string"},{"id":"8fe80552-c5d3-4e20-be6e-654b282d1e9e","name":"When I fail, I recover quickly and try again.","value":"={{ $('GR').item.json['When I fail, I recover quickly and try again.'] }}","type":"string"},{"id":"258d0a6c-26ba-4339-b23b-b145b40563ec","name":"I don’t need daily motivation to stay consistent.","value":"={{ $('GR').item.json['I don’t need daily motivation to stay consistent.'] }}","type":"string"},{"id":"507c6c3a-0c88-4643-9d97-6148a60fbd32","name":"I can handle uncertainty about income early on.","value":"={{ $('GR').item.json['I can handle uncertainty about income early on.'] }}","type":"string"},{"id":"2e10b6da-0184-42a8-b87c-187090ae7797","name":"I plan my week with clear targets and follow through.","value":"={{ $('SE').item.json['I plan my week with clear targets and follow through.'] }}","type":"string"},{"id":"09b616c2-f93b-47b1-8fd2-a722a7f361eb","name":"I track my progress instead of guessing.","value":"={{ $('SE').item.json['I track my progress instead of guessing.'] }}","type":"string"},{"id":"e5dd59ad-1a41-4fe8-b05c-e54f8de4660b","name":"I’m comfortable with daily routines and KPI-based goals.","value":"={{ $('SE').item.json['I’m comfortable with daily routines and KPI-based goals.'] }}","type":"string"},{"id":"c0de41c7-9275-46d2-b9cd-59db72c341de","name":"I would rather lose a sale than push a plan I don’t believe suits the client.","value":"={{ $('ET').item.json['I would rather lose a sale than push a plan I don’t believe suits the client.'] }}","type":"string"},{"id":"6561f21e-c023-4a47-9617-ebfc9e0eea55","name":"I value reputation and trust more than short-term gains.","value":"={{ $('ET').item.json['I value reputation and trust more than short-term gains.'] }}","type":"string"},{"id":"6a6520fc-a1ed-4d72-bd98-c765cfb49c38","name":"I’m comfortable recommending “do nothing for now” if it’s best for the client.","value":"={{ $('ET').item.json['I’m comfortable recommending “do nothing for now” if it’s best for the client.'] }}","type":"string"},{"id":"6888f757-1046-4b64-93d8-7c9adae5a3e7","name":"You approach 20 people this week. 18 say no or ignore you. What’s your most likely response?","value":"={{ $json['You approach 20 people this week. 18 say no or ignore you. What’s your most likely response?'] }}","type":"string"},{"id":"87c54cf3-d8d8-4755-91ba-a556baeee927","name":"A client wants a plan you feel is not suitable, but they insist and are ready to buy today. What’s your most likely response?","value":"={{ $json['A client wants a plan you feel is not suitable, but they insist and are ready to buy today. What’s your most likely response?'] }}","type":"string"},{"id":"cf911227-27fb-46ad-a95a-dddfc1e1e92b","name":"If selected, are you willing to complete a 14-day onboarding sprint that includes daily outreach + reflection?","value":"={{ $json['If selected, are you willing to complete a 14-day onboarding sprint that includes daily outreach + reflection?'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1792,368],"id":"5a0a5d78-5612-499e-8ffa-f2c640fa74a2","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=You are POP7, an assessment analyst for insurance sales recruitment.\n\nYou will receive a JSON object with:\n- motivation_text (string): {{ $json.motivation_text }}\n- likert (object of 21 items scored 1–5): {{ JSON.stringify($json.likert, null, 2) }}\n- scenarios:\n  - rejection_choice (string): {{ $json.scenarios.rejection_choice }}\n  - suitability_choice (string): {{ $json.scenarios.suitability_choice }}\n- commitment_choice (string): {{ $json.commitment_choice }}\n- domain_raw: {{ JSON.stringify($json.domain_raw, null, 2) }}\n\nYour task:\n1) Convert domain_raw into domain_scores (0–100).\n   Use: domain_score = round(((raw - 3) / 12) * 100).\n2) Interpret motivation_text and classify motivation_orientation as one of:\n   - service-led\n   - growth-led\n   - income-led\n   - flexibility-led\n   - mixed\n3) Evaluate scenario and commitment signals and apply a small adjustment to overall_score:\n   - Up to +6 for strong alignment\n   - Down to -6 for weak alignment\n   Keep this adjustment modest.\n4) Compute overall_score (0–100) using these weights:\n   - PC 20%\n   - GR 20%\n   - LC 15%\n   - SE 15%\n   - PT 10%\n   - PV 10%\n   - ET 10%\n   Then apply scenario_adjustment and clamp to 0–100.\n5) Assign a band:\n   - High Potential: 80–100\n   - Strong Potential: 65–79\n   - Moderate Potential: 50–64\n   - Low Fit (for now): 0–49\n6) Provide:\n   - top_strengths (exactly 3 short bullets)\n   - key_risks (exactly 3 short bullets)\n   - scenario_insights (2 short interpretations)\n   - commitment_signal (short label + meaning)\n   - recommended_next_step (1 concise action)\n   - onboarding_14_day_focus (exactly 5 micro-actions)\n\nAnti-inflation rules:\n- If ET scores are high but suitability_choice suggests pushing unsuitable sales, flag a risk.\n- If self-rated coachability is high but LC1 is low, highlight feedback discomfort.\n- If motivation is mainly income/flexibility, do not penalize excessively, but note PV risk.\n- Reward structured, improvement-oriented responses in scenarios.\n\nOutput rules:\n- Return ONLY valid JSON.\n- No markdown, no extra text.\n- Use the exact keys defined in the schema.\n- All numbers must be integers.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2208,368],"id":"6cfedbe1-adc0-4d38-905b-f13ae0d88439","name":"AI Agent1"},{"parameters":{"jsCode":"// === POP7 Parser (compact + robust for n8n Forms output) ===\n\n// In normal runs, $json is an object.\n// This fallback also handles cases where someone tests with an array.\nconst raw = Array.isArray($json) ? $json[0] : $json;\n\n// ---- helpers ----\nfunction flatten(obj, out = {}) {\n  if (obj == null) return out;\n\n  if (typeof obj !== \"object\") {\n    return out;\n  }\n\n  if (Array.isArray(obj)) {\n    obj.forEach(v => flatten(v, out));\n    return out;\n  }\n\n  for (const [k, v] of Object.entries(obj)) {\n    out[k] = v;\n    if (v && typeof v === \"object\") flatten(v, out);\n  }\n  return out;\n}\n\n// Find the first string leaf anywhere inside a value\nfunction deepFirstString(v) {\n  if (typeof v === \"string\") return v;\n  if (!v || typeof v !== \"object\") return null;\n\n  for (const val of Object.values(v)) {\n    const s = deepFirstString(val);\n    if (s) return s;\n  }\n  return null;\n}\n\n// Normalize keys for fallback matching\nfunction norm(s) {\n  return String(s || \"\")\n    .toLowerCase()\n    .replace(/[“”„‟]/g, '\"')\n    .replace(/[’‘]/g, \"'\")\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// Try to get value by exact label first, then normalized-key match, then loose contains\nfunction getVal(label) {\n  if (raw[label] !== undefined) return raw[label];\n\n  const nlabel = norm(label);\n  const keys = Object.keys(raw);\n\n  // normalized exact\n  for (const k of keys) {\n    if (norm(k) === nlabel) return raw[k];\n  }\n\n  // loose contains (good for your scenario key splits)\n  for (const k of keys) {\n    const nk = norm(k);\n    if (nk.includes(nlabel.slice(0, Math.min(40, nlabel.length)))) {\n      return raw[k];\n    }\n  }\n\n  return null;\n}\n\n// Extract the Likert number from option text like \"4 - Agree\"\nfunction extractLikert(v) {\n  const s = deepFirstString(v) || \"\";\n  const m = s.match(/\\b([1-5])\\b/);\n  return m ? Number(m[1]) : null;\n}\n\n// ---- canonical labels (match your form labels) ----\nconst Q = {\n  MOTIVATION: \"What motivates you most about exploring a career in insurance sales?\",\n\n  PV2: \"I’m motivated by helping families make better financial decisions, not just earning income\",\n  PV3: \"I can stay committed even when results take months\",\n  PV4: \"I’m comfortable doing work that requires consistency, not just “big events\",\n\n  PT1: \"I naturally ask questions before offering solutions\",\n  PT2: \"I enjoy listening to people’s goals and concerns\",\n  PT3: \"I can explain complex ideas in a simple, calm way\",\n\n  PC1: \"I can handle rejection without taking it personally\",\n  PC2: \"I’m willing to start conversations with people I don’t know\",\n  PC3: \"I’m comfortable asking for introductions/referrals when appropriate\",\n\n  LC1: \"I actively seek feedback even when it’s uncomfortable\",\n  LC2: \"If a mentor gives me a method, I will test it consistently for at least 2–4 weeks\",\n  LC3: \"I like improving through practice, not just theory\",\n\n  GR1: \"When I fail, I recover quickly and try again\",\n  GR2: \"I don’t need daily motivation to stay consistent\",\n  GR3: \"I can handle uncertainty about income early on\",\n\n  SE1: \"I plan my week with clear targets and follow through\",\n  SE2: \"I track my progress instead of guessing\",\n  SE3: \"I’m comfortable with daily routines and KPI-based goals\",\n\n  ET1: \"I would rather lose a sale than push a plan I don’t believe suits the client\",\n  ET2: \"I value reputation and trust more than short-term gains\",\n  ET3: \"I’m comfortable recommending “do nothing for now” if it’s best for the client\",\n\n  SCENARIO_REJECTION: \"You approach 20 people this week\",\n  SCENARIO_SUITABILITY: \"A client wants a plan you feel is not suitable, but they insist and are ready to buy today\",\n  COMMITMENT: \"If selected, are you willing to complete a 14-day onboarding sprint that includes daily outreach + reflection?\"\n};\n\n// ---- build parsed payload ----\nconst parsed = {\n  motivation_text: deepFirstString(getVal(Q.MOTIVATION)),\n\n  likert: {\n    PV2: extractLikert(getVal(Q.PV2)),\n    PV3: extractLikert(getVal(Q.PV3)),\n    PV4: extractLikert(getVal(Q.PV4)),\n\n    PT1: extractLikert(getVal(Q.PT1)),\n    PT2: extractLikert(getVal(Q.PT2)),\n    PT3: extractLikert(getVal(Q.PT3)),\n\n    PC1: extractLikert(getVal(Q.PC1)),\n    PC2: extractLikert(getVal(Q.PC2)),\n    PC3: extractLikert(getVal(Q.PC3)),\n\n    LC1: extractLikert(getVal(Q.LC1)),\n    LC2: extractLikert(getVal(Q.LC2)),\n    LC3: extractLikert(getVal(Q.LC3)),\n\n    GR1: extractLikert(getVal(Q.GR1)),\n    GR2: extractLikert(getVal(Q.GR2)),\n    GR3: extractLikert(getVal(Q.GR3)),\n\n    SE1: extractLikert(getVal(Q.SE1)),\n    SE2: extractLikert(getVal(Q.SE2)),\n    SE3: extractLikert(getVal(Q.SE3)),\n\n    ET1: extractLikert(getVal(Q.ET1)),\n    ET2: extractLikert(getVal(Q.ET2)),\n    ET3: extractLikert(getVal(Q.ET3))\n  },\n\n  scenarios: {\n    rejection_choice: deepFirstString(getVal(Q.SCENARIO_REJECTION)),\n    suitability_choice: deepFirstString(getVal(Q.SCENARIO_SUITABILITY))\n  },\n\n  commitment_choice: deepFirstString(getVal(Q.COMMITMENT))\n};\n\n// ---- compute domain raw sums (3 items each) ----\nfunction sum(ids) {\n  return ids.reduce((acc, id) => acc + (parsed.likert[id] || 0), 0);\n}\n\nparsed.domain_raw = {\n  PV: sum([\"PV2\", \"PV3\", \"PV4\"]),\n  PT: sum([\"PT1\", \"PT2\", \"PT3\"]),\n  PC: sum([\"PC1\", \"PC2\", \"PC3\"]),\n  LC: sum([\"LC1\", \"LC2\", \"LC3\"]),\n  GR: sum([\"GR1\", \"GR2\", \"GR3\"]),\n  SE: sum([\"SE1\", \"SE2\", \"SE3\"]),\n  ET: sum([\"ET1\", \"ET2\", \"ET3\"])\n};\n\n// ---- minimal debug for sanity ----\nparsed._debug = {\n  has_motivation: !!parsed.motivation_text,\n  rejection_choice_found: !!parsed.scenarios.rejection_choice,\n  suitability_choice_found: !!parsed.scenarios.suitability_choice,\n  commitment_found: !!parsed.commitment_choice\n};\n\nreturn [{ json: parsed }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,368],"id":"bea3ca42-af6a-44de-b38c-4b6f54a15c8a","name":"Message"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2160,576],"id":"34cc3ab0-5a27-4f29-b740-233221905fbc","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"overall_score\": 73,\n  \"band\": \"Strong Potential\",\n  \"confidence\": \"medium\",\n  \"scenario_adjustment\": 2,\n  \"motivation_orientation\": \"income-led\",\n  \"motivation_commentary\": \"You are attracted by flexibility and earning upside. This can be a strong driver, but long-term success will depend on building a service mindset and consistency during slow months.\",\n  \"domain_scores\": {\n    \"PV\": 50,\n    \"PT\": 50,\n    \"PC\": 58,\n    \"LC\": 67,\n    \"GR\": 58,\n    \"SE\": 67,\n    \"ET\": 100\n  },\n  \"top_strengths\": [\n    \"Strong ethical baseline and client-first instincts.\",\n    \"Good willingness to execute and improve with a method.\",\n    \"Comfortable with structured, KPI-driven routines.\"\n  ],\n  \"key_risks\": [\n    \"Feedback discomfort may slow early growth.\",\n    \"Purpose/values orientation appears more income-driven than mission-driven.\",\n    \"Rejection tolerance could wobble without strong coaching support.\"\n  ],\n  \"scenario_insights\": {\n    \"rejection_response\": \"Your answer suggests a problem-solving mindset and resilience through improvement rather than avoidance.\",\n    \"suitability_under_pressure\": \"You show caution and a preference to seek guidance, which supports ethical decision-making.\"\n  },\n  \"commitment_signal\": \"Moderate commitment — likely needs structure and accountability to complete the sprint consistently.\",\n  \"recommended_next_step\": \"Proceed with interview plus a 14-day structured trial sprint with daily activity targets and short debriefs.\",\n  \"onboarding_14_day_focus\": [\n    \"Practice a simple intro + needs-first script daily.\",\n    \"Log 10 outreach attempts/day with a short reflection.\",\n    \"Role-play objection handling 3 times/week.\",\n    \"Shadow an advisor and note 3 trust-building phrases to adopt.\",\n    \"Meet your leader twice weekly for feedback and micro-adjustments.\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2384,576],"id":"9ef64945-1ca7-4637-8012-55364cb9db23","name":"Structured Output Parser"},{"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"\n  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji';\n  max-width: 520px;\n  margin: 10px auto 0;\n  border-radius: 22px;\n  overflow: hidden;\n  border: 1px solid rgba(255,255,255,0.06);\n  background:\n    radial-gradient(900px 500px at 15% 10%, rgba(59,130,246,0.16), transparent 60%),\n    radial-gradient(900px 600px at 85% 35%, rgba(14,165,233,0.14), transparent 62%),\n    radial-gradient(1200px 800px at 80% 90%, rgba(99,102,241,0.12), transparent 65%),\n    linear-gradient(135deg, #050b1a 0%, #071225 35%, #0a1b33 70%, #0b1f3a 100%);\n  box-shadow:\n    0 22px 60px rgba(0, 0, 0, 0.45),\n    inset 0 1px 0 rgba(255,255,255,0.06);\n\">\n\n  <!-- Top glow bar -->\n  <div style=\"\n    height: 6px;\n    background: linear-gradient(90deg, #22d3ee, #38bdf8, #60a5fa, #6366f1);\n    opacity: 0.9;\n  \"></div>\n\n  <!-- Header -->\n  <div style=\"\n    padding: 24px 24px 18px 24px;\n    color: #ffffff;\n    position: relative;\n  \">\n    <div style=\"\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      padding: 8px 12px;\n      border-radius: 999px;\n      background: rgba(255,255,255,0.06);\n      border: 1px solid rgba(255,255,255,0.10);\n      font-size: 12px;\n      font-weight: 700;\n      letter-spacing: 0.12em;\n      text-transform: uppercase;\n      color: rgba(255,255,255,0.85);\n      backdrop-filter: blur(6px);\n    \">\n      Results • DignifyX POC\n    </div>\n\n    <div style=\"\n      margin-top: 12px;\n      font-size: 28px;\n      font-weight: 800;\n      line-height: 1.15;\n      letter-spacing: -0.01em;\n    \">\n      📊 DX Candidate Profile\n    </div>\n\n    <div style=\"margin-top: 8px; font-size: 14px; opacity: 0.85;\">\n      Generated from your assessment responses\n    </div>\n  </div>\n\n  <!-- Body -->\n  <div style=\"padding: 6px 24px 24px 24px;\">\n\n    <!-- Headline score card -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px 16px 14px 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 16px;\n    \">\n      <div style=\"\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        gap: 12px;\n      \">\n        <div style=\"\n          font-size: 14px;\n          font-weight: 800;\n          color: rgba(255,255,255,0.78);\n          text-transform: uppercase;\n          letter-spacing: 0.12em;\n        \">\n          Overall DX Candidate Score\n        </div>\n\n        <span style=\"\n          display: inline-flex;\n          align-items: center;\n          padding: 10px 14px;\n          font-size: 14px;\n          font-weight: 800;\n          border-radius: 999px;\n          background:\n            linear-gradient(135deg, rgba(56,189,248,0.18), rgba(99,102,241,0.18));\n          color: #e0f2fe;\n          border: 1px solid rgba(255,255,255,0.12);\n          white-space: nowrap;\n          box-shadow: inset 0 1px 0 rgba(255,255,255,0.08);\n        \">\n          {{ $json.output.overall_score }}/100\n        </span>\n      </div>\n\n      <div style=\"\n        margin-top: 12px;\n        display: flex;\n        gap: 10px;\n        flex-wrap: wrap;\n      \">\n        <span style=\"\n          padding: 9px 12px;\n          border-radius: 999px;\n          font-size: 12px;\n          font-weight: 700;\n          color: rgba(255,255,255,0.9);\n          background: rgba(255,255,255,0.06);\n          border: 1px solid rgba(255,255,255,0.10);\n        \">\n          Band • {{ $json.output.band }}\n        </span>\n\n        <span style=\"\n          padding: 9px 12px;\n          border-radius: 999px;\n          font-size: 12px;\n          font-weight: 700;\n          color: rgba(255,255,255,0.9);\n          background: rgba(255,255,255,0.06);\n          border: 1px solid rgba(255,255,255,0.10);\n        \">\n          Confidence • {{ $json.output.confidence }}\n        </span>\n\n        <span style=\"\n          padding: 9px 12px;\n          border-radius: 999px;\n          font-size: 12px;\n          font-weight: 700;\n          color: rgba(255,255,255,0.9);\n          background: rgba(255,255,255,0.06);\n          border: 1px solid rgba(255,255,255,0.10);\n        \">\n          Scenario Adj • {{ $json.output.scenario_adjustment }}\n        </span>\n\n        <span style=\"\n          padding: 9px 12px;\n          border-radius: 999px;\n          font-size: 12px;\n          font-weight: 700;\n          color: rgba(255,255,255,0.9);\n          background: rgba(56,189,248,0.10);\n          border: 1px solid rgba(56,189,248,0.22);\n        \">\n          Motivation • {{ $json.output.motivation_orientation }}\n        </span>\n      </div>\n    </div>\n\n    <!-- Domain scores -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 14px;\n    \">\n      <div style=\"\n        font-size: 16px;\n        font-weight: 800;\n        color: rgba(255,255,255,0.9);\n        margin-bottom: 12px;\n      \">\n        🧭 Domain Scores\n      </div>\n\n      <div style=\"\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        gap: 10px 12px;\n      \">\n        <!-- PV -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">PV</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Purpose & Values</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.PV }}</span>\n        </div>\n\n        <!-- PT -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">PT</span>\n          <span style=\"opacity:0.65; font-weight:600;\">People & Trust</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.PT }}</span>\n        </div>\n\n        <!-- PC -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">PC</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Prospecting</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.PC }}</span>\n        </div>\n\n        <!-- LC -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">LC</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Coachability</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.LC }}</span>\n        </div>\n\n        <!-- GR -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">GR</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Grit</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.GR }}</span>\n        </div>\n\n        <!-- SE -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">SE</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Execution</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.SE }}</span>\n        </div>\n\n        <!-- ET -->\n        <div style=\"\n          grid-column: 1 / -1;\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 11px 12px; border-radius: 12px;\n          background:\n            linear-gradient(135deg, rgba(56,189,248,0.08), rgba(99,102,241,0.10), rgba(168,85,247,0.08));\n          border: 1px solid rgba(255,255,255,0.10);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.96);\n        \">\n          <span style=\"opacity:0.95;\">ET</span>\n          <span style=\"opacity:0.75; font-weight:600;\">Ethics & Long-Term</span>\n          <span style=\"font-weight:800; color:#ffffff;\">{{ $json.output.domain_scores.ET }}</span>\n        </div>\n      </div>\n    </div>\n\n    <!-- Motivation commentary -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 12px;\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 8px;\">\n        🎯 Motivation Notes\n      </div>\n      <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95);\">\n        {{ $json.output.motivation_commentary }}\n      </div>\n    </div>\n\n    <!-- Strengths -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 12px;\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 10px;\">\n        ✅ Top Strengths\n      </div>\n      <div style=\"display:flex; gap: 10px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(56,189,248,0.12); color: #e0f2fe; border: 1px solid rgba(56,189,248,0.22);\n        \">{{ $json.output.top_strengths[0] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(56,189,248,0.12); color: #e0f2fe; border: 1px solid rgba(56,189,248,0.22);\n        \">{{ $json.output.top_strengths[1] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(56,189,248,0.12); color: #e0f2fe; border: 1px solid rgba(56,189,248,0.22);\n        \">{{ $json.output.top_strengths[2] }}</span>\n      </div>\n    </div>\n\n    <!-- Risks -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 12px;\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 10px;\">\n        ⚠️ Key Risks\n      </div>\n      <div style=\"display:flex; gap: 10px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(99,102,241,0.12); color: #eef2ff; border: 1px solid rgba(99,102,241,0.22);\n        \">{{ $json.output.key_risks[0] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(99,102,241,0.12); color: #eef2ff; border: 1px solid rgba(99,102,241,0.22);\n        \">{{ $json.output.key_risks[1] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(99,102,241,0.12); color: #eef2ff; border: 1px solid rgba(99,102,241,0.22);\n        \">{{ $json.output.key_risks[2] }}</span>\n      </div>\n    </div>\n\n    <!-- Scenario insights -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 12px;\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 10px;\">\n        🧪 Scenario Insights\n      </div>\n\n      <div style=\"\n        font-size: 12px; font-weight: 800;\n        color: rgba(226,232,240,0.85);\n        text-transform: uppercase; letter-spacing: 0.10em;\n        margin-bottom: 6px;\n      \">\n        Rejection Response\n      </div>\n      <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95); margin-bottom: 12px;\">\n        {{ $json.output.scenario_insights.rejection_response }}\n      </div>\n\n      <div style=\"\n        font-size: 12px; font-weight: 800;\n        color: rgba(226,232,240,0.85);\n        text-transform: uppercase; letter-spacing: 0.10em;\n        margin-bottom: 6px;\n      \">\n        Suitability Under Pressure\n      </div>\n      <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95);\">\n        {{ $json.output.scenario_insights.suitability_under_pressure }}\n      </div>\n    </div>\n\n    <!-- Commitment + Next step -->\n    <div style=\"\n      display: grid;\n      grid-template-columns: 1fr;\n      gap: 12px;\n      margin-bottom: 12px;\n    \">\n      <div style=\"\n        border-radius: 16px;\n        padding: 16px;\n        background: rgba(255,255,255,0.04);\n        border: 1px solid rgba(255,255,255,0.08);\n        backdrop-filter: blur(8px);\n      \">\n        <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 8px;\">\n          🏃 Commitment Signal\n        </div>\n        <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95);\">\n          {{ $json.output.commitment_signal }}\n        </div>\n      </div>\n\n      <div style=\"\n        border-radius: 16px;\n        padding: 16px;\n        background: rgba(255,255,255,0.04);\n        border: 1px solid rgba(255,255,255,0.08);\n        backdrop-filter: blur(8px);\n      \">\n        <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 8px;\">\n          🧩 Recommended Next Step\n        </div>\n        <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95);\">\n          {{ $json.output.recommended_next_step }}\n        </div>\n      </div>\n    </div>\n\n    <!-- 14-day focus -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 10px;\">\n        📅 14-Day Onboarding Focus\n      </div>\n\n      <div style=\"display:flex; gap: 10px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[0] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[1] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[2] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[3] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[4] }}</span>\n      </div>\n    </div>\n\n  </div>\n\n  <!-- Footer -->\n  <div style=\"\n    padding: 14px 24px 20px 24px;\n    font-size: 13px;\n    color: rgba(226,232,240,0.8);\n    background: rgba(255,255,255,0.02);\n    border-top: 1px solid rgba(255,255,255,0.06);\n  \">\n    DX Candidate Profiler is a screening aid — confirm with interview and trial activity. 📌\n  </div>\n\n</div>\n"},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[2560,368],"id":"7929b393-ba83-4547-a839-364aec793307","name":"Form1","webhookId":"338f275a-3dab-43c3-9968-438d86739d7f"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Redis","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"On form submission":{"main":[[{"node":"PV","type":"main","index":0}]]},"PV":{"main":[[{"node":"PT","type":"main","index":0}]]},"PT":{"main":[[{"node":"PC","type":"main","index":0}]]},"PC":{"main":[[{"node":"LC","type":"main","index":0}]]},"LC":{"main":[[{"node":"GR","type":"main","index":0}]]},"GR":{"main":[[{"node":"SE","type":"main","index":0}]]},"SE":{"main":[[{"node":"ET","type":"main","index":0}]]},"ET":{"main":[[{"node":"Scenarios","type":"main","index":0}]]},"Scenarios":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Message","type":"main","index":0}]]},"Message":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Form1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Singapore","callerPolicy":"workflowsFromSameOwner","executionTimeout":180,"availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0875042-3446-479c-a7bd-ee32a032ee33","activeVersionId":"b0875042-3446-479c-a7bd-ee32a032ee33","triggerCount":1,"shared":[{"updatedAt":"2025-07-18T03:43:48.257Z","createdAt":"2025-07-18T03:43:48.257Z","role":"workflow:owner","workflowId":"0vlYwoE403nsjAA1","projectId":"rkmRnWwY3Rga8c1s"}],"activeVersion":{"updatedAt":"2025-12-10T23:51:21.577Z","createdAt":"2025-12-10T23:51:21.577Z","versionId":"b0875042-3446-479c-a7bd-ee32a032ee33","workflowId":"0vlYwoE403nsjAA1","nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[448,-192],"id":"9b9812ab-d5f7-4151-8a11-512e1888fa34","name":"When chat message received","webhookId":"a41eb3cb-e1e7-40ce-9560-6009fccd5847","disabled":true},{"parameters":{"options":{"systemMessage":"You are a helpful assistant, give short replies, around 3 to 5 sentences."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[784,-192],"id":"bba3f61c-e983-4711-a9d4-9c9d4181d87a","name":"AI Agent","disabled":true},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,16],"id":"a6682099-a4a2-451c-9799-deec28ee635a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-176],"id":"bc473314-1024-4068-8735-71a13ec00407","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[160,-176],"id":"cff8caa5-6039-4824-9177-be256a8853bb","name":"Redis","credentials":{"redis":{"id":"ogorLzpEehr8jAVG","name":"Redis account"}},"disabled":true},{"parameters":{"formTitle":"DX Insurance Sales Candidate Profiler","formDescription":"Find out your potential in insurance sales","formFields":{"values":[{"fieldLabel":"What motivates you most about exploring a career in insurance sales?","fieldType":"textarea","placeholder":"Your answer here","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Next","customCss":"#field-0 {\n  height: 220px; /* Set your desired height */\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-240,368],"id":"9faca29a-4b76-402a-9831-6f7b3a131799","name":"On form submission","webhookId":"cc64bf3e-229c-4ef4-b35e-bb3a944db592"},{"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"\n  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji';\n  max-width: 460px;\n  margin: 10px auto 0;\n  border-radius: 20px;\n  overflow: hidden;\n  border: 1px solid rgba(255,255,255,0.14);\n  background:\n    radial-gradient(1200px 400px at -10% -20%, rgba(99,102,241,0.18), transparent 60%),\n    radial-gradient(1000px 500px at 110% -30%, rgba(168,85,247,0.18), transparent 60%),\n    linear-gradient(180deg, #ffffff 0%, #fbfbff 50%, #f8fafc 100%);\n  box-shadow:\n    0 20px 50px rgba(2, 6, 23, 0.10),\n    inset 0 1px 0 rgba(255,255,255,0.6);\n\">\n\n  <!-- Top glow bar -->\n  <div style=\"\n    height: 6px;\n    background: linear-gradient(90deg, #22d3ee, #6366f1, #a855f7, #f472b6);\n  \"></div>\n\n  <!-- Header -->\n  <div style=\"\n    padding: 22px 22px 16px 22px;\n    background:\n      linear-gradient(135deg, rgba(2,132,199,0.10), rgba(99,102,241,0.12), rgba(168,85,247,0.12)),\n      linear-gradient(135deg, #0ea5e9 0%, #6366f1 50%, #a855f7 100%);\n    color: white;\n    position: relative;\n  \">\n\n    <div style=\"\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      padding: 6px 10px;\n      border-radius: 999px;\n      background: rgba(255,255,255,0.16);\n      border: 1px solid rgba(255,255,255,0.22);\n      font-size: 10px;\n      font-weight: 700;\n      letter-spacing: 0.12em;\n      text-transform: uppercase;\n    \">\n      Results • DignifyX Demo\n    </div>\n\n    <div style=\"margin-top: 10px; font-size: 22px; font-weight: 800; line-height: 1.15;\">\n      🎴 Your Stats Are Ready\n    </div>\n    <div style=\"margin-top: 6px; font-size: 11px; opacity: 0.9;\">\n      Generated from your form submission\n    </div>\n  </div>\n\n  <!-- Body -->\n  <div style=\"padding: 20px 22px 22px 22px;\">\n\n    <!-- Name + Type -->\n    <div style=\"\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      gap: 10px;\n      margin-bottom: 14px;\n    \">\n      <div style=\"\n        font-size: 20px;\n        font-weight: 800;\n        color: #0f172a;\n        letter-spacing: -0.01em;\n      \">\n        {{ $json.Name }}\n      </div>\n\n      <span style=\"\n        display: inline-flex;\n        align-items: center;\n        padding: 7px 12px;\n        font-size: 11px;\n        font-weight: 700;\n        border-radius: 999px;\n        background:\n          linear-gradient(135deg, rgba(99,102,241,0.12), rgba(168,85,247,0.10));\n        color: #4338ca;\n        border: 1px solid rgba(99,102,241,0.20);\n        white-space: nowrap;\n        box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);\n      \">\n        {{ $json.type }}\n      </span>\n    </div>\n\n    <!-- Stat pills row -->\n    <div style=\"\n      display: flex;\n      gap: 8px;\n      flex-wrap: wrap;\n      margin-bottom: 14px;\n    \">\n      <span style=\"\n        padding: 7px 10px;\n        border-radius: 12px;\n        font-size: 11px;\n        font-weight: 700;\n        color: #0f172a;\n        background: rgba(2,132,199,0.06);\n        border: 1px solid rgba(2,132,199,0.14);\n      \">HP <span style=\"opacity:0.6;\">•</span> {{ $json.hp }}</span>\n\n      <span style=\"\n        padding: 7px 10px;\n        border-radius: 12px;\n        font-size: 11px;\n        font-weight: 700;\n        color: #0f172a;\n        background: rgba(99,102,241,0.06);\n        border: 1px solid rgba(99,102,241,0.14);\n      \">Attack <span style=\"opacity:0.6;\">•</span> {{ $json.attack }}</span>\n\n      <span style=\"\n        padding: 7px 10px;\n        border-radius: 12px;\n        font-size: 11px;\n        font-weight: 700;\n        color: #0f172a;\n        background: rgba(168,85,247,0.06);\n        border: 1px solid rgba(168,85,247,0.14);\n      \">Defence <span style=\"opacity:0.6;\">•</span> {{ $json.defence }}</span>\n    </div>\n\n    <!-- Stats cards (mini grid) -->\n    <div style=\"\n      display: grid;\n      grid-template-columns: 1fr 1fr 1fr;\n      gap: 10px;\n      margin-bottom: 16px;\n    \">\n      <div style=\"\n        background: rgba(255,255,255,0.75);\n        border: 1px solid rgba(2, 6, 23, 0.06);\n        border-radius: 14px;\n        padding: 12px 12px 10px 12px;\n        backdrop-filter: blur(6px);\n      \">\n        <div style=\"font-size: 9px; color: #64748b; text-transform: uppercase; letter-spacing: 0.08em;\">\n          HP\n        </div>\n        <div style=\"font-size: 20px; font-weight: 800; color: #0f172a;\">\n          {{ $json.hp }}\n        </div>\n      </div>\n\n      <div style=\"\n        background: rgba(255,255,255,0.75);\n        border: 1px solid rgba(2, 6, 23, 0.06);\n        border-radius: 14px;\n        padding: 12px 12px 10px 12px;\n        backdrop-filter: blur(6px);\n      \">\n        <div style=\"font-size: 9px; color: #64748b; text-transform: uppercase; letter-spacing: 0.08em;\">\n          Attack\n        </div>\n        <div style=\"font-size: 20px; font-weight: 800; color: #0f172a;\">\n          {{ $json.attack }}\n        </div>\n      </div>\n\n      <div style=\"\n        background: rgba(255,255,255,0.75);\n        border: 1px solid rgba(2, 6, 23, 0.06);\n        border-radius: 14px;\n        padding: 12px 12px 10px 12px;\n        backdrop-filter: blur(6px);\n      \">\n        <div style=\"font-size: 9px; color: #64748b; text-transform: uppercase; letter-spacing: 0.08em;\">\n          Defence\n        </div>\n        <div style=\"font-size: 20px; font-weight: 800; color: #0f172a;\">\n          {{ $json.defence }}\n        </div>\n      </div>\n    </div>\n\n    <!-- Core Moves -->\n    <div style=\"\n      border-radius: 14px;\n      padding: 14px;\n      border: 1px solid rgba(2, 6, 23, 0.06);\n      background:\n        linear-gradient(180deg, rgba(255,255,255,0.9), rgba(248,250,252,0.9));\n      margin-bottom: 10px;\n    \">\n      <div style=\"font-size: 12px; font-weight: 800; color: #0f172a; margin-bottom: 8px;\">\n        ⚔️ Core Moves\n      </div>\n\n      <div style=\"display: flex; gap: 8px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 7px 11px;\n          font-size: 11px;\n          font-weight: 700;\n          border-radius: 12px;\n          background: linear-gradient(135deg, rgba(14,165,233,0.10), rgba(34,211,238,0.10));\n          color: #075985;\n          border: 1px solid rgba(14,165,233,0.22);\n        \">{{ $json.move1 }}</span>\n\n        <span style=\"\n          padding: 7px 11px;\n          font-size: 11px;\n          font-weight: 700;\n          border-radius: 12px;\n          background: linear-gradient(135deg, rgba(14,165,233,0.10), rgba(34,211,238,0.10));\n          color: #075985;\n          border: 1px solid rgba(14,165,233,0.22);\n        \">{{ $json.move2 }}</span>\n      </div>\n    </div>\n\n    <!-- Special Moves -->\n    <div style=\"\n      border-radius: 14px;\n      padding: 14px;\n      border: 1px solid rgba(168,85,247,0.18);\n      background:\n        linear-gradient(180deg, rgba(255,255,255,0.9), rgba(251,247,255,0.95));\n    \">\n      <div style=\"font-size: 12px; font-weight: 800; color: #0f172a; margin-bottom: 8px;\">\n        ✨ Special Moves\n      </div>\n\n      <div style=\"display: flex; gap: 8px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 7px 11px;\n          font-size: 11px;\n          font-weight: 700;\n          border-radius: 12px;\n          background: linear-gradient(135deg, rgba(168,85,247,0.12), rgba(244,114,182,0.10));\n          color: #6b21a8;\n          border: 1px solid rgba(168,85,247,0.24);\n        \">{{ $json.special_move1 }}</span>\n\n        <span style=\"\n          padding: 7px 11px;\n          font-size: 11px;\n          font-weight: 700;\n          border-radius: 12px;\n          background: linear-gradient(135deg, rgba(168,85,247,0.12), rgba(244,114,182,0.10));\n          color: #6b21a8;\n          border: 1px solid rgba(168,85,247,0.24);\n        \">{{ $json.special_move2 }}</span>\n      </div>\n    </div>\n\n  </div>\n\n  <!-- Footer -->\n  <div style=\"\n    padding: 12px 22px 18px 22px;\n    font-size: 11px;\n    color: #64748b;\n    background: rgba(255,255,255,0.8);\n    border-top: 1px solid rgba(2, 6, 23, 0.05);\n  \">\n    Tip: Screenshot this card for your deck or demo slides 📸\n  </div>\n</div>\n"},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[2320,368],"id":"14c49ab9-29d3-4a52-bf2e-e96ff350836d","name":"Form","webhookId":"ea720929-2f17-435e-a7da-bbd4ede08d38"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I’m motivated by helping families make better financial decisions, not just earning income.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I can stay committed even when results take months.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m comfortable doing work that requires consistency, not just “big events.”\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[32,368],"id":"8c8015ef-50d9-46b2-bc66-4245e0bf322d","name":"PV","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I naturally ask questions before offering solutions.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I enjoy listening to people’s goals and concerns.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I can explain complex ideas in a simple, calm way.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[288,368],"id":"96c14a8a-38ee-4600-9d44-c2d2fe0c70cd","name":"PT","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I can handle rejection without taking it personally.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m willing to start conversations with people I don’t know.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m comfortable asking for introductions/referrals when appropriate.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[528,368],"id":"614b4276-ff08-42b3-9fd4-851ce86caed7","name":"PC","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I actively seek feedback even when it’s uncomfortable.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"If a mentor gives me a method, I will test it consistently for at least 2–4 weeks.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I like improving through practice, not just theory.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[720,368],"id":"b325d7f4-4baf-4af1-8b72-12cd9e214760","name":"LC","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"When I fail, I recover quickly and try again.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I don’t need daily motivation to stay consistent.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I can handle uncertainty about income early on.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[928,368],"id":"e2129576-9e07-4a47-a4c8-f3711fd93803","name":"GR","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I plan my week with clear targets and follow through.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I track my progress instead of guessing.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m comfortable with daily routines and KPI-based goals.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[1152,368],"id":"869b89fb-3ac3-48a3-976b-e849392f2a53","name":"SE","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"I would rather lose a sale than push a plan I don’t believe suits the client.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I value reputation and trust more than short-term gains.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"I’m comfortable recommending “do nothing for now” if it’s best for the client.\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"1 - Strongly Disagree\" },\n        { \"option\": \"2 - Disagree\" },\n        { \"option\": \"3 - Neutral\" },\n        { \"option\": \"4 - Agree\" },\n        { \"option\": \"5 - Strongly Agree\" }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[1376,368],"id":"71752dce-c0a5-4930-b901-8457252d4b3c","name":"ET","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"You approach 20 people this week. 18 say no or ignore you. What’s your most likely response?\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        {\n          \"option\": \"I’d feel discouraged and probably reduce outreach next week.\"\n        },\n        {\n          \"option\": \"I’d pause and wait for better timing before trying again.\"\n        },\n        {\n          \"option\": \"I’d ask my leader/mentor to review my approach and help me adjust.\"\n        },\n        {\n          \"option\": \"I’d refine my script/targeting and repeat the plan with better structure.\"\n        },\n        {\n          \"option\": \"I’d seriously consider switching to a different career direction quickly.\"\n        }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"A client wants a plan you feel is not suitable, but they insist and are ready to buy today. What’s your most likely response?\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        {\n          \"option\": \"I’d proceed since the client wants it.\"\n        },\n        {\n          \"option\": \"I’d proceed but quickly mention a disclaimer.\"\n        },\n        {\n          \"option\": \"I’d re-explain the risks clearly and document a thorough suitability note.\"\n        },\n        {\n          \"option\": \"I’d recommend a more suitable alternative or suggest revisiting later.\"\n        },\n        {\n          \"option\": \"I’d ask my leader/mentor for guidance before finalizing.\"\n        }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"If selected, are you willing to complete a 14-day onboarding sprint that includes daily outreach + reflection?\",\n    \"fieldType\": \"radio\",\n    \"fieldOptions\": {\n      \"values\": [\n        {\n          \"option\": \"Yes, fully committed.\"\n        },\n        {\n          \"option\": \"Yes, but I may miss a few days.\"\n        },\n        {\n          \"option\": \"Not sure yet.\"\n        },\n        {\n          \"option\": \"No.\"\n        }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n","limitWaitTime":true,"resumeAmount":3,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[1584,368],"id":"d788cd67-6795-446a-beb5-5df02acccc75","name":"Scenarios","webhookId":"e8d900e5-9c19-4f61-b16d-564a98f69bcd"},{"parameters":{"assignments":{"assignments":[{"id":"cbefdbc7-c059-4f4a-bf41-ea868259aef7","name":"What motivates you most about exploring a career in insurance sales?","value":"={{ $('On form submission').item.json['What motivates you most about exploring a career in insurance sales?'] }}","type":"string"},{"id":"773eef60-d308-4682-8a8b-76ba2068f573","name":"I’m motivated by helping families make better financial decisions, not just earning income.","value":"={{ $('PV').item.json['I’m motivated by helping families make better financial decisions, not just earning income.'] }}","type":"string"},{"id":"ffde8234-5e47-454a-8b03-ebaea9057b76","name":"I can stay committed even when results take months.","value":"={{ $('PV').item.json['I can stay committed even when results take months.'] }}","type":"string"},{"id":"13b73aa6-9a27-4d46-95f6-71dfa6397822","name":"I’m comfortable doing work that requires consistency, not just “big events.”","value":"={{ $('PV').item.json['I’m comfortable doing work that requires consistency, not just “big events.”'] }}","type":"string"},{"id":"47ecfee6-2f13-46ce-8663-5f77c8506eb2","name":"I naturally ask questions before offering solutions.","value":"={{ $('PT').item.json['I naturally ask questions before offering solutions.'] }}","type":"string"},{"id":"925bc36a-605c-44c6-93d6-31118087681c","name":"I enjoy listening to people’s goals and concerns.","value":"={{ $('PT').item.json['I enjoy listening to people’s goals and concerns.'] }}","type":"string"},{"id":"8556e6f2-55d0-4abc-a1d0-251c60c518a0","name":"I can explain complex ideas in a simple, calm way.","value":"={{ $('PT').item.json['I can explain complex ideas in a simple, calm way.'] }}","type":"string"},{"id":"8f50b3af-ae7b-4740-bf3c-465c75747ff2","name":"I can handle rejection without taking it personally.","value":"={{ $('PC').item.json['I can handle rejection without taking it personally.'] }}","type":"string"},{"id":"833be132-0b59-47c2-81cb-0f8665cf8e26","name":"I’m willing to start conversations with people I don’t know.","value":"={{ $('PC').item.json['I’m willing to start conversations with people I don’t know.'] }}","type":"string"},{"id":"0c895616-ecc3-4477-b932-15c50c2fe6ea","name":"I’m comfortable asking for introductions/referrals when appropriate.","value":"={{ $('PC').item.json['I’m comfortable asking for introductions/referrals when appropriate.'] }}","type":"string"},{"id":"aa6082d1-6510-4577-b454-5926877b6e24","name":"I actively seek feedback even when it’s uncomfortable.","value":"={{ $('LC').item.json['I actively seek feedback even when it’s uncomfortable.'] }}","type":"string"},{"id":"feaeee63-5208-4388-b825-4b11cf6ab2cb","name":"If a mentor gives me a method, I will test it consistently for at least 2–4 weeks.","value":"={{ $('LC').item.json['If a mentor gives me a method, I will test it consistently for at least 2–4 weeks.'] }}","type":"string"},{"id":"667854f4-3f47-401f-8029-b5ce1f71d4e1","name":"I like improving through practice, not just theory.","value":"={{ $('LC').item.json['I like improving through practice, not just theory.'] }}","type":"string"},{"id":"8fe80552-c5d3-4e20-be6e-654b282d1e9e","name":"When I fail, I recover quickly and try again.","value":"={{ $('GR').item.json['When I fail, I recover quickly and try again.'] }}","type":"string"},{"id":"258d0a6c-26ba-4339-b23b-b145b40563ec","name":"I don’t need daily motivation to stay consistent.","value":"={{ $('GR').item.json['I don’t need daily motivation to stay consistent.'] }}","type":"string"},{"id":"507c6c3a-0c88-4643-9d97-6148a60fbd32","name":"I can handle uncertainty about income early on.","value":"={{ $('GR').item.json['I can handle uncertainty about income early on.'] }}","type":"string"},{"id":"2e10b6da-0184-42a8-b87c-187090ae7797","name":"I plan my week with clear targets and follow through.","value":"={{ $('SE').item.json['I plan my week with clear targets and follow through.'] }}","type":"string"},{"id":"09b616c2-f93b-47b1-8fd2-a722a7f361eb","name":"I track my progress instead of guessing.","value":"={{ $('SE').item.json['I track my progress instead of guessing.'] }}","type":"string"},{"id":"e5dd59ad-1a41-4fe8-b05c-e54f8de4660b","name":"I’m comfortable with daily routines and KPI-based goals.","value":"={{ $('SE').item.json['I’m comfortable with daily routines and KPI-based goals.'] }}","type":"string"},{"id":"c0de41c7-9275-46d2-b9cd-59db72c341de","name":"I would rather lose a sale than push a plan I don’t believe suits the client.","value":"={{ $('ET').item.json['I would rather lose a sale than push a plan I don’t believe suits the client.'] }}","type":"string"},{"id":"6561f21e-c023-4a47-9617-ebfc9e0eea55","name":"I value reputation and trust more than short-term gains.","value":"={{ $('ET').item.json['I value reputation and trust more than short-term gains.'] }}","type":"string"},{"id":"6a6520fc-a1ed-4d72-bd98-c765cfb49c38","name":"I’m comfortable recommending “do nothing for now” if it’s best for the client.","value":"={{ $('ET').item.json['I’m comfortable recommending “do nothing for now” if it’s best for the client.'] }}","type":"string"},{"id":"6888f757-1046-4b64-93d8-7c9adae5a3e7","name":"You approach 20 people this week. 18 say no or ignore you. What’s your most likely response?","value":"={{ $json['You approach 20 people this week. 18 say no or ignore you. What’s your most likely response?'] }}","type":"string"},{"id":"87c54cf3-d8d8-4755-91ba-a556baeee927","name":"A client wants a plan you feel is not suitable, but they insist and are ready to buy today. What’s your most likely response?","value":"={{ $json['A client wants a plan you feel is not suitable, but they insist and are ready to buy today. What’s your most likely response?'] }}","type":"string"},{"id":"cf911227-27fb-46ad-a95a-dddfc1e1e92b","name":"If selected, are you willing to complete a 14-day onboarding sprint that includes daily outreach + reflection?","value":"={{ $json['If selected, are you willing to complete a 14-day onboarding sprint that includes daily outreach + reflection?'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1792,368],"id":"5a0a5d78-5612-499e-8ffa-f2c640fa74a2","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=You are POP7, an assessment analyst for insurance sales recruitment.\n\nYou will receive a JSON object with:\n- motivation_text (string): {{ $json.motivation_text }}\n- likert (object of 21 items scored 1–5): {{ JSON.stringify($json.likert, null, 2) }}\n- scenarios:\n  - rejection_choice (string): {{ $json.scenarios.rejection_choice }}\n  - suitability_choice (string): {{ $json.scenarios.suitability_choice }}\n- commitment_choice (string): {{ $json.commitment_choice }}\n- domain_raw: {{ JSON.stringify($json.domain_raw, null, 2) }}\n\nYour task:\n1) Convert domain_raw into domain_scores (0–100).\n   Use: domain_score = round(((raw - 3) / 12) * 100).\n2) Interpret motivation_text and classify motivation_orientation as one of:\n   - service-led\n   - growth-led\n   - income-led\n   - flexibility-led\n   - mixed\n3) Evaluate scenario and commitment signals and apply a small adjustment to overall_score:\n   - Up to +6 for strong alignment\n   - Down to -6 for weak alignment\n   Keep this adjustment modest.\n4) Compute overall_score (0–100) using these weights:\n   - PC 20%\n   - GR 20%\n   - LC 15%\n   - SE 15%\n   - PT 10%\n   - PV 10%\n   - ET 10%\n   Then apply scenario_adjustment and clamp to 0–100.\n5) Assign a band:\n   - High Potential: 80–100\n   - Strong Potential: 65–79\n   - Moderate Potential: 50–64\n   - Low Fit (for now): 0–49\n6) Provide:\n   - top_strengths (exactly 3 short bullets)\n   - key_risks (exactly 3 short bullets)\n   - scenario_insights (2 short interpretations)\n   - commitment_signal (short label + meaning)\n   - recommended_next_step (1 concise action)\n   - onboarding_14_day_focus (exactly 5 micro-actions)\n\nAnti-inflation rules:\n- If ET scores are high but suitability_choice suggests pushing unsuitable sales, flag a risk.\n- If self-rated coachability is high but LC1 is low, highlight feedback discomfort.\n- If motivation is mainly income/flexibility, do not penalize excessively, but note PV risk.\n- Reward structured, improvement-oriented responses in scenarios.\n\nOutput rules:\n- Return ONLY valid JSON.\n- No markdown, no extra text.\n- Use the exact keys defined in the schema.\n- All numbers must be integers.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2208,368],"id":"6cfedbe1-adc0-4d38-905b-f13ae0d88439","name":"AI Agent1"},{"parameters":{"jsCode":"// === POP7 Parser (compact + robust for n8n Forms output) ===\n\n// In normal runs, $json is an object.\n// This fallback also handles cases where someone tests with an array.\nconst raw = Array.isArray($json) ? $json[0] : $json;\n\n// ---- helpers ----\nfunction flatten(obj, out = {}) {\n  if (obj == null) return out;\n\n  if (typeof obj !== \"object\") {\n    return out;\n  }\n\n  if (Array.isArray(obj)) {\n    obj.forEach(v => flatten(v, out));\n    return out;\n  }\n\n  for (const [k, v] of Object.entries(obj)) {\n    out[k] = v;\n    if (v && typeof v === \"object\") flatten(v, out);\n  }\n  return out;\n}\n\n// Find the first string leaf anywhere inside a value\nfunction deepFirstString(v) {\n  if (typeof v === \"string\") return v;\n  if (!v || typeof v !== \"object\") return null;\n\n  for (const val of Object.values(v)) {\n    const s = deepFirstString(val);\n    if (s) return s;\n  }\n  return null;\n}\n\n// Normalize keys for fallback matching\nfunction norm(s) {\n  return String(s || \"\")\n    .toLowerCase()\n    .replace(/[“”„‟]/g, '\"')\n    .replace(/[’‘]/g, \"'\")\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// Try to get value by exact label first, then normalized-key match, then loose contains\nfunction getVal(label) {\n  if (raw[label] !== undefined) return raw[label];\n\n  const nlabel = norm(label);\n  const keys = Object.keys(raw);\n\n  // normalized exact\n  for (const k of keys) {\n    if (norm(k) === nlabel) return raw[k];\n  }\n\n  // loose contains (good for your scenario key splits)\n  for (const k of keys) {\n    const nk = norm(k);\n    if (nk.includes(nlabel.slice(0, Math.min(40, nlabel.length)))) {\n      return raw[k];\n    }\n  }\n\n  return null;\n}\n\n// Extract the Likert number from option text like \"4 - Agree\"\nfunction extractLikert(v) {\n  const s = deepFirstString(v) || \"\";\n  const m = s.match(/\\b([1-5])\\b/);\n  return m ? Number(m[1]) : null;\n}\n\n// ---- canonical labels (match your form labels) ----\nconst Q = {\n  MOTIVATION: \"What motivates you most about exploring a career in insurance sales?\",\n\n  PV2: \"I’m motivated by helping families make better financial decisions, not just earning income\",\n  PV3: \"I can stay committed even when results take months\",\n  PV4: \"I’m comfortable doing work that requires consistency, not just “big events\",\n\n  PT1: \"I naturally ask questions before offering solutions\",\n  PT2: \"I enjoy listening to people’s goals and concerns\",\n  PT3: \"I can explain complex ideas in a simple, calm way\",\n\n  PC1: \"I can handle rejection without taking it personally\",\n  PC2: \"I’m willing to start conversations with people I don’t know\",\n  PC3: \"I’m comfortable asking for introductions/referrals when appropriate\",\n\n  LC1: \"I actively seek feedback even when it’s uncomfortable\",\n  LC2: \"If a mentor gives me a method, I will test it consistently for at least 2–4 weeks\",\n  LC3: \"I like improving through practice, not just theory\",\n\n  GR1: \"When I fail, I recover quickly and try again\",\n  GR2: \"I don’t need daily motivation to stay consistent\",\n  GR3: \"I can handle uncertainty about income early on\",\n\n  SE1: \"I plan my week with clear targets and follow through\",\n  SE2: \"I track my progress instead of guessing\",\n  SE3: \"I’m comfortable with daily routines and KPI-based goals\",\n\n  ET1: \"I would rather lose a sale than push a plan I don’t believe suits the client\",\n  ET2: \"I value reputation and trust more than short-term gains\",\n  ET3: \"I’m comfortable recommending “do nothing for now” if it’s best for the client\",\n\n  SCENARIO_REJECTION: \"You approach 20 people this week\",\n  SCENARIO_SUITABILITY: \"A client wants a plan you feel is not suitable, but they insist and are ready to buy today\",\n  COMMITMENT: \"If selected, are you willing to complete a 14-day onboarding sprint that includes daily outreach + reflection?\"\n};\n\n// ---- build parsed payload ----\nconst parsed = {\n  motivation_text: deepFirstString(getVal(Q.MOTIVATION)),\n\n  likert: {\n    PV2: extractLikert(getVal(Q.PV2)),\n    PV3: extractLikert(getVal(Q.PV3)),\n    PV4: extractLikert(getVal(Q.PV4)),\n\n    PT1: extractLikert(getVal(Q.PT1)),\n    PT2: extractLikert(getVal(Q.PT2)),\n    PT3: extractLikert(getVal(Q.PT3)),\n\n    PC1: extractLikert(getVal(Q.PC1)),\n    PC2: extractLikert(getVal(Q.PC2)),\n    PC3: extractLikert(getVal(Q.PC3)),\n\n    LC1: extractLikert(getVal(Q.LC1)),\n    LC2: extractLikert(getVal(Q.LC2)),\n    LC3: extractLikert(getVal(Q.LC3)),\n\n    GR1: extractLikert(getVal(Q.GR1)),\n    GR2: extractLikert(getVal(Q.GR2)),\n    GR3: extractLikert(getVal(Q.GR3)),\n\n    SE1: extractLikert(getVal(Q.SE1)),\n    SE2: extractLikert(getVal(Q.SE2)),\n    SE3: extractLikert(getVal(Q.SE3)),\n\n    ET1: extractLikert(getVal(Q.ET1)),\n    ET2: extractLikert(getVal(Q.ET2)),\n    ET3: extractLikert(getVal(Q.ET3))\n  },\n\n  scenarios: {\n    rejection_choice: deepFirstString(getVal(Q.SCENARIO_REJECTION)),\n    suitability_choice: deepFirstString(getVal(Q.SCENARIO_SUITABILITY))\n  },\n\n  commitment_choice: deepFirstString(getVal(Q.COMMITMENT))\n};\n\n// ---- compute domain raw sums (3 items each) ----\nfunction sum(ids) {\n  return ids.reduce((acc, id) => acc + (parsed.likert[id] || 0), 0);\n}\n\nparsed.domain_raw = {\n  PV: sum([\"PV2\", \"PV3\", \"PV4\"]),\n  PT: sum([\"PT1\", \"PT2\", \"PT3\"]),\n  PC: sum([\"PC1\", \"PC2\", \"PC3\"]),\n  LC: sum([\"LC1\", \"LC2\", \"LC3\"]),\n  GR: sum([\"GR1\", \"GR2\", \"GR3\"]),\n  SE: sum([\"SE1\", \"SE2\", \"SE3\"]),\n  ET: sum([\"ET1\", \"ET2\", \"ET3\"])\n};\n\n// ---- minimal debug for sanity ----\nparsed._debug = {\n  has_motivation: !!parsed.motivation_text,\n  rejection_choice_found: !!parsed.scenarios.rejection_choice,\n  suitability_choice_found: !!parsed.scenarios.suitability_choice,\n  commitment_found: !!parsed.commitment_choice\n};\n\nreturn [{ json: parsed }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,368],"id":"bea3ca42-af6a-44de-b38c-4b6f54a15c8a","name":"Message"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{"responseFormat":"json_object","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2160,576],"id":"34cc3ab0-5a27-4f29-b740-233221905fbc","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"DzjwD8q1tQ5Jksm6","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"overall_score\": 73,\n  \"band\": \"Strong Potential\",\n  \"confidence\": \"medium\",\n  \"scenario_adjustment\": 2,\n  \"motivation_orientation\": \"income-led\",\n  \"motivation_commentary\": \"You are attracted by flexibility and earning upside. This can be a strong driver, but long-term success will depend on building a service mindset and consistency during slow months.\",\n  \"domain_scores\": {\n    \"PV\": 50,\n    \"PT\": 50,\n    \"PC\": 58,\n    \"LC\": 67,\n    \"GR\": 58,\n    \"SE\": 67,\n    \"ET\": 100\n  },\n  \"top_strengths\": [\n    \"Strong ethical baseline and client-first instincts.\",\n    \"Good willingness to execute and improve with a method.\",\n    \"Comfortable with structured, KPI-driven routines.\"\n  ],\n  \"key_risks\": [\n    \"Feedback discomfort may slow early growth.\",\n    \"Purpose/values orientation appears more income-driven than mission-driven.\",\n    \"Rejection tolerance could wobble without strong coaching support.\"\n  ],\n  \"scenario_insights\": {\n    \"rejection_response\": \"Your answer suggests a problem-solving mindset and resilience through improvement rather than avoidance.\",\n    \"suitability_under_pressure\": \"You show caution and a preference to seek guidance, which supports ethical decision-making.\"\n  },\n  \"commitment_signal\": \"Moderate commitment — likely needs structure and accountability to complete the sprint consistently.\",\n  \"recommended_next_step\": \"Proceed with interview plus a 14-day structured trial sprint with daily activity targets and short debriefs.\",\n  \"onboarding_14_day_focus\": [\n    \"Practice a simple intro + needs-first script daily.\",\n    \"Log 10 outreach attempts/day with a short reflection.\",\n    \"Role-play objection handling 3 times/week.\",\n    \"Shadow an advisor and note 3 trust-building phrases to adopt.\",\n    \"Meet your leader twice weekly for feedback and micro-adjustments.\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2384,576],"id":"9ef64945-1ca7-4637-8012-55364cb9db23","name":"Structured Output Parser"},{"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"\n  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji';\n  max-width: 520px;\n  margin: 10px auto 0;\n  border-radius: 22px;\n  overflow: hidden;\n  border: 1px solid rgba(255,255,255,0.06);\n  background:\n    radial-gradient(900px 500px at 15% 10%, rgba(59,130,246,0.16), transparent 60%),\n    radial-gradient(900px 600px at 85% 35%, rgba(14,165,233,0.14), transparent 62%),\n    radial-gradient(1200px 800px at 80% 90%, rgba(99,102,241,0.12), transparent 65%),\n    linear-gradient(135deg, #050b1a 0%, #071225 35%, #0a1b33 70%, #0b1f3a 100%);\n  box-shadow:\n    0 22px 60px rgba(0, 0, 0, 0.45),\n    inset 0 1px 0 rgba(255,255,255,0.06);\n\">\n\n  <!-- Top glow bar -->\n  <div style=\"\n    height: 6px;\n    background: linear-gradient(90deg, #22d3ee, #38bdf8, #60a5fa, #6366f1);\n    opacity: 0.9;\n  \"></div>\n\n  <!-- Header -->\n  <div style=\"\n    padding: 24px 24px 18px 24px;\n    color: #ffffff;\n    position: relative;\n  \">\n    <div style=\"\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      padding: 8px 12px;\n      border-radius: 999px;\n      background: rgba(255,255,255,0.06);\n      border: 1px solid rgba(255,255,255,0.10);\n      font-size: 12px;\n      font-weight: 700;\n      letter-spacing: 0.12em;\n      text-transform: uppercase;\n      color: rgba(255,255,255,0.85);\n      backdrop-filter: blur(6px);\n    \">\n      Results • DignifyX POC\n    </div>\n\n    <div style=\"\n      margin-top: 12px;\n      font-size: 28px;\n      font-weight: 800;\n      line-height: 1.15;\n      letter-spacing: -0.01em;\n    \">\n      📊 DX Candidate Profile\n    </div>\n\n    <div style=\"margin-top: 8px; font-size: 14px; opacity: 0.85;\">\n      Generated from your assessment responses\n    </div>\n  </div>\n\n  <!-- Body -->\n  <div style=\"padding: 6px 24px 24px 24px;\">\n\n    <!-- Headline score card -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px 16px 14px 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 16px;\n    \">\n      <div style=\"\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        gap: 12px;\n      \">\n        <div style=\"\n          font-size: 14px;\n          font-weight: 800;\n          color: rgba(255,255,255,0.78);\n          text-transform: uppercase;\n          letter-spacing: 0.12em;\n        \">\n          Overall DX Candidate Score\n        </div>\n\n        <span style=\"\n          display: inline-flex;\n          align-items: center;\n          padding: 10px 14px;\n          font-size: 14px;\n          font-weight: 800;\n          border-radius: 999px;\n          background:\n            linear-gradient(135deg, rgba(56,189,248,0.18), rgba(99,102,241,0.18));\n          color: #e0f2fe;\n          border: 1px solid rgba(255,255,255,0.12);\n          white-space: nowrap;\n          box-shadow: inset 0 1px 0 rgba(255,255,255,0.08);\n        \">\n          {{ $json.output.overall_score }}/100\n        </span>\n      </div>\n\n      <div style=\"\n        margin-top: 12px;\n        display: flex;\n        gap: 10px;\n        flex-wrap: wrap;\n      \">\n        <span style=\"\n          padding: 9px 12px;\n          border-radius: 999px;\n          font-size: 12px;\n          font-weight: 700;\n          color: rgba(255,255,255,0.9);\n          background: rgba(255,255,255,0.06);\n          border: 1px solid rgba(255,255,255,0.10);\n        \">\n          Band • {{ $json.output.band }}\n        </span>\n\n        <span style=\"\n          padding: 9px 12px;\n          border-radius: 999px;\n          font-size: 12px;\n          font-weight: 700;\n          color: rgba(255,255,255,0.9);\n          background: rgba(255,255,255,0.06);\n          border: 1px solid rgba(255,255,255,0.10);\n        \">\n          Confidence • {{ $json.output.confidence }}\n        </span>\n\n        <span style=\"\n          padding: 9px 12px;\n          border-radius: 999px;\n          font-size: 12px;\n          font-weight: 700;\n          color: rgba(255,255,255,0.9);\n          background: rgba(255,255,255,0.06);\n          border: 1px solid rgba(255,255,255,0.10);\n        \">\n          Scenario Adj • {{ $json.output.scenario_adjustment }}\n        </span>\n\n        <span style=\"\n          padding: 9px 12px;\n          border-radius: 999px;\n          font-size: 12px;\n          font-weight: 700;\n          color: rgba(255,255,255,0.9);\n          background: rgba(56,189,248,0.10);\n          border: 1px solid rgba(56,189,248,0.22);\n        \">\n          Motivation • {{ $json.output.motivation_orientation }}\n        </span>\n      </div>\n    </div>\n\n    <!-- Domain scores -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 14px;\n    \">\n      <div style=\"\n        font-size: 16px;\n        font-weight: 800;\n        color: rgba(255,255,255,0.9);\n        margin-bottom: 12px;\n      \">\n        🧭 Domain Scores\n      </div>\n\n      <div style=\"\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        gap: 10px 12px;\n      \">\n        <!-- PV -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">PV</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Purpose & Values</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.PV }}</span>\n        </div>\n\n        <!-- PT -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">PT</span>\n          <span style=\"opacity:0.65; font-weight:600;\">People & Trust</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.PT }}</span>\n        </div>\n\n        <!-- PC -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">PC</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Prospecting</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.PC }}</span>\n        </div>\n\n        <!-- LC -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">LC</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Coachability</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.LC }}</span>\n        </div>\n\n        <!-- GR -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">GR</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Grit</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.GR }}</span>\n        </div>\n\n        <!-- SE -->\n        <div style=\"\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 10px 12px; border-radius: 12px;\n          background: rgba(255,255,255,0.05);\n          border: 1px solid rgba(255,255,255,0.08);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.92);\n        \">\n          <span style=\"opacity:0.9;\">SE</span>\n          <span style=\"opacity:0.65; font-weight:600;\">Execution</span>\n          <span style=\"font-weight:800; color:#e0f2fe;\">{{ $json.output.domain_scores.SE }}</span>\n        </div>\n\n        <!-- ET -->\n        <div style=\"\n          grid-column: 1 / -1;\n          display:flex; align-items:center; justify-content:space-between; gap: 10px;\n          padding: 11px 12px; border-radius: 12px;\n          background:\n            linear-gradient(135deg, rgba(56,189,248,0.08), rgba(99,102,241,0.10), rgba(168,85,247,0.08));\n          border: 1px solid rgba(255,255,255,0.10);\n          font-size: 12px; font-weight: 700;\n          color: rgba(255,255,255,0.96);\n        \">\n          <span style=\"opacity:0.95;\">ET</span>\n          <span style=\"opacity:0.75; font-weight:600;\">Ethics & Long-Term</span>\n          <span style=\"font-weight:800; color:#ffffff;\">{{ $json.output.domain_scores.ET }}</span>\n        </div>\n      </div>\n    </div>\n\n    <!-- Motivation commentary -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 12px;\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 8px;\">\n        🎯 Motivation Notes\n      </div>\n      <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95);\">\n        {{ $json.output.motivation_commentary }}\n      </div>\n    </div>\n\n    <!-- Strengths -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 12px;\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 10px;\">\n        ✅ Top Strengths\n      </div>\n      <div style=\"display:flex; gap: 10px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(56,189,248,0.12); color: #e0f2fe; border: 1px solid rgba(56,189,248,0.22);\n        \">{{ $json.output.top_strengths[0] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(56,189,248,0.12); color: #e0f2fe; border: 1px solid rgba(56,189,248,0.22);\n        \">{{ $json.output.top_strengths[1] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(56,189,248,0.12); color: #e0f2fe; border: 1px solid rgba(56,189,248,0.22);\n        \">{{ $json.output.top_strengths[2] }}</span>\n      </div>\n    </div>\n\n    <!-- Risks -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 12px;\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 10px;\">\n        ⚠️ Key Risks\n      </div>\n      <div style=\"display:flex; gap: 10px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(99,102,241,0.12); color: #eef2ff; border: 1px solid rgba(99,102,241,0.22);\n        \">{{ $json.output.key_risks[0] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(99,102,241,0.12); color: #eef2ff; border: 1px solid rgba(99,102,241,0.22);\n        \">{{ $json.output.key_risks[1] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(99,102,241,0.12); color: #eef2ff; border: 1px solid rgba(99,102,241,0.22);\n        \">{{ $json.output.key_risks[2] }}</span>\n      </div>\n    </div>\n\n    <!-- Scenario insights -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n      margin-bottom: 12px;\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 10px;\">\n        🧪 Scenario Insights\n      </div>\n\n      <div style=\"\n        font-size: 12px; font-weight: 800;\n        color: rgba(226,232,240,0.85);\n        text-transform: uppercase; letter-spacing: 0.10em;\n        margin-bottom: 6px;\n      \">\n        Rejection Response\n      </div>\n      <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95); margin-bottom: 12px;\">\n        {{ $json.output.scenario_insights.rejection_response }}\n      </div>\n\n      <div style=\"\n        font-size: 12px; font-weight: 800;\n        color: rgba(226,232,240,0.85);\n        text-transform: uppercase; letter-spacing: 0.10em;\n        margin-bottom: 6px;\n      \">\n        Suitability Under Pressure\n      </div>\n      <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95);\">\n        {{ $json.output.scenario_insights.suitability_under_pressure }}\n      </div>\n    </div>\n\n    <!-- Commitment + Next step -->\n    <div style=\"\n      display: grid;\n      grid-template-columns: 1fr;\n      gap: 12px;\n      margin-bottom: 12px;\n    \">\n      <div style=\"\n        border-radius: 16px;\n        padding: 16px;\n        background: rgba(255,255,255,0.04);\n        border: 1px solid rgba(255,255,255,0.08);\n        backdrop-filter: blur(8px);\n      \">\n        <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 8px;\">\n          🏃 Commitment Signal\n        </div>\n        <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95);\">\n          {{ $json.output.commitment_signal }}\n        </div>\n      </div>\n\n      <div style=\"\n        border-radius: 16px;\n        padding: 16px;\n        background: rgba(255,255,255,0.04);\n        border: 1px solid rgba(255,255,255,0.08);\n        backdrop-filter: blur(8px);\n      \">\n        <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 8px;\">\n          🧩 Recommended Next Step\n        </div>\n        <div style=\"font-size: 14px; line-height: 1.5; color: rgba(226,232,240,0.95);\">\n          {{ $json.output.recommended_next_step }}\n        </div>\n      </div>\n    </div>\n\n    <!-- 14-day focus -->\n    <div style=\"\n      border-radius: 16px;\n      padding: 16px;\n      background: rgba(255,255,255,0.04);\n      border: 1px solid rgba(255,255,255,0.08);\n      backdrop-filter: blur(8px);\n    \">\n      <div style=\"font-size: 16px; font-weight: 800; color: rgba(255,255,255,0.95); margin-bottom: 10px;\">\n        📅 14-Day Onboarding Focus\n      </div>\n\n      <div style=\"display:flex; gap: 10px; flex-wrap: wrap;\">\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[0] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[1] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[2] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[3] }}</span>\n        <span style=\"\n          padding: 9px 12px; font-size: 12px; font-weight: 700; border-radius: 999px;\n          background: rgba(255,255,255,0.06); color: #e2e8f0; border: 1px solid rgba(255,255,255,0.10);\n        \">{{ $json.output.onboarding_14_day_focus[4] }}</span>\n      </div>\n    </div>\n\n  </div>\n\n  <!-- Footer -->\n  <div style=\"\n    padding: 14px 24px 20px 24px;\n    font-size: 13px;\n    color: rgba(226,232,240,0.8);\n    background: rgba(255,255,255,0.02);\n    border-top: 1px solid rgba(255,255,255,0.06);\n  \">\n    DX Candidate Profiler is a screening aid — confirm with interview and trial activity. 📌\n  </div>\n\n</div>\n"},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[2560,368],"id":"7929b393-ba83-4547-a839-364aec793307","name":"Form1","webhookId":"338f275a-3dab-43c3-9968-438d86739d7f"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Redis","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"On form submission":{"main":[[{"node":"PV","type":"main","index":0}]]},"PV":{"main":[[{"node":"PT","type":"main","index":0}]]},"PT":{"main":[[{"node":"PC","type":"main","index":0}]]},"PC":{"main":[[{"node":"LC","type":"main","index":0}]]},"LC":{"main":[[{"node":"GR","type":"main","index":0}]]},"GR":{"main":[[{"node":"SE","type":"main","index":0}]]},"SE":{"main":[[{"node":"ET","type":"main","index":0}]]},"ET":{"main":[[{"node":"Scenarios","type":"main","index":0}]]},"Scenarios":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Message","type":"main","index":0}]]},"Message":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Form1","type":"main","index":0}]]}},"authors":"Leon Kiong","name":null,"description":null},"tags":[{"updatedAt":"2025-07-21T01:33:54.703Z","createdAt":"2025-07-21T01:33:54.703Z","id":"RRcvhZRdq2G4zQTM","name":"test"}]}